<script type="text/javascript">
  function capitalizeMe(obj) {
    val = obj.value;
    newVal = '';
    val = val.split(' ');
    for(var c=0; c < val.length; c++) {
      newVal += val[c].substring(0,1).toUpperCase() + val[c].substring(1,val[c].length) + ' ';
    }
    obj.value = newVal;
  }
  function webform_validate() {
      var msg = '';
      if (document.getElementById('Phone').value.replace(/[^0-9]/, '').length < 10) {
          msg += "The phone field is required. Please enter all 10 digits, including the area code.\n";
      }

      if (msg) {
          alert(msg);
          return false;
      }
      return true;
  }
</script>
<style type="text/css">
  #CallLoop { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 4px; }
  #CallLoop td, #CallLoop th { padding: 5px 8px; }
  #CallLoop th { text-align: left; font-weight: normal; font-size: 13px; }
  #CallLoop .callloop-bottom { margin: 20px 10px 10px 10px; font-size: 10px; text-align:center; color: #666;}
  #CallLoop a { color: #3891c1; }
  #CallLoop a:link { color: #3891c1; text-decoration: none; }
  #CallLoop a:hover { text-decoration: underline; }
  #CallLoop .callloop-text { margin: 10px 0 5px 0; }
  #CallLoop input[type=text] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 4px 2px; font-size: 13px; border: 1px solid #bbbbbb; background: #FFF url(https://s3.amazonaws.com/callloop/images/fieldbg.gif) repeat-x scroll top; width: 100%;  }
  #CallLoop input[type=text]:focus { border: 1px solid #F60; color: #222; outline: none; border-color: #91bee6; -webkit-box-shadow: 0 0 5px rgba(0, 136, 255, 0.4) -moz-box-shadow: 0 0 5px rgba(0, 136, 255, 0.4); box-shadow: 0 0 5px rgba(0, 136, 255, 0.4); }
  #CallLoop .callloop-submit { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background: #F60 url(https://s3.amazonaws.com/callloop/images/orange.jpg) no-repeat; padding: 4px 12px; border: 1px solid #ae3700; font-weight: bold; cursor: pointer; color: #FFFFFF; font-size: 12px; margin-right: 10px; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
</style>
<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:17px; line-height:23px;color:#666;">Want to receive <u>Priority Text Alerts</u> the moment new content is released? Simply add your phone number below:</p>
<form method="post" action="https://www.callloop.com/w/?75ec03d4-2936-47e2-99b7-0f6dbb0b0860" onsubmit="javascript: return webform_validate();">
<table width="100%" border="0" cellpadding="0" cellspacing="0" id="CallLoop">
        <tr>
    <th scope="row">Mobile Phone</th>
    <td><input type="text" name="Phone" id="Phone" /></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td align="left"><input type="submit" class="callloop-submit" name="Submit" id="Submit" value="Subscribe" /></td>
  </tr>
  <tr>
    <td colspan="2" scope="row">
      <div class="callloop-bottom">
          <p align="left" >You will receive a reminder text  message from 38470. Standard message and data rates may apply (including the unsubscribe-confirmation message). To opt out, simply reply “stop” at any time. Note: Submitting your mobile number is optional.</p>
        </div>
    </td>
  </tr>
</table>
</form>
