<style type="text/css">
  #CallLoop { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 4px; }
  #CallLoop td, #CallLoop th { padding: 5px 8px; }
  #CallLoop th { text-align: left; font-weight: normal; font-size: 13px; }
  #CallLoop .callloop-bottom { margin: 20px 10px 10px 10px; font-size: 15px; color: #666;}
  #CallLoop a { color: #3891c1; }
  #CallLoop a:link { color: #3891c1; text-decoration: none; }
  #CallLoop a:hover { text-decoration: underline; }
  #CallLoop .callloop-text { margin: 10px 0 5px 0; }
  #CallLoop input[type=text] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 4px 2px; font-size: 13px; border: 1px solid #bbbbbb; background: #FFF url(https://s3.amazonaws.com/callloop/images/fieldbg.gif) repeat-x scroll top; width: 100%;  }
  #CallLoop input[type=text]:focus { border: 1px solid #F60; color: #222; outline: none; border-color: #91bee6; -webkit-box-shadow: 0 0 5px rgba(0, 136, 255, 0.4) -moz-box-shadow: 0 0 5px rgba(0, 136, 255, 0.4); box-shadow: 0 0 5px rgba(0, 136, 255, 0.4); }
  #CallLoop .callloop-submit { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background: #F60 url(https://s3.amazonaws.com/callloop/images/orange.jpg) no-repeat; padding: 4px 12px; border: 1px solid #ae3700; font-weight: bold; cursor: pointer; color: #FFFFFF; font-size: 12px; margin-right: 10px; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
</style>
<div class="callloop-bottom" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 17px; line-height:23px;color: #666;">
  <p align="center">Thanks! You've been added to the VIP Distribution Group. Please check your email on Friday, July 8th, once the rapid-fire session with tech expert Jeff Brown is released.</p>
</div>