/**
* @version   $Id: master-rtl.css 3803 2012-09-19 19:52:20Z josh $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Article */
body.rtl .component-content .actions {float: left;}
body.rtl .component-content .article-info dd {margin-left: 20px;margin-right: 0;}
body.rtl ul, body.rtl ol {margin: 0 25px 10px 0;}
body.rtl .component-content .items-more ol li a {padding: 4px 15px 4px 0;background-position: 100% -488px;}
body.rtl .component-content .items-more ol li a:hover {background-position: 100% 6px;}

/* Navigation */
/* Root Items */
body.rtl .menu-block {float: left;}
body.rtl .menutop li.root {float: right;}
body.rtl .menutop li.root > .item img {margin: 12px 0 12px 10px;}
body.rtl .menutop li.parent.root .item span .daddyicon,  body.rtl .menutop li.root .daddy.item .daddyicon {left: -16px;right: inherit;}
body.rtl .menutop li.root > .item em {text-align: right;}
body.rtl .menutop li.parent.root .daddy > span.menu-text {padding-right: 14px;padding-left: 22px;}
body.rtl .menu-shadow {right: 0;left: inherit;}
body.rtl .menutop li.root:last-child {background: url(../images/main/menu-separator.png) no-repeat 100% 50%;}
body.rtl .menutop li.root:first-child {background: none;}
body.rtl .menutop li.parent.root .item {margin: 0 15px 0 25px;}

/* Style Overrides */
.readmore a {color:white !important;}
.rt-block.zero {margin:0; padding:0}

/* Dropdown Surrounds */
body.rtl .menutop ul {float: right;}
body.rtl .menutop .fusion-js-subs {float: right;margin-left: 10px;}

/* Dropdown Items */
body.rtl .menutop ul li {background-position: 96% -385px;}
body.rtl .menutop ul li > .bullet {padding-left: 0;padding-right: 10px;}
body.rtl .menutop li .item img {float: right;margin: 0 0 0 6px;}
body.rtl .menutop li > .item .readon span {display: inherit;width: inherit;}
body.rtl .menutop ul li.grouped-parent > .daddy span {background: none;}
body.rtl .menutop ul li > .daddy span {background-position: 3px 3px;}

/* Buttons */
body.rtl .button:before, body.rtl .readon:before, body.rtl .readmore:before, body.rtl button.validate:before, body.rtl #member-profile a:before, body.rtl #member-registration a:before, body.rtl .formelm-buttons button:before, body.rtl .sprocket-mosaic-loadmore:before {right: 4px;}

/* No JS */
body.rtl .menutop li.root:hover > .fusion-submenu-wrapper {left:inherit;right: 0;}
body.rtl .menutop ul li:hover > .fusion-submenu-wrapper {left: inherit;right: 180px;}

/* Grouped & Modules */
body.rtl .fusion-grouped ol li .item {padding: 4px 6px 4px 14px;}
body.rtl .menutop .fusion-grouped ol li {margin-left: inherit;margin-right: 0;}

/* Side Menu */
body.rtl .module-content ul.menu li.parent li a, body.rtl .module-content ul.menu li.parent li .item, body.rtl .module-content ul.menu li.parent li .separator {background-position: 110% 6px;}
body.rtl ul.menu li.parent li.active.current a, body.rtl ul.menu li.parent li.active.current .item, body.rtl ul.menu li.parent li.active.current .separator, body.rtl ul.menu li.parent li:hover a, body.rtl ul.menu li.parent li:hover .item, body.rtl ul.menu li.parent li:hover .separator {background-position: 95% 10px;}
body.rtl .module-content ul.menu li a:before, body.rtl .module-content ul.menu li .item:before, body.rtl .module-content ul.menu li .separator:before {margin-left: 10px;margin-right: 0;}

/* Copyright Menu */
body.rtl #rt-copyright ul.menu li a:after, body.rtl #rt-copyright ul.menu li .item:after, body.rtl #rt-copyright ul.menu li .separator:after {margin: 0 10px 0 0;}

/* Member Access */
body.rtl #login-form label, body.rtl .component-content #password-lbl, body.rtl #username-lbl {float: right;}
body.rtl .component-content .login + div ul li a, body.rtl #login-form a {padding: 4px 15px 4px 0;background-position: 100% -488px;}
body.rtl .component-content .login + div ul li a:hover, body.rtl #login-form a:hover {background-position: 100% 6px;}

body.rtl .layout-showcase .sprocket-features-arrows .arrow.next {right: 16px;left: inherit;}
body.rtl .layout-showcase .sprocket-features-arrows {right: 55%;}

/* RokSprocket - Lists */
body.rtl .sprocket-lists-title .indicator {left: 10px;right: inherit;}
body.rtl .sprocket-lists-arrows {float: right;}
body.rtl .sprocket-lists-pagination {float: left;}

/* RokAjaxSearch */
body.rtl #rokajaxsearch .inputbox, .rokajaxsearch .roksearch-wrapper input#roksearch_search_str.inputbox:focus {background-position: 8px -67px;}

