/**
* @version   $Id: master-ie9.css 3999 2012-09-30 19:38:17Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

.readon, .button, button, input, .btn, .rt-block {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}

ul.menu li.active.current > a:before, ul.menu li.active.current > .item:before, ul.menu li.active.current > .separator:before,
ul.menu #current.active > a:before, ul.menu #current.active > .item:before, ul.menu #current.active > .separator:before {font-size: 15px;}

/* Buttons and Inputs */
.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .sprocket-mosaic-loadmore, #gantry-totop, .button:hover, .readon:hover, .readmore:hover, button.validate:hover, #member-profile a:hover, #member-registration a:hover, .formelm-buttons button:hover, .sprocket-mosaic-loadmore:hover, #gantry-totop:hover {filter: none;}

/* Module Variations */
.title3 .module-title, .title4 .module-title {filter: none;}

/* RokSprocket - Tabs */
.sprocket-tabs .sprocket-tabs-nav li .sprocket-tabs-inner, .sprocket-tabs .sprocket-tabs-nav li.active .sprocket-tabs-inner, .sprocket-tabs .sprocket-tabs-nav li:hover .sprocket-tabs-inner {filter: none;}

/* RokSprocket - Mosaic */
.sprocket-mosaic .sprocket-mosaic-container li {filter: none;background: #ffffff;}
.sprocket-mosaic .sprocket-mosaic-item .sprocket-mosaic-hovercontent, .sprocket-mosaic .sprocket-mosaic-filter li.active, .sprocket-mosaic .sprocket-mosaic-order li.active, .sprocket-mosaic .sprocket-mosaic-filter li:hover, .sprocket-mosaic .sprocket-mosaic-order li:hover, .sprocket-mosaic-loadmore, .sprocket-mosaic-loadmore:hover {filter: none;}

/* RokSprocket - Features - Showcase */
body .layout-showcase .sprocket-features-img-container {margin-bottom: -30px;}
.layout-showcase .sprocket-features-pagination li.active {filter: none;}

/* Features */
#gantry-totop, #gantry-totop:hover {filter: none;}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	body .layout-showcase .sprocket-features-img-container {margin-bottom: -5px;}
}

@media only screen and (max-width: 480px) {
	body .layout-showcase .sprocket-features-img-container {margin-bottom: -5px;}
}