/**
* @version   $Id: master-ie8.css 3999 2012-09-30 19:38:17Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Navigation */
.rt-menu-mobile {display: none;}

/* Module Variations */
.title4 .module-title {filter: none;}

/* RokSprocket - Mosaic */
.sprocket-mosaic .sprocket-mosaic-container {background-image: none;}
.sprocket-mosaic .sprocket-mosaic-container li {background: #ffffff;}
.sprocket-mosaic .sprocket-mosaic-item .sprocket-mosaic-hovercontent {filter: alpha(opacity=0);}
.sprocket-mosaic-item:hover .sprocket-mosaic-hovercontent {filter: alpha(opacity=100);}

/* RokSprocket - Features - Showcase */
body .layout-showcase .sprocket-features-title {font-size: 250%;}
body .layout-showcase .sprocket-features-content {width: 45%;}
.sprocket-features-img-container {width: 52%;}
.sprocket-features-title {font-size: 260%;}
.sprocket-features-desc {margin-top: 15px;}
.sprocket-features-desc > span {font-size: 1em;}
.sprocket-features-pagination li {width: 24px;height: 24px;}
.sprocket-features-pagination li span {line-height: 24px;}
.sprocket-features-pagination li.active {width: 38px;height: 38px;}
.sprocket-features-pagination li.active span {font-size: 1.6em;line-height: 38px;}
.sprocket-features-arrows {bottom: 55px;}

	/* RokSprocket - Mosaic */
body .sprocket-mosaic-columns-1 li, body .sprocket-mosaic-columns-2 li, body .sprocket-mosaic-columns-3 li, body .sprocket-mosaic-columns-4 li, body .sprocket-mosaic-columns-5 li, body .sprocket-mosaic-columns-6 li {width: 25%;}
body .sprocket-mosaic .sprocket-mosaic-container li {filter: none;}

/* RokSprocket - Tabs */
body .sprocket-tabs-nav li .sprocket-tabs-inner {
	padding: 10px;
	font-size: 100%;
}

/* Features */
#gantry-totop, #gantry-totop:hover {filter: none;}
#rt-header .rt-social-buttons {margin-top: -10px;}

/* K2 */
body #k2Container h2, body #k2Container h2 a, body #k2Container h3, body #k2Container h3 a {font-size: 22px !important;}
body .latestItemsCategory img, body .itemListCategory img {width: 100% !important;}

/* Grid Layout */
body .rt-container {width: 960px;}
.rt-container .rt-grid-1 {width: 80px;}
.rt-container .rt-grid-2 {width: 160px;}
.rt-container .rt-grid-3 {width: 240px;}
.rt-container .rt-grid-4 {width: 320px;}
.rt-container .rt-grid-5 {width: 400px;}
.rt-container .rt-grid-6 {width: 480px;}
.rt-container .rt-grid-7 {width: 560px;}
.rt-container .rt-grid-8 {width: 640px;}
.rt-container .rt-grid-9 {width: 720px;}
.rt-container .rt-grid-10 {width: 800px;}
.rt-container .rt-grid-11 {width: 880px;}
.rt-container .rt-grid-12 {width: 960px;}

.rt-container .rt-push-1 {left: 80px;}
.rt-container .rt-push-2 {left: 160px;}
.rt-container .rt-push-3 {left: 240px;}
.rt-container .rt-push-4 {left: 320px;}
.rt-container .rt-push-5 {left: 400px;}
.rt-container .rt-push-6 {left: 480px;}
.rt-container .rt-push-7 {left: 560px;}
.rt-container .rt-push-8 {left: 640px;}
.rt-container .rt-push-9 {left: 720px;}
.rt-container .rt-push-10 {left: 800px;}
.rt-container .rt-push-11 {left: 880px;}

.rt-container .rt-pull-1 {left: -80px;}
.rt-container .rt-pull-2 {left: -160px;}
.rt-container .rt-pull-3 {left: -240px;}
.rt-container .rt-pull-4 {left: -320px;}
.rt-container .rt-pull-5 {left: -400px;}
.rt-container .rt-pull-6 {left: -480px;}
.rt-container .rt-pull-7 {left: -560px;}
.rt-container .rt-pull-8 {left: -640px;}
.rt-container .rt-pull-9 {left: -720px;}
.rt-container .rt-pull-10 {left: -800px;}
.rt-container .rt-pull-11 {left: -880px;}

.rt-container .rt-prefix-1 {padding-left: 80px;}
.rt-container .rt-prefix-2 {padding-left: 160px;}
.rt-container .rt-prefix-3 {padding-left: 240px;}
.rt-container .rt-prefix-4 {padding-left: 320px;}
.rt-container .rt-prefix-5 {padding-left: 400px;}
.rt-container .rt-prefix-6 {padding-left: 480px;}
.rt-container .rt-prefix-7 {padding-left: 560px;}
.rt-container .rt-prefix-8 {padding-left: 640px;}
.rt-container .rt-prefix-9 {padding-left: 720px;}
.rt-container .rt-prefix-10 {padding-left: 800px;}
.rt-container .rt-prefix-11 {padding-left: 880px;}

.readon, .button, button, input, .btn, .rt-block {filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;}