@charset "UTF-8";
/* CSS Document */

#outercontainer {
	width:100%;
	height:100%;
}

#formfields {
width:85%;	
}
#formfields2 {
width:85%;	
}
#top
{
height:auto;
width:auto;	
}
#mobilebreak {
	display:none;
}
#sketchbox {
	background-color:#ffffff; background-image:url(img/sketch-box.png); background-repeat:no-repeat;width:100%; max-width:600px; background-size:100% 100%; padding:30px;
}
#tallform {
	background-color:#ffffff; background-repeat:no-repeat;width:100%; max-width:400px; background-size:100% 100%; padding:30px;
}
#innerwrapper {
width:1100px;
margin-left:auto;
margin-right:auto;	
}
#billseated{
float:left;	
}
#greenarrow {
	position:relative; top:-300px; left:150px; z-index:15;
}
#mobileemail {
display:none;	
}
#fullviewemail {
	display:block;	
	}
	#greenarrow2 {
		display:none;
	}
	#emailtable {
	float:left;	
	}
 @media screen and (max-width: 799px) {
	
	#mobileemail {
display:block;	

}
	#fullviewemail {
	display:none;	
	}
	#greenarrow {
		display:none;
	}
	#greenarrow2 {
	display:none;
	}
	table {
	width:100%;	
	}
	#billseated{
float:none;	
}
	#formfields2 {
width:100%;	
margin-left:auto;
margin-right:auto;
} 
	#formfields {
width:100%;	
margin-left:auto;
margin-right:auto;
} 
.emailfield {
align-self:center;
align-content:center;	
margin-left:auto;
margin-right:auto;
width:90%;
}
#mobilebreak2 {
	display:block;
}
.img100 {
float:none;
position:relative;
top:0px;
bottom:0px;
left:0px;
right:0px;
width:100%;	
}
#sketchbox {
	background-color:#ffffff; background-image:none; background-repeat:no-repeat;width:100%; max-width:600px; background-size:100% 100%; padding:0px;
}
#innerwrapper {
width:100%;
margin-left:auto;
margin-right:auto;	
}
.mobilehide {
display:none;	
}
 }
  @media screen and (max-width: 710px) {
	  	#greenarrow2 {
		display:block;
		position:relative;
		top:-560px;
		left:-130px;
	}
  }