/**
 * Sourcerer editor button popup stylesheet
 *
 * @package         Sourcerer
 * @version         4.1.9
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
#source,
#frame_source {
  width: 100%;
  height: 330px;
  margin-bottom: 10px;
}
