/**
 * NoNumber Framework general stylesheet
 *
 * @package         NoNumber Framework
 * @version         12.11.9
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

input[type="checkbox"],
input[type="radio"] {
	border: 0;
}

div.nn_panel {
	clear: both;
	margin-bottom: 8px !important;
	border: 1px solid #CCCCCC;
}
div.nn_panel_top {
	margin-bottom: 0 !important;
	border-bottom: 0 !important;
	font-size: 1.091em;
}
div.nn_panel_title,
div.nn_panel_description {
}
div.nn_panel_title {
	background-color: #F0F0F0;
	font-weight: bold;
	margin-top: 5px;
}
div.nn_panel_toggle {
	background-color: #FAFAFA;
	font-size: 1.091em;
}
div.nn_panel_toggle:hover {
	background-color: #F0F0F0;
}
div.nn_panel_toggle input.checkbox {
	margin: 0 8px 0 0;
}
div.nn_panel_toggle.nn_panel_include,
div.nn_panel_toggle.nn_panel_exclude {
	margin-bottom: 0 !important;
	border-bottom: 0 !important;
	background-color: #437b1d;
	color: #FFFFFF;
}
div.nn_panel_toggle.nn_panel_exclude {
	background-color: #ac1f1f;
}
ul.config-option-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nn_block {
	display: block;
	padding: 4px 8px 0 8px;
}
.nn_block_notitle,
.nn_title {
	padding: 4px 8px;
}
label.nn_title {
	float: none !important;
	padding: 5px 8px 3px 8px !important;
	margin: 0 !important;
	pointer: cursor;
}
.nn_title ul {
	margin: 0 !important;
	margin-left: 2em !important;
}
.nn_title ul li {
	list-style: disc outside !important;
}

.nntoggler ul {
	margin: 0
}
div.nn_hr {
	height: 2px;
	border-left: 0 !important;
	border-right: 0 !important;
}

span.nn_code {
	font-family: monospace;
	font-size: 12px;
	color: #666666;
}
input.nn_codefield {
	font-family: monospace;
	font-size: 2em;
	padding: 2px 5px;
	text-align: center;
}
textarea.nn_textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div#view_state_div {
	margin: 10px 0;
}
.button_view_state {
	background-image: url(../images/button_left.png) !important;
}
.button_view_state,
.button_view_state div {
	float: left !important;
	height: 26px !important;
}
.button_view_state div {
	background: url(../images/button_blank.png) no-repeat 100% 0;
}
.button_view_state div a {
	background: url(../images/state_simple.png) no-repeat 100% -21px;
	padding-right: 22px !important;
	margin-right: 12px;
}
.button_view_state.normal a {
	background-image: url(../images/state_normal.png);
}
.button_view_state.advanced a {
	background-image: url(../images/state_advanced.png);
}
.view_state_0 .button_view_state.simple,
.view_state_1 .button_view_state.normal,
.view_state_2 .button_view_state.advanced {
	background-position: 0 100%;
}
.view_state_0 .button_view_state.simple div,
.view_state_1 .button_view_state.normal div,
.view_state_2 .button_view_state.advanced div {
	background-position: 100% 100%;
}
.button_view_state div a:hover,
.view_state_0 .button_view_state.simple a,
.view_state_1 .button_view_state.normal a,
.view_state_2 .button_view_state.advanced a {
	color: #0B55C4;
	background-position: 100% 1px;
}

.toolbar .icon-32-export {
	background-image: url(../images/icon-32-export.png);
}
.toolbar .icon-32-import {
	background-image: url(../images/icon-32-import.png);
}
/* AP template */
#ap-wrapper .icon-32-export {
	background-image: url(../images/icon-32-export2.png);
}
#ap-wrapper .icon-32-import {
	background-image: url(../images/icon-32-import2.png);
}

/* APLite template */
.ap-main .icon-32-export,
.ap-main .icon-32-import {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	background: transparent url(../../../../administrator/templates/aplite/images/menu/yellow/star_16x16.png) no-repeat 0 0;
}
.ap-main .icon-32-export {
	background-image: url(../../../../administrator/templates/aplite/images/menu/green/save_16x16.png);
}
.ap-main .icon-32-import {
	background-image: url(../../../../administrator/templates/aplite/images/menu/blue/save_16x16.png);
}
/* Mission Control */
div#mc-component fieldset.assignment-options ul {
	margin: 0;
}
div#mc-component fieldset.assignment-options ul.adminformlist ul {
	padding: 0;
}
div#mc-component .nntoggler ul li {
	padding: 5px 0; /* Undo override input MC stylesheet */
}
div#mc-component div.nn_panel {
	margin-bottom: 0 !important;
}