/**
 * @version $Id: template.css 20075 2011-01-04 12:24:47Z infograf768 $
 * @author Design & Accessible Team ( Angie Radtke  )
 * @package Joomla
 * @subpackage Accessible-Template-Beez
 * @copyright Copyright (C) 2005 - 2008 Open Source Matters. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * Joomla! is free software. This version may have been modified pursuant to the
 * GNU General Public License, and as distributed it includes or is derivative
 * of works licensed under the GNU General Public License or other free or open
 * source software licenses. See COPYRIGHT.php for copyright notices and
 * details.
 */


body
{
        background: #fff;
        color: #000000;
        font-size: 100.1%;
        padding: 0px;
        text-align: center;
}

body.contentpane {
		width:auto;
		margin:10px;
		text-align: left;
}
img { border: 0 none; }



