/*
 *  psd2css.css
 *
 *  This is your external CSS style sheet. It defines all of the CSS styles that you
 *  are using in your page.  If you are going to create multiple pages from the same
 *  PSD file (like a template), you will share this CSS style sheet between the various
 *  pages.
 *
 *  This file was originally generated at http://psd2cssonline.com 
 *  January 7, 2014, 3:42 pm with psd2css Online version 1.95
 *
 */

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: small;
}

#outerwrap {
	width: 100%;
	height: 1500px;
	text-align: center;
	
}


#innerwrap {

	display: inline-block;
	
	
}



/* You named this layer Blue BKGD */
#Layer-1 {
  position: relative;
  left: +0px;
  top: +0px;
  width: 1008px;
  height: 1405px;
  z-index: 1;
}
#Layer-1b {
  position: relative;
  left: +0px;
  top: +0px;
  width: 1008px;

  z-index: 1;
}


/* You named this layer shadow copy */
#Layer-2 {
  position: absolute;
  left: 72px;
  top: 710px;
  width: 866px;
  height: 281px;
  z-index: 2;
}

#Layer-2b {
  position: absolute;
  left: 72px;
  top: 210px;
  width: 866px;
  height: 81px;
  z-index: 2;
}

/* You named this layer White Body BKGD */
#Layer-3 {
  position: absolute;
  left: 9px;
  top: 438px;
  width: 849px;
  height: 218px;
  z-index: 3;
}
/* You named this layer White Body BKGD */
#Layer-3b {
  position: absolute;
  left: 119px;
  top: 438px;
  width: 849px;
  height: 218px;
  z-index: 3;
}

/* You named this layer Copyright 2013 Bonner  Partne */
#Layer-4 {
  position: absolute;
  left: 307px;
  top: 1382px;
  width: 410px;
  height: 10px;
  z-index: 4;
}
/* You named this layer Copyright 2013 Bonner  Partne */
#Layer-4b {
  position: absolute;
  left: 307px;
  top: 702px;
  width: 410px;
  height: 10px;
  z-index: 4;
}
#Layer-4c {
  position: absolute;
  left: 307px;
  top: 1202px;
  width: 410px;
  height: 10px;
  z-index: 4;
}

/* You named this layer rules_link */
#Layer-5 {
  position: absolute;
  left: 241px;
  top: 189px;
  width: 137px;
  height: 12px;
  z-index: 5;
}

/* You named this layer privacy_link */
#Layer-6 {
  position: absolute;
  left: 517px;
  top: 189px;
  width: 101px;
  height: 15px;
  z-index: 6;
}

/* You named this layer Enter This Limited-Time Drawing */
#Layer-7 {
  position: absolute;
  left: +214px;
  top: +1500px;
  width: 577px;
  height: 90px;
  z-index: 7;
}

/* You named this layer Were Not Sure How Long We Can */
#Layer-8 {
  position: absolute;
  left: +214px;
  top: +1628px;
  width: 613px;
  height: 15px;
  z-index: 8;
}

/* You named this layer Were Not Sure How Long We Can */
#Layer-9 {
  position: absolute;
  left: 35px;
  top: 413px;
  width: 650px;
  height: 176px;
  z-index: 9;
}

/* You named this layer  There Is Absolutely No Obligat */
#Layer-10 {
  position: absolute;
  left: +261px;
  top: +1605px;
  width: 497px;
  height: 15px;
  z-index: 10;
}

/* You named this layer Lower Text */
#Layer-11 {
  position: absolute;
  left: 26px;
  top: 7px;
  width: 776px;
  height: 382px;
  z-index: 11;
}

/* You named this layer With a gorgeous patriotic desig */
#Layer-12 {
  position: absolute;
  left: 9px;
  top: 82px;
  width: 255px;
  height: 288px;
  z-index: 12;
}

/* You named this layer By entering our gold giveaway y */
#Layer-13 {
  position: absolute;
  left: 308px;
  top: 79px;
  width: 268px;
  height: 288px;
  z-index: 13;
}

/* You named this layer Lower Text Headline Box1 */
#Layer-14 {
  position: absolute;
  left: 22px;
  top: 28px;
  width: 295px;
  height: 56px;
  z-index: 14;
}

/* You named this layer Lower Text Headline Box2 */
#Layer-15 {
  position: absolute;
  left: 278px;
  top: 21px;
  width: 302px;
  height: 56px;
  z-index: 15;
}
/* You named this layer Enter This Limited-Time Drawing */
#Layer-15xx {
  position: absolute;
  left: 13px;
  top: 65px;
  width: 225px;
  height: 90px;
  z-index: 215;
}


/* You named this layer Lots of info-envelope */
#Layer-16 {
  position: absolute;
  left: 298px;
  top: 83px;
  width: 119px;
  height: 116px;
  z-index: 16;
}

/* You named this layer Lots Of Dollars-Cash */
#Layer-17 {
  position: absolute;
  left: 211px;
  top: 27px;
  width: 1px;
  height: 4px;
  z-index: 17;
}

/* You named this layer Cash Icon */
#Layer-18 {
  position: absolute;
  left: 0px;
  top: 70px;
  width: 133px;
  height: 137px;
  z-index: 18;
}

/* You named this layer Worth Over 1400 */
#Layer-19 {
  position: absolute;
  left: 71px;
  top: 17px;
  width: 171px;
  height: 18px;
  z-index: 19;
}

/* You named this layer Free Newsletter */
#Layer-20 {
  position: absolute;
  left: 103px;
  top: 19px;
  width: 141px;
  height: 14px;
  z-index: 20;
}

/* You named this layer handcoin */
#Layer-21 {
  position: absolute;
  left: 672px;
  top: 287px;
  width: 209px;
  height: 241px;
  z-index: 21;
}

/* You named this layer Layer 1 */
#Layer-22 {
  position: absolute;
  left: 17px;
  top: 0px;
  width: 55px;
  height: 52px;
  z-index: 22;
}

/* You named this layer Lower Gold Coin Back */
#Layer-23 {
  position: absolute;
  left: 609px;
  top: 273px;
  width: 254px;
  height: 255px;
  z-index: 23;
}

/* You named this layer Lower Gold Coin */
#Layer-24 {
  position: absolute;
  left: 604px;
  top: 0px;
  width: 260px;
  height: 261px;
  z-index: 24;
}

/* You named this layer Check */
#Layer-25 {
  position: absolute;
  left: 103px;
  top: 637px;
  width: 60px;
  height: 56px;
  z-index: 25;
}

/* You named this layer Check2 */
#Layer-26 {
  position: absolute;
  left: 376px;
  top: 637px;
  width: 60px;
  height: 56px;
  z-index: 26;
}

/* You named this layer NO SPAM We wont share rent o */
#Layer-27 {
  position: absolute;
  left: 163px;
  top: 650px;
  width: 198px;
  height: 35px;
  z-index: 27;
}

/* You named this layer NO CATCH Enter your email and */
#Layer-28 {
  position: absolute;
  left: 439px;
  top: 652px;
  width: 206px;
  height: 35px;
  z-index: 28;
}

/* You named this layer Layer 8 copy 5 */
#Layer-29 {
  position: absolute;
  left: 646px;
  top: 487px;
  width: 264px;
  height: 226px;
  z-index: 29;
}

/* You named this layer EnterEmailAddress */
#Layer-30 {
  position: absolute;
  left: 646px;
  top: 260px;
  width: 255px;
  height: 282px;
  z-index: 30;
}

/* You named this layer side copy 4b */
#Layer-31 {
  position: absolute;
  left: 255px;
  top: 10px;
  width: 9px;
  height: 50px;
  z-index: 31;
}

/* You named this layer Act Now for Your Chance to Win */
#Layer-32 {
  position: absolute;
  left: 129px;
  top: 198px;
  width: 725px;
  height: 68px;
  z-index: 32;
}

/* You named this layer BP Logo */
#Layer-33 {
  position: absolute;
  left: 78px;
  top: 81px;
  width: 146px;
  height: 57px;
  z-index: 33;
}

/* You named this layer v1_video */
#Layer-34 {
  position: absolute;
  left: 94px;
  top: 292px;
  width: 520px;
  height: 293px;
  z-index: 34;
}

/* You named this layer Black Arrow */
#Layer-35 {
  position: absolute;
  left: 61px;
  top: 531px;
  width: 602px;
  height: 108px;
  z-index: 35;
}

/* You named this layer Simply Enter Your Email  for a */
#Layer-36 {
  position: absolute;
  left: 134px;
  top: 24px;
  width: 310px;
  height: 52px;
  z-index: 36;
}

/* You named this layer FREE 1oz GOLD COIN */
#Layer-37 {
  position: absolute;
  left: 235px;
  top: 96px;
  width: 698px;
  height: 49px;
  z-index: 37;
}
/* You named this layer submitform_form */
#Layer-41 {
  position: absolute;
  left: 650px;
  top: 492px;
  width: 255px;
  height: 218px;
  z-index: 41;
}
#Layer-45b {
  position: absolute;
  left: 115px;
  top: 242px;
  width: 530px;
  height: 218px;
  z-index: 42;
}
#back-button-A {
  position: absolute;
  left: 115px;
  top: 1092px;
  width: 530px;
  height: 218px;
  z-index: 43;
}
#back-button-B {
  position: absolute;
  left: 245px;
  top: 592px;
  width: 530px;
  height: 218px;
  z-index: 43;
}
/* Here are some examples of how you might want to change the
 * look and behavior of the links on your page.  Some examples for
 * further customization are included in comments.  */
a {
  cursor: pointer;
  outline: none;
}
a:link { color: #F88; }
a:visited { color: #F88; }
a:hover {
  color: #F00;
  /* text-decoration: underline; */
  /* font-weight: bold; */
}

