/*
 *  psd2css.css
 *
 *  This is your external CSS style sheet. It defines all of the CSS styles that you
 *  are using in your page.  If you are going to create multiple pages from the same
 *  PSD file (like a template), you will share this CSS style sheet between the various
 *  pages.
 *
 *  This file was originally generated at http://psd2cssonline.com 
 *  January 3, 2014, 8:52 pm with psd2css Online version 1.95
 *
 */

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: small;
}

#outerwrap {
	width: 100%;
	text-align: center;
	
}


#innerwrap {
	
	display: inline-block;
	
	
}
/* You named this layer waybackground 
#Layer-1 {
  position: absolute;
  left: +0px;
  top: +0px;
  width: 1050px;
  height: 1045px;
  z-index: 1;
}*/

/* You named this layer backgroundbody The Left was 190px */
#Layer-2 {
  position: relative;
  left: 5px;
  top: 0px;
  width: 679px;
  height: 992px;
  z-index: 2;
}

/* You named this layer TopmostBanner */
#Layer-3 {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 679px;
  height: 135px;
  z-index: 3;
}

/* You named this layer FREE 1oz GOLD COIN copy */
#Layer-4 {
  position: absolute;
  left: 42px;
  top: 42px;
  width: 598px;
  height: 37px;
  z-index: 4;
}

/* You named this layer BackOfCoinArrow */
#Layer-5 {
  position: absolute;
  left: 591px;
  top: 374px;
  width: 55px;
  height: 3px;
  z-index: 5;
}

/* You named this layer Layer 1 */
#Layer-6 {
  position: absolute;
  left: 585px;
  top: 374px;
  width: 13px;
  height: 23px;
  z-index: 6;
}

/* You named this layer Back of  Coin */
#Layer-7 {
  position: absolute;
  left: 579px;
  top: 331px;
  width: 69px;
  height: 40px;
  z-index: 7;
}

/* You named this layer FronOfCoinArrow */
#Layer-8 {
  position: absolute;
  left: 452px;
  top: 264px;
  width: 77px;
  height: 13px;
  z-index: 8;
}

/* You named this layer Front of Coin */
#Layer-9 {
  position: absolute;
  left: 441px;
  top: 224px;
  width: 76px;
  height: 40px;
  z-index: 9;
}

/* You named this layer HandWithCoin */
#Layer-10 {
  position: absolute;
  left: 449px;
  top: 284px;
  width: 109px;
  height: 251px;
  z-index: 10;
}

/* You named this layer v1_video */
#Layer-11 {
  position: absolute;
  left: 25px;
  top: 222px;
  width: 386px;
  height: 207px;
  z-index: 11;
}

/* You named this layer VideoOutline2 */
#Layer-12 {
  position: absolute;
  left: 12px;
  top: 199px;
  width: 413px;
  height: 232px;
  z-index: 12;
}

/* You named this layer OrangeDecoy */
#Layer-13 {
  position: absolute;
  left: 495px;
  top: 433px;
  width: 120px;
  height: 126px;
  z-index: 13;
}

#submissionbutton
{
	position: absolute;
	left: 145px;
	top: 60px;
	width: 90px;
	height: 45px;
	border: 1px;
}

/* You named this layer EmailShadedArea_form */
#Layer-14 {
  position: absolute;
  left: 12px;
  top: 433px;
  width: 493px;
  height: 126px;
  z-index: 14;
}

/* You named this layer s_submit_link */
#Layer-15 {
  position: absolute;
  left: 8px;
  top: 9px;
  width: 348px;
  height: 51px;
  z-index: 15;
}

/* You named this layer We Hate Spam Too */
#Layer-16 {
  position: absolute;
  left: 14px;
  top: 76px;
  width: 124px;
  height: 40px;
  z-index: 16;
}

/* You named this layer EmailBox_inputtext */
#Layer-17 {
  position: absolute;
  left: 12px;
  top: 13px;
  width: 466px;
  height: 50px;
  z-index: 17;
}

/* You named this layer enter your email */
#Layer-18 {
  position: absolute;
  left: 113px;
  top: 15px;
  width: 258px;
  height: 24px;
  z-index: 18;
}

/* You named this layer rightDottedLines */
#Layer-19 {
  position: absolute;
  left: 371px;
  top: 603px;
  width: 245px;
  height: 345px;
  z-index: 19;
}

/* You named this layer With a gorgeous patriotic desig */
#Layer-20 {
  position: absolute;
  left: 10px;
  top: 176px;
  width: 223px;
  height: 148px;
  z-index: 20;
}

/* You named this layer Worth Over 1400 */
#Layer-21 {
  position: absolute;
  left: 48px;
  top: 22px;
  width: 152px;
  height: 52px;
  z-index: 21;
}

/* You named this layer MoneyBagColor */
#Layer-22 {
  position: absolute;
  left: 19px;
  top: 77px;
  width: 191px;
  height: 97px;
  z-index: 22;
}

/* You named this layer leftDottedLines */
#Layer-23 {
  position: absolute;
  left: 70px;
  top: 601px;
  width: 245px;
  height: 349px;
  z-index: 23;
}

/* You named this layer DRELogo */
#Layer-24 {
  position: absolute;
  left: 12px;
  top: 77px;
  width: 222px;
  height: 85px;
  z-index: 24;
}

/* You named this layer By entering our gold giveaway y */
#Layer-25 {
  position: absolute;
  left: 17px;
  top: 178px;
  width: 212px;
  height: 148px;
  z-index: 25;
}

/* You named this layer FREE  Newsletter */
#Layer-26 {
  position: absolute;
  left: 55px;
  top: 18px;
  width: 143px;
  height: 49px;
  z-index: 26;
}

/* You named this layer Act Now for Your Chance to Win */
#Layer-27 {
  position: absolute;
  left: 19px;
  top: 150px;
  width: 452px;
  height: 45px;
  z-index: 27;
}

/* You named this layer privacy_link */
#Layer-28 {
  position: absolute;
  left: 181px;
  top: 966px;
  width: 97px;
  height: 16px;
  z-index: 28;
}

/* You named this layer Copyright 2013 Bonner  Partner */
#Layer-29 {
  position: absolute;
  left: 290px;
  top: 1017px;
  width: 139px;
  height: 8px;
  z-index: 29;
}

/* You named this layer contest_link */
#Layer-30 {
  position: absolute;
  left: 404px;
  top: 968px;
  width: 103px;
  height: 12px;
  z-index: 30;
}

/* You named this layer GoldCoinLargeBackShadow */
#Layer-31 {
  position: absolute;
  left: 522px;
  top: 432px;
  width: 197px;
  height: 162px;
  z-index: 31;
}

/* You named this layer GoldCoinLargeBack */
#Layer-32 {
  position: absolute;
  left: 521px;
  top: 399px;
  width: 198px;
  height: 197px;
  z-index: 32;
}

/* You named this layer GoldCoinLargeFront Left was 710px*/
#Layer-33 {
  position: absolute;
  left: 530px;
  top: 100px;
  width: 197px;
  height: 197px;
  z-index: 33;
}

/* Here are some examples of how you might want to change the
 * look and behavior of the links on your page.  Some examples for
 * further customization are included in comments.  */
a {
  cursor: pointer;
  outline: none;
}
a:link { color: #F88; }
a:visited { color: #F88; }
a:hover {
  color: #F00;
  /* text-decoration: underline; */
  /* font-weight: bold; */
}

