/**
 * @version		2.5.1
 * @package		Simple Image Gallery Pro
 * @author    JoomlaWorks - http://www.joomlaworks.gr
 * @copyright	Copyright (c) 2006 - 2011 JoomlaWorks Ltd. All rights reserved.
 * @license		Commercial - This code cannot be redistributed without permission from JoomlaWorks Ltd.
 */

/* This stylesheet is used to hide galleries on page print outs */
.sigProContainer {display:none;}
.sigProPrintMessage {display:block;color:#999;font-size:14px;padding:8px 0;}
