/*
Theme Name: Impreza Child
Template: Impreza
Version: 1.0
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/
div.wpb_single_image.wpb_content_element.img-jeff.align_right {margin-top: 10px;}
div.w-search {display:none;}
div.ctimer {text-align: center;}
div.l-subdomain-h {padding:0px; margin: 0px; }
.l-subdomain-h {padding:0px; margin: 0px; }
div.l-subdomain.wpb_row {padding:0px; margin: 0px; }
div.l-submain-h.g-html.i-cf {marging:0px; padding:0px;}
h2 {margin: 0px;}
h3 {margin: 0px; padding:0px;}
h4 {margin: 0px;}
.g-html p {margin-bottom: 0px;
p {margin: 0px; font-size: 1.25em; }
li {font-size: 1.25em;}
.right-title {float:right;margin-left:10px;}
h6 {line-height: 1.5em;}
