<style>
#actionPopup {
  height: 390px!important;
}
#actionClose {
  margin-top: -390px!important;
}
</style>

<!--/* OpenX Javascript Tag v2.8.7 */-->

<!--/*
  * The backup image section of this tag has been generated for use on a
  * non-SSL page. If this tag is to be placed on an SSL page, change the
  *   'http://ads.taipanpublishinggroup.com/openx/www/delivery/...'
  * to
  *   'https://ads.taipanpublishinggroup.com/openx/www/delivery/...'
  *
  * This noscript section of this tag only shows image banners. There
  * is no width or height in these banners, so if you want these tags to
  * allocate space for the ad before it shows, you will need to add this
  * information to the <img> tag.
  *
  * If you do not want to deal with the intricities of the noscript
  * section, delete the tag (from <noscript>... to </noscript>). On
  * average, the noscript tag is called from less than 1% of internet
  * users.
  */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://ads.taipanpublishinggroup.com/openx/www/delivery/ajs.php':'http://ads.taipanpublishinggroup.com/openx/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?campaignid=97&amp;what=335");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://ads.taipanpublishinggroup.com/openx/www/delivery/ck.php?n=ac76810f&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.taipanpublishinggroup.com/openx/www/delivery/avw.php?campaignid=97&amp;what=335&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=ac76810f' border='0' alt='' /></a></noscript>


<span style="text-align:center">
<a href="http://ads.taipanpublishinggroup.com/openx/www/delivery/ck.php?oaparams=2__bannerid=335__zoneid=0__log=no__cb=d92ce63d1b__oadest=http%3A%2F%2Fwww.taipanpublishinggroup.com%2Fvideo-alerts%2Fawu-video%2Fcut-synrv-paid-popup.html" target="blank">
<img src="http://www.taipanpublishinggroup.com/images/web/photos/exit-pop-cut-synd-lite.jpg"/>
</a>
</span>



