<style>
#actionPopup {
  height: 390px!important;
}
#actionClose {
  margin-top: -400px!important;
}
</style>
<span style="text-align:center">
<p><h3 style="font-size:26pt">Learn How To Make Smarter Investment Decisions Every Day!</h3></p>
<br />
<span style="font-size: 16pt">
<p><em>Smart Investing Daily</em> is your smarter money management <br />guide to the road of financial success. 
Get started now <br />by signing up for <em>Smart Investing Daily</em> today!</p>
</span>
</span>
<p><img src="http://www.taipanpublishinggroup.com/images/web/pub_logo/sid-150x48.jpg" align="center"/></p>
<br />
<form></form>
<form action="http://www.taipanpublishinggroup.com/Scripts/htmlsignupSID.php" method="post" name="signupsid" id="signupsid" onsubmit="WAValidateEM(document.signupsid.email,document.signupsid.email.value,'- Invalid email address',document.signupsid.email,1,true);WAValidateRQ(document.signupsid.email,'- Email is required',document.signupsid.email,1,false,'text');WAAlertErrors('The following errors were found','Correct invalid entries to continue',true,false);return document.MM_returnValue" value="Your Email address...">

  <div align="center" style="width: 420px;margin:0 auto;height:50px;">
    <input style="border: 1px solid #ccc; display:block; line-height:2em !important; font-family:Arial; float:left; clear:both; height:34px !important; margin-top:4px;  font-weight:bold;  font-size:16px; background-color: #FFFFA0" onblur="if(this.value=='')this.value='Enter Your E-mail Address';if(!validEmail(this.value)) this.focus();KW_autoClear(this,'Your E-mail address...')" title="Your Google Toolbar can fill this in for you. Select AutoFill"  onfocus="if(this.value=='Enter Your E-mail Address')this.value='';KW_autoClear(this,'Your E-mail address...')" tabindex="1" onchange="this.value= this.value.toLowerCase();" size="21"     value="Enter Your E-mail Address" name="email" />
    <input type="submit" class="button" tabindex="10" value=" " style="background:url(http://www.taipanpublishinggroup.com/images/web/buttons/signmeup-button2.jpg) top center no-repeat;width:192px;height:46px; display:block;float:right;border:0;cursor:pointer;" name="the_button" />
	<input type="hidden" value="Valued" name="firstname" />
	<input type="hidden" value="Reader" name="lastname" /> 
	<input type="hidden" value="Welcome to Smart Investing Daily" name="subject" /> 
	<input name="para2" value="Thank you for subscribing to Smart Investing Daily, the free investment e-letter brought to you by Taipan Publishing Group. Every day you'll receive an e-mail written by renowned financial experts Sara Nunnally and Jared Levy." id="para2" type="hidden" /> 
	<input name="para3" value="Sara offers readers an edge to today's financial marketplace, using her knowledge acquired from global travels in search of the best investment opportunities. Jared brings 15 years of experience with his career in the finance and options industry. His passion is teaching the public how to successfully trade and invest while keeping risk low." id="para3" type="hidden" />
	<input type="hidden" id="para4" value="In each Smart Investing Daily, Sara and Jared will share with you stock picks, general investment education and recommendations on various investment approaches. This free e-letter serves as a smarter money management guide to help pave the road to financial success. Look for your first Smart Investing Daily message in the next couple of days." name="para4" /> 
	<input type="hidden" id="para5" value="But you don't have to wait to start your investment gains... In fact, right now... a global crisis could take place in as little as 72 hours - one more threatening than the rising oil prices." name="para5" />
	<input type="hidden" id="para6" value="By reading this exclusive report, you can protect your wealth and your family."
 name="para6" />
	<input type="hidden" id="para7" value="https://orders.taipanpublishinggroup.com/SHI/WSHIM399/" name="para7" />
	<input name="para8" value="For more from our reliable team of financial analysts or to learn more about Taipan Publishing Group, visit our website:" id="para8" type="hidden" /> 
	<input name="para9" value="http://www.taipanpublishinggroup.com" id="para9" type="hidden" /> 
	<input name="para10" value="We hope you enjoy your subscription to Smart Investing Daily... and we wish you all the best in your investment endeavors." id="para10" type="hidden" /> 
	<input type="hidden" id="redir" value="http://www.taipanpublishinggroup.com/free-signups/confirmation/sid-pop-confirmation.html" name="redir" /> 
	<input type="hidden" id="list13" value="list13" name="list13" /> 
	<input type="hidden" id="source13" value="X5SDM515" name="source13" />
  </div>

  <div align="center" style="font-size:11px; font-family:Arial">We value your privacy!*
  </div>
</form>