
<style>
#actionPopup {
  height: 250px!important;
  top: 143px!important;
  border: 8px double #333333 !important ;
}
#actionClose {
  margin-top: -270px!important; margin-right:1px!important;
}
</style>


<span style="text-align:center">

<font style="font-size:20pt; font-family: impact">Get Your Exclusive Report:</font><br/>
<font style="font-size:30pt; color:#993333 ;font-family:Georgia; font-weight:bold;line-height:.95em">5 Stocks Poised for  <br/>Profits – Right Now!<br/><br/>


</font>

</span>


<form></form>

<form value="Your Email address..." method="post" action="http://www.taipanpublishinggroup.com/Scripts/htmlsignup.php" onsubmit="WAValidateEM(document.signupM12.email,document.signupM12.email.value,'- Invalid email address',document.signupM12.email,1,true);WAValidateRQ(document.signupM12.email,'- Email is required',document.signupM12.email,1,false,'text');WAAlertErrors('The following errors were found','Correct invalid entries to continue',true,document.signupM12);return document.MM_returnValue" name="signupM12" id="signupM12">
  <div align="center" style="width: 420px;margin:0 auto;height:50px;">
    <input style="border: 1px solid #ccc; display:block; line-height:2em !important; font-family:Arial; float:left; clear:both; height:34px !important; margin-top:4px;  font-weight:bold;  font-size:16px; background-color: #FFFFA0" onblur="if(this.value=='')this.value='Enter Your E-mail Address';if(!validEmail(this.value)) this.focus();KW_autoClear(this,'Your E-mail address...')" title="Your Google Toolbar can fill this in for you. Select AutoFill"  onfocus="if(this.value=='Enter Your E-mail Address')this.value='';KW_autoClear(this,'Your E-mail address...')" tabindex="1" onchange="this.value= this.value.toLowerCase();" size="21"     value="Enter Your E-mail Address" name="email" />
    <input type="submit" class="button" tabindex="10" value=" " style="background:url(http://www.taipanpublishinggroup.com/images/web/buttons/get-report-button.jpg) top center no-repeat;width:192px;height:46px; display:block;float:right;border:0;cursor:pointer;" name="the_button" />
	<input type="hidden" value="Valued" name="firstname" />
	<input type="hidden" value="Reader" name="lastname" /> 
	<input name="subject" value="Welcome to Taipan Daily" type="hidden" /> 
	<input name="txtmessage" value="To download your free investment report, access the link at the bottom of this e-mail. But wait, there's more we want to share with you... an additional exclusive report -- <em>The Top 10 Rules for Successful Investing!</em> In order to receive it <u>you must reply now</u>. Simply hit the reply button and type '10RI' in your message. Press the send button, and we'll forward your free report to your inbox. Don't delay... these 10 rules are critical to profiting in today's markets." id="txtmessage" type="hidden" /> 
	<input name="para2" value="And that's what <em>Taipan Daily</em> is all about... delivering valuable investing insights and tips so you can post profits before other investors even take action. Every day you'll receive an e-mail written by renowned financial experts Justice Litle and Joseph McBrennan (two top trading gurus). Justice carries 15 years of experience in the stock market and has written articles in numerous financial magazines and books. Joseph brings over two decades of experience and has been credited with numerous 'firsts' in terms of creating unique financial tools." id="para2" type="hidden" /> 
	<input name="para3" value="In each <em>Taipan Daily</em>, Justice and Joseph will share with you their views, thoughts and commentary on the financial markets and also offer you valuable investing insights and tips so you can post profits before other investors. Look for your first <em>Taipan Daily</em> message in the next couple of days." id="para3" type="hidden" /> 
	<input name="para4" value="Here is your FREE Report: 5 Profit Makers to Buy Now" id="para4" type="hidden" /> 
	<input name="para5" value="http://www.taipanpublishinggroup.com/free-signups/gen-reports/5prof-rpt-tdsu-shrt-pop.html" id="para5" type="hidden" /> 

	<input name="para6" value="But you don't have to wait to start getting investment advice from Taipan Publishing Group... Editor Kent Lucas has a new opportunity he’s just introduced to his readers. One top silver company is poised to make a major announcement about their newest mine any day now. If you own stock on the day results come out, you could profit in a matter of hours. Read the report:" id="para6" type="hidden" /> 
	<input name="para7" value="https://orders.taipanpublishinggroup.com/SHI68/WSHIM709/" id="para7" type="hidden" /> 
	<input name="para8" value="For more from our reliable team of financial analysts or to learn more about Taipan Publishing Group, visit our Web site:" id="para8" type="hidden" /> 
	<input name="para9" value="http://www.taipanpublishinggroup.com" id="para9" type="hidden" />
	<input type="hidden" id="para10" value="We hope you enjoy your subscription to Taipan Daily... and we wish you all the best in your investment endeavors." name="para10" />
	<input name="redir" value="http://www.taipanpublishinggroup.com/free-signups/confirmation/conf-tdsu-shrt-pop.html" id="redir" type="hidden" /> 
	<input name="list7" value="list7" id="list7" type="hidden" /> 
	<input name="source7" value="X5EAM704" id="source7" type="hidden" />
  </div>
</form>
  <div align="center" style="font-size:11px; font-family:Arial">*This is a FREE service from Taipan Publishing Group. <br/>Signing up for this report also entitles you to receive our FREE daily e-letter, Taipan Daily. <a href="/privacy-policy-ggle.html" target="_blank">We value your privacy.</a>
  </div>


