
<style>
#actionPopup {
  height: 470px!important;
  top: 143px!important;
}
#actionClose {
  margin-top: -490px!important;
}
</style>


<span style="text-align:center">
<h3 style="font-size:22pt">Just 5 Minutes A Day Can Uncover Investing Insights and Moneymaking Opportunities</h3>
<br>
<span style="font-size: 16pt">
<p align="center"><em>Taipan Daily</em> is your FREE resource for the best financial market investment opportunities available today...
so you can beat Wall Street — and other investors — to the profits. Sign up- it could be the most profitable 5 minutes of your day!</p>
</span>
</span>
<img src="http://www.taipanpublishinggroup.com/images/web/pub_logo/td-171x59.jpg" align="center"/>
<br><br>
<form></form>
<form value="Your Email address..." method="post" action="http://www.taipanpublishinggroup.com/Scripts/htmlsignup.php" onsubmit="WAValidateEM(document.signupM12.email,document.signupM12.email.value,'- Invalid email address',document.signupM12.email,1,true);WAValidateRQ(document.signupM12.email,'- Email is required',document.signupM12.email,1,false,'text');WAAlertErrors('The following errors were found','Correct invalid entries to continue',true,document.signupM12);return document.MM_returnValue" name="signupM12" id="signupM12">
  <div align="center" style="width: 420px;margin:0 auto;height:50px;">
    <input style="border: 1px solid #ccc; display:block; line-height:2em !important; font-family:Arial; float:left; clear:both; height:34px !important; margin-top:4px;  font-weight:bold;  font-size:16px; background-color: #FFFFA0" onblur="if(this.value=='')this.value='Enter Your E-mail Address';if(!validEmail(this.value)) this.focus();KW_autoClear(this,'Your E-mail address...')" title="Your Google Toolbar can fill this in for you. Select AutoFill"  onfocus="if(this.value=='Enter Your E-mail Address')this.value='';KW_autoClear(this,'Your E-mail address...')" tabindex="1" onchange="this.value= this.value.toLowerCase();" size="21"     value="Enter Your E-mail Address" name="email" />
    <input type="submit" class="button" tabindex="10" value=" " style="background:url(http://www.taipanpublishinggroup.com/images/web/buttons/signmeup-button2.jpg) top center no-repeat;width:192px;height:46px; display:block;float:right;border:0;cursor:pointer;" name="the_button" />
	<input type="hidden" value="Valued" name="firstname" />
	<input type="hidden" value="Reader" name="lastname" /> 
	<input name="subject" value="Welcome to Taipan Daily" type="hidden" /> 
	<input name="txtmessage" value="To download your free investment report, access the link at the bottom of this e-mail. But wait, there's more we want to share with you... an additional exclusive report -- <em>The Top 10 Rules for Successful Investing!</em> In order to receive it <u>you must reply now</u>. Simply hit the reply button and type '10RI' in your message. Press the send button, and we'll forward your free report to your inbox. Don't delay... these 10 rules are critical to profiting in today's markets." id="txtmessage" type="hidden" /> 
	<input name="para2" value="And that's what <em>Taipan Daily</em> is all about... delivering valuable investing insights and tips so you can post profits before other investors even take action. Every day you'll receive an e-mail written by renowned financial experts Justice Litle and Joseph McBrennan (two top trading gurus). Justice carries 15 years of experience in the stock market and has written articles in numerous financial magazines and books. Joseph brings over two decades of experience and has been credited with numerous 'firsts' in terms of creating unique financial tools." id="para2" type="hidden" /> 
	<input name="para3" value="In each <em>Taipan Daily</em>, Justice and Joseph will share with you their views, thoughts and commentary on the financial markets and also offer you valuable investing insights and tips so you can post profits before other investors. Look for your first <em>Taipan Daily</em> message in the next couple of days." id="para3" type="hidden" /> 
	<input name="para4" value="Here is your FREE Report: Global Meltdown: Four Stocks to Keep You out of the Fire" id="para4" type="hidden" /> 
	<input name="para5" value="http://www.taipanpublishinggroup.com/free-signups/gen-reports/globalmelt-tdsu-tpgweb.html" id="para5" type="hidden" /> 
	<input name="para6" value="You don’t have to wait to start your investment gains… Soaring demand for rare earth metals has exceeded world supply for years. The difference was made up from Chinese stockpiles, but China can't supply the world anymore. They need these critical resources for their own economy. They recently declared rare earths a national strategic reserve and cut exports by 72%. And Chinese supply could dry up completely when strict new environmental regulations go into effect. However, this URGENT FREE REPORT shows which four North American companies are about to break China's grip on rare earths! Get the report now:" id="para6" type="hidden" /> 
	<input name="para7" value="https://orders.taipanpublishinggroup.com/CUT58/WCUTM759/" id="para7" type="hidden" /> 
	<input name="para8" value="For more from our reliable team of financial analysts or to learn more about Taipan Publishing Group, visit our Web site:" id="para8" type="hidden" /> 
	<input name="para9" value="http://www.taipanpublishinggroup.com" id="para9" type="hidden" />
	<input type="hidden" id="para10" value="We hope you enjoy your subscription to Taipan Daily... and we wish you all the best in your investment endeavors." name="para10" />
	<input name="redir" value="http://www.taipanpublishinggroup.com/free-signups/confirmation/tdsu-tpgweb.html" id="redir" type="hidden" /> 
	<input name="list7" value="list7" id="list7" type="hidden" /> 
	<input name="source7" value="X5EAM410" id="source7" type="hidden" />
  </div>
</form>
  <div align="center" style="font-size:11px; font-family:Arial">We value your privacy!*
  </div>
  <br>
<span style="text-align:left; font-size:15px;"><strong>BONUS REPORT:</strong> As a gift to you, we&rsquo;ll also send you our latest Investment Market Report &quot;Global Meltdown: Four Stocks to Keep You out of the Fire&quot;</span>
