<div style="text-align: center">
<img src="plugins/action-popup/templates/images/tipping-point-logo.jpg" alt="TAIPAN'S TIPPING POINT ALERT" title="TAIPAN'S TIPPING POINT ALERT">
</div>
<strong>Breaking Down the News One Point at a Time</strong>
<br />
<div style="text-align: left">
<span style="font-size: 11pt">
<p>Let <em><strong>Taipan's Tipping Point Alert</strong></em> guide you to the truth in the news. We digest all the headlines, announcements and reports... and compile them into one convenient FREE email sent directly to your inbox.</p>
<p>From the breaking news on Wall Street... to the global market action, <em><strong>Tipping Point Alert</strong></em> delivers the news simplified... straightforward... what you absolutely need to act on for the <em>profits you deserve</em>!</p>
<p>Sign up for <em><strong>Tipping Point Alert</strong></em> today.</p>
</span>
</div>

<form></form>
<div style=" border:0px solid grey; background-color: #ffffff">
<form value="Your Email address..." method="post" action="http://www.taipanpublishinggroup.com/Scripts/tpasignup.php" onsubmit="WAValidateEM(document.signupP5.email,document.signupP5.email.value,'- Invalid email address',document.signupP5.email,1,true);WAValidateRQ(document.signupP5.email,'- Email is required',document.signupP5.email,1,false,'text');WAAlertErrors('The following errors were found','Correct invalid entries to continue',true,document.signupP5);return document.MM_returnValue" name="signupP5" id="signupP5"> <input name="email" value="Enter Your Email Address" size="24" onchange="this.value= this.value.toLowerCase();" tabindex="1" onfocus="if(this.value=='Enter Your Email Address')this.value='';KW_autoClear(this,'Email...')" style="background-color: #ffffa0;" title="Your Google Toolbar can fill this in for you. Select AutoFill" onblur="if(this.value=='')this.value='Enter Your Email Address';if(!validEmail(this.value)) this.focus();KW_autoClear(this,'Enter Your Email Address...')" /> <input name="the_button" value="Join Us" class="button2" align="middle" type="submit" /><span style="font-size: 9px; color: #000000;"><br />We Value Your Privacy!</span>
<div><input name="firstname" value="Valued" type="hidden" />
<input name="lastname" value="Reader" type="hidden" /> <input name="subject" value="Welcome to Taipan's Tipping Point Alert" type="hidden" /> 
<input name="txtmessage" value="Welcome to Taipan's Tipping Point Alert brought to you by Taipan Publishing Group." id="txtmessage" type="hidden" /> 

<input name="para2" value="In each alert you'll receive a special message from renowned financial expert Todd M. Schoenberger. Todd brings 16 years of experience to Taipan's Tipping Point Alert, including as a stockbroker and institutional trader for such companies as Merrill Lynch and Legg Mason Wood Walker. He's also the source that others seek out, having contributed his professional opinions to outlets such as <em>The Wall Street Journal</em>, FOX News, Bloomberg and <em>The New York Times</em>." id="para2" type="hidden" /> 

<input name="para3" value="In Tipping Point, Todd does the dirty work for you. You see, there are so many headlines hitting the airwaves, there's simply too much info for you to digest and decipher." id="para3" type="hidden" /> 

<input name="para4" value="That's where Tipping Point Alert comes into play. Todd will sift through all this news and deliver just what you absolutely need. From the breaking news on Wall Street... to the latest market action and economic events from around the globe, Todd will interpret what's important and give you the news that you absolutely need to act on to profit in your daily life." id="para4" type="hidden" />

<input name="para5" value="In fact, you may find this next bit of information somewhat interesting, and it could definitely be beneficial to you. If you don't mind making money at the U.S. government's expense, I urge you to read the following Investigative Expose immediately. At this moment, a powerful D.C.-based syndicate is poised to launch a tiny  micro-cap stock into orbit. Early investors could make a potential 12... 18... even 24 times their money. Act now, and you could alter your financial status for years to come. Here are the details:" id="para4" type="hidden" />

<input name="para6" value="https://orders.taipanpublishinggroup.com/CUT/WCUTL311/landing.html" id="para5" type="hidden" />

<input name="para7" value="And you can catch up on recent news from Taipan's Tipping Point Alert. To check out our past articles, simply go to our Web site:" id="para6" type="hidden" />

<input name="para8" value="http://www.taipanstippingpoint.com" id="para7" type="hidden" />

<input name="para9" value="Once there, you can also surf the Web site for other valuable information from Tipping Point Alert and Taipan Publishing Group." id="para7" type="hidden" />

<input name="para10" value="Once again, Welcome to Taipan's Tipping Point Alert... and we wish you all the best with your investment endeavors." id="para10" type="hidden" />

<input name="redir" id="redir" value="http://www.taipanpublishinggroup.com/tpa-cnf-exit.html" type="hidden" />
<input name="list12" value="list12" type="hidden" /> <input name="source12" value="X5TPL300" id="source12" type="hidden" /></div>
</form>
</div>