/**
* @version   $Id: template-j3.less 3966 2012-09-28 06:53:47Z josh $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
.this-is-for-j3 {
	display: none;
}
 // Core
 .pull-right {
 	float: right;
 }
 .pull-left {
 	float: left;
 }

 // Article
 .dropdown-menu {
 	float: right;
 	li {
 		list-style: none;
 		float: right;
 	}
 }
 .article-info {
 	i {
 		display: none;
 	}
 	> div {
 		display: inline-block;
 		float: left;
 		margin-right: 15px;
 	}
 }
 .createdby {
 	display: block;
 	font-size: inherit;
 	&:before {
 		content: "\f040";
 		font-family: FontAwesome;
 	}
 }
 .component-content {
 	.hits {
 		text-align: left;
 	}
 	.content_rating {
 		display: inline-block;
 	}
 	.print-icon {

 	}
 	.email-icon {

 	}
 }
// Buttons and Inputs
body {
	.btn [class^="icon-"], .btn [class*=" icon-"] {
		display: none;
	}
}
// Core
body {
	background-repeat: no-repeat;
	background-position: 100% 0;
	.rt-bg {
		background-repeat: no-repeat;
		background-position: 50% 100%;
	}
}
a {
	.transition(color 0.1s ease-out);
}
#rt-transition.rt-hidden {
	opacity: 0;
}
#rt-transition.rt-visible {
	opacity: 1;
	.transition(opacity 0.3s ease-in);
}
.module-title {
	margin-bottom: 12px;
}

// Navigation
.nav > li > a:hover {
	background-color: transparent;
}

// Login
body #login-form {
	span.add-on {
		border: none;
		background-color: transparent;
		display: block;
		.icon-user, .icon-lock {
			display: none;
		}
	}
	.input-prepend, .input-append {
		width: 100%;
		.btn {
			border: none;
			box-shadow: none;
			background: none;
		}
		.icon-question-sign {
			font-size: 16px;
			line-height: 1.2em;
			margin-right: 0;
			display: inline-block;
		}
	}
	label {
		width: auto;
		display: block;
		float: left;
	}
	input {
		float: left;
	}
	input#modlgn-username, input#modlgn-passwd {
		width: 85%;
	}
	ul.unstyled {
		i {
			display: none;
		}
	}
}
.login {
	+ div {
		.nav-tabs.nav-stacked > li > a {
			border: none;
		}
	}
	.well {
		background-color: transparent;
		box-shadow: none;
		border: none;
	}
}
