/*
 *  psd2css.css
 *
 *  This is your external CSS style sheet. It defines all of the CSS styles that you
 *  are using in your page.  If you are going to create multiple pages from the same
 *  PSD file (like a template), you will share this CSS style sheet between the various
 *  pages.
 *
 *  This file was originally generated at http://psd2cssonline.com 
 *  January 6, 2014, 7:24 pm with psd2css Online version 1.95
 *
 */

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: small;
}
#outerwrap {
	width: 100%;
	height: 1500px;
	text-align: center;
	
}


#innerwrap {

	display: inline-block;
	
	
}
/* You named this layer Blue BKGD */
#Layer-1 {
  position: relative;
  left: -50px;
  top: +0px;
  width: 1045px;
  height: 1405px;
  z-index: -1000;
} 

/* You named this layer Shape 1 copy */
#Layer-2 {
  position: absolute;
  left: 106px;
  top: 11px;
  width: 861px;
  height: 705px;
  z-index: 2;
}

/* You named this layer Shape 1 */
#Layer-3 {
  position: absolute;
  left: 117px;
  top: 40px;
  width: 849px;
  height: 687px;
  z-index: 3;
}
/* You named this layer Shape 1 */
#Layer-3b {
  position: absolute;
  left: 117px;
  top: 40px;
  width: 849px;
  height: 687px;
  z-index: 3;
}

/* You named this layer ExpandableBodyWhite */
#Layer-4 {
  position: absolute;
  left: 117px;
  top: 710px;
  width: 849px;
  height: 628px;
  z-index: 4;
}
#Layer-4b {
  position: absolute;
  left: 117px;
  top: 210px;
  width: 849px;
  height: 628px;
  z-index: -40;
}

/* You named this layer shadow */
#Layer-5 {
  position: absolute;
  left: 108px;
  top: 1326px;
  width: 214px;
  height: 65px;
  z-index: 5;
}

/* You named this layer shadow */
#Layer-5b {
  position: absolute;
  left: 108px;
  top: 692px;
  width: 214px;
  height: 65px;
  z-index: 2;
}

/* You named this layer shadow copy */
#Layer-6 {
  position: absolute;
  left: 760px;
  top: 1325px;
  width: 214px;
  height: 65px;
  z-index: 3;
}
/* You named this layer shadow copy */
#Layer-6b {
  position: absolute;
  left: 760px;
  top: 692px;
  width: 214px;
  height: 65px;
  z-index: 2;
}


/* You named this layer White Body BKGD */
#Layer-7 {
  position: absolute;
  left: 117px;
  top: 1148px;
  width: 849px;
  height: 218px;
  z-index: 7;
}

/* You named this layer Copyright 2013 Bonner  Partne */
#Layer-8 {
  position: absolute;
  left: 343px;
  top: 1382px;
  width: 410px;
  height: 10px;
  z-index: 8;
}

/* You named this layer Copyright 2013 Bonner  Partne */
#Layer-8b {
  position: absolute;
  left: 343px;
  top: 735px;
  width: 410px;
  height: 10px;
  z-index: 8;
}

/* You named this layer rules_link */
#Layer-9 {
  position: absolute;
  left: 241px;
  top: 189px;
  width: 137px;
  height: 12px;
  z-index: 9;
}

/* You named this layer privacy_link */
#Layer-10 {
  position: absolute;
  left: 517px;
  top: 189px;
  width: 101px;
  height: 15px;
  z-index: 10;
}

/* You named this layer Enter This Limited-Time Drawing */
#Layer-11 {
  position: absolute;
  left: 150px;
  top: 1125px;
  width: 577px;
  height: 90px;
  z-index: 11;
}

/* You named this layer Were Not Sure How Long We Can */
#Layer-12 {
  position: absolute;
  left: +250px;
  top: +1628px;
  width: 613px;
  height: 15px;
  z-index: 12;
}

/* You named this layer Were Not Sure How Long We Can */
#Layer-13 {
  position: absolute;
  left: 59px;
  top: 107px;
  width: 614px;
  height: 15px;
  z-index: 13;
}

/* You named this layer OrangePathBottom */
#Layer-14 {
  position: absolute;
  left: 493px;
  top: 135px;
  width: 183px;
  height: 16px;
  z-index: 14;
}

/* You named this layer Enter This Limited-Time Drawing */
#Layer-15 {
  position: absolute;
  left: 13px;
  top: 65px;
  width: 225px;
  height: 90px;
  z-index: 215;
}

/* You named this layer  There Is Absolutely No Obligat */
#Layer-16 {
  position: absolute;
  left: +297px;
  top: +1605px;
  width: 497px;
  height: 15px;
  z-index: 16;
}

/* You named this layer  There Is Absolutely No Obligat */
#Layer-17 {
  position: absolute;
  left: 59px;
  top: 82px;
  width: 497px;
  height: 15px;
  z-index: 17;
}

/* You named this layer Lower Text */
#Layer-18 {
  position: absolute;
  left: 17px;
  top: 7px;
  width: 776px;
  height: 382px;
  z-index: 18;
}

/* You named this layer With a gorgeous patriotic desig */
#Layer-19 {
  position: absolute;
  left: 9px;
  top: 82px;
  width: 255px;
  height: 288px;
  z-index: 19;
}

/* You named this layer By entering our gold giveaway y */
#Layer-20 {
  position: absolute;
  left: 308px;
  top: 79px;
  width: 268px;
  height: 288px;
  z-index: 20;
}

/* You named this layer Lower Text Headline Box1 */
#Layer-21 {
  position: absolute;
  left: 13px;
  top: 28px;
  width: 295px;
  height: 56px;
  z-index: 21;
}

/* You named this layer Lower Text Headline Box2 */
#Layer-22 {
  position: absolute;
  left: 278px;
  top: 21px;
  width: 302px;
  height: 56px;
  z-index: 22;
}

/* You named this layer Lots of info-envelope */
#Layer-23 {
  position: absolute;
  left: 298px;
  top: 83px;
  width: 119px;
  height: 116px;
  z-index: 23;
}

/* You named this layer Lots Of Dollars-Cash */
#Layer-24 {
  position: absolute;
  left: 211px;
  top: 27px;
  width: 1px;
  height: 4px;
  z-index: 24;
}

/* You named this layer Cash Icon */
#Layer-25 {
  position: absolute;
  left: 0px;
  top: 70px;
  width: 133px;
  height: 137px;
  z-index: 25;
}

/* You named this layer Worth Over 1400 */
#Layer-26 {
  position: absolute;
  left: 71px;
  top: 17px;
  width: 171px;
  height: 18px;
  z-index: 26;
}

/* You named this layer Free Newsletter */
#Layer-27 {
  position: absolute;
  left: 103px;
  top: 19px;
  width: 141px;
  height: 14px;
  z-index: 27;
}

/* You named this layer Layer 8 copy 5 */
#Layer-28 {
  position: absolute;
  left: 569px;
  top: 658px;
  width: 260px;
  height: 16px;
  z-index: 28;
}

/* You named this layer Box #1 */
#Layer-29 {
  position: absolute;
  left: 567px;
  top: 461px;
  width: 260px;
  height: 166px;
  z-index: 29;
}

/* You named this layer handcoin */
#Layer-30 {
  position: absolute;
  left: 591px;
  top: 248px;
  width: 209px;
  height: 241px;
  z-index: 30;
}

/* You named this layer Lower Gold Coin Back */
#Layer-31 {
  position: absolute;
  left: 717px;
  top: 983px;
  width: 254px;
  height: 255px;
  z-index: 31;
}

/* You named this layer Lower Gold Coin */
#Layer-32 {
  position: absolute;
  left: 712px;
  top: 710px;
  width: 260px;
  height: 261px;
  z-index: 32;
}

/* You named this layer CoinLabelFront */
#Layer-33 {
  position: absolute;
  left: 722px;
  top: 226px;
  width: 117px;
  height: 37px;
  z-index: 33;
}

/* You named this layer CoinLabelBack */
#Layer-34 {
  position: absolute;
  left: 721px;
  top: 72px;
  width: 116px;
  height: 37px;
  z-index: 34;
}

/* You named this layer Back */
#Layer-35 {
  position: absolute;
  left: 44px;
  top: 9px;
  width: 35px;
  height: 12px;
  z-index: 35;
}

/* You named this layer Front */
#Layer-36 {
  position: absolute;
  left: 40px;
  top: 8px;
  width: 38px;
  height: 12px;
  z-index: 36;
}

/* You named this layer Check */
#Layer-37 {
  position: absolute;
  left: 22px;
  top: 598px;
  width: 60px;
  height: 56px;
  z-index: 37;
}

/* You named this layer Check2 */
#Layer-38 {
  position: absolute;
  left: 295px;
  top: 598px;
  width: 60px;
  height: 56px;
  z-index: 38;
}

/* You named this layer NO SPAM We wont share rent o */
#Layer-39 {
  position: absolute;
  left: 82px;
  top: 611px;
  width: 198px;
  height: 35px;
  z-index: 39;
}

/* You named this layer NO CATCH Enter your email and */
#Layer-40 {
  position: absolute;
  left: 355px;
  top: 611px;
  width: 206px;
  height: 35px;
  z-index: 40;
}

/* You named this layer submitform_form */
#Layer-41 {
  position: absolute;
  left: 565px;
  top: 448px;
  width: 255px;
  height: 218px;
  z-index: 41;
}

/* You named this layer OrangeSubmit_button */
#Layer-42 {
  position: absolute;
  left: 17px;
  top: 122px;
  width: 222px;
  height: 83px;
  z-index: 42;
}

/* You named this layer EnterEmailAddress */
#Layer-43 {
  position: absolute;
  left: 565px;
  top: 221px;
  width: 255px;
  height: 282px;
  z-index: 43;
}

/* You named this layer side copy 4b */
#Layer-44 {
  position: absolute;
  left: 820px;
  top: 458px;
  width: 9px;
  height: 50px;
  z-index: 44;
}

/* You named this layer Act Now for Your Chance to Win */
#Layer-45 {
  position: absolute;
  left: 18px;
  top: 159px;
  width: 725px;
  height: 68px;
  z-index: 45;
}
/* You named this layer Act Now for Your Chance to Win */
#Layer-45b {
  position: absolute;
  left: 18px;
  top: 200px;
  width: 525px;
  height: 68px;
  z-index: 45;
}
/* You named this layer Act Now for Your Chance to Win */
#Layer-45c {
	position: absolute;
	left: 147px;
	top: 200px;
	width: 525px;
	height: 68px;
	z-index: 45;
}

/* You named this layer Ribbon Tabs */
#Layer-46 {
  position: absolute;
  left: 97px;
  top: 181px;
  width: 12px;
  height: 16px;
  z-index: 46;
}

/* You named this layer Ribbon Tabs #1 */
#Layer-47 {
  position: absolute;
  left: 967px;
  top: 181px;
  width: 10px;
  height: 15px;
  z-index: 47;
}

/* You named this layer Drop Shdw */
#Layer-48 {
  position: absolute;
  left: 97px;
  top: 180px;
  width: 880px;
  height: 5px;
  z-index: 48;
}

/* You named this layer Taper */
#Layer-49 {
  position: absolute;
  left: 51px;
  top: 82px;
  width: 87px;
  height: 90px;
  z-index: 49;
}

/* You named this layer Taper copy */
#Layer-50 {
  position: absolute;
  left: 936px;
  top: 82px;
  width: 87px;
  height: 90px;
  z-index: 50;
}

/* You named this layer Banner Strip */
#Layer-51 {
  position: absolute;
  left: 98px;
  top: 70px;
  width: 879px;
  height: 111px;
  z-index: 51;
}

/* You named this layer 2014 Gold Coin giveaway */
#Layer-52 {
  position: absolute;
  left: 315px;
  top: 0px;
  width: 564px;
  height: 111px;
  z-index: 52;
}

/* You named this layer OrangeArrow */
#Layer-53 {
  position: absolute;
  left: 732px;
  top: 21px;
  width: 73px;
  height: 74px;
  z-index: 53;
}

/* You named this layer Giveaway Underline */
#Layer-54 {
  position: absolute;
  left: 250px;
  top: 88px;
  width: 233px;
  height: 23px;
  z-index: 54;
}

/* You named this layer BP Logo */
#Layer-55 {
  position: absolute;
  left: 16px;
  top: 11px;
  width: 146px;
  height: 57px;
  z-index: 55;
}

/* You named this layer v1_video */
#Layer-56 {
  position: absolute;
  left: 13px;
  top: 253px;
  width: 520px;
  height: 293px;
  z-index: 56;
}

/* You named this layer Black Arrow */
#Layer-57 {
  position: absolute;
  left: -28px;
  top: 480px;
  width: 602px;
  height: 108px;
  z-index: 57;
}

/* You named this layer Simply Enter Your Email  for a */
#Layer-58 {
  position: absolute;
  left: 134px;
  top: 24px;
  width: 310px;
  height: 52px;
  z-index: 58;
}

/* You named this layer FREE 1oz GOLD COIN */
#Layer-59 {
  position: absolute;
  left: 173px;
  top: 26px;
  width: 698px;
  height: 49px;
  z-index: 59;
}

/* Here are some examples of how you might want to change the
 * look and behavior of the links on your page.  Some examples for
 * further customization are included in comments.  */
a {
  cursor: pointer;
  outline: none;
}
a:link { color: #F88; }
a:visited { color: #F88; }
a:hover {
  color: #F00;
  /* text-decoration: underline; */
  /* font-weight: bold; */
}
