/**
 * @author Andy Sharman
 * @copyright Andy Sharman (www.udjamaflip.com)
 * @link http://www.udjamaflip.com
 * @license GNU/GPL V2+
 * @version 1.0rc2
 * @package mod_udjacomments
**/ 

div#udjaCommentsWrapper
{
    font-size:10px;
    font-family:Verdana, Arial, Sans-Serif;
    color:#333333;
    padding:0px;
}

div#udjaCommentsWrapper .clear
{
    clear:both;
}

    div#udjaCommentsWrapper form
    {
        margin-top:15px;
        padding:15px;
        border-top:5px solid #999999;
        border-bottom:5px solid #999999;
        margin-bottom:15px;
    }
        
        div#udjaCommentsWrapper form h3
        {
            font-size:1.4em;
            margin:0px;
        }
        
        div#udjaCommentsWrapper form fieldset
        {
            border:none;
            padding:0px;
        }
        
        div#udjaCommentsWrapper form label
        {
            font-weight:bold;
            font-size:1.1em;
            color:#333333;
        }
        
        div#udjaCommentsWrapper form input.textbox,
        div#udjaCommentsWrapper form textarea
        {
            padding:3px;
            color:#545454;
            width:300px;
            font-size:1.1em;
            font-family:Verdana, Arial, Sans-Serif;
        }
        
        div#udjaCommentsWrapper form textarea
        {
            height:125px;
            width:450px;
        }
        
        div#udjaCommentsWrapper form input#btnUdjaSubmit 
        {
            float:right;
            margin-right:75px;
            background-color:#333333;
            color:#cccccc;
            border-color:#666666;
            padding:4px;
            padding-left:8px;
            padding-right:8px;
        }
        
    div#udjaCommentsWrapper ul.parentLayer
    {
        padding-top:15px;
        padding-bottom:15px;
        list-style:none;
        padding-right:15px;
    }
        
        div#udjaCommentsWrapper ul.parentLayer li
        {
            font-size:1.1em;
            list-syle:none;
            border:none;
        }
        
            div#udjaCommentsWrapper ul.parentLayer li div.commentDetails
            {
                padding:7px;
                border-radius:7px;
                margin-bottom:15px;
            }
            
            div#udjaCommentsWrapper ul.parentLayer li.even > div.commentDetails { background-color:Transparent; }
            div#udjaCommentsWrapper ul.parentLayer li.odd > div.commentDetails { background-color:#eeeeff; }
                
                div#udjaCommentsWrapper ul.parentLayer li div.commentDetails img.commentAvatar
                {
                    float:left;
                    width:40px;
                    height:40px;
                    margin:7px;
                    border:2px solid #cccccc;
                    background-color:#FFFFFF;
                }
                
                div#udjaCommentsWrapper ul.parentLayer li div.commentDetails p
                {
                    margin:0px;
                }
                
                div#udjaCommentsWrapper ul.parentLayer li div.commentDetails p.commentContent
                {
                    clear:both;
                    padding-left:7px;
                    padding-right:7px;
                }
                
                div#udjaCommentsWrapper ul.parentLayer li div.commentDetails p.commentReply
                {
                    text-align:right;
                    clear:both;
                    padding-left:7px;
                    padding-right:7px;
                }
            
            div#udjaCommentsWrapper ul.parentLayer li ul.childLayer
            {
                border-left:3px solid #dedede;
                padding-left:15px;
                list-style:none;
            }
            
                div#udjaCommentsWrapper ul.parentLayer li ul.childLayer li
                {
                    font-size:1em;
                }
                
                    div#udjaCommentsWrapper ul.parentLayer li ul.childLayer li div.commentDetails
                    {
                        border:none;
                    }
        
        div#udjaCommentsWrapper form label
        {
            float:left;
            width:150px;
            padding-right:15px;
            text-align:right;
            font-size:1.1em;
        }
    
    div#udjaCommentsWrapper ul.commentPagination
    {
        padding:7px;
        border-radius:5px;
        background-color:#efefef;
        font-size:1.1em;
        color:#333333;
        list-style:none;
        text-align:center;
    }
    
        div#udjaCommentsWrapper ul.commentPagination li
        {
            display:inline;
            padding-left:3px;
            padding-right:3px;
            font-weight:bold;
        }
        
        div#udjaCommentsWrapper ul.commentPagination li.prev
        {
            float:left;
            width:100px;
            text-align:left;
        }
        
        div#udjaCommentsWrapper ul.commentPagination li.next
        {
            float:right;
            width:100px;
            text-align:right;
        }
        
            div#udjaCommentsWrapper ul.commentPagination li a
            {
                font-weight:normal;
            }