/**
 * Stylesheet for Framework: Main stuff
 *
 * @package         NoNumber Framework
 * @version         12.11.9
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

table.admintable {
	margin: 0;
}
table.admintable tr,
table.admintable tr td {
	height: auto;
}