body #rt-page-surround {
  overflow: visible;
}
body .rt-container {
  width: 960px;
}
body .rt-container .rt-grid-1 {
  width: 80px;
}
body .rt-container .rt-grid-2 {
  width: 160px;
}
body .rt-container .rt-grid-3 {
  width: 240px;
}
body .rt-container .rt-grid-4 {
  width: 320px;
}
body .rt-container .rt-grid-5 {
  width: 400px;
}
body .rt-container .rt-grid-6 {
  width: 480px;
}
body .rt-container .rt-grid-7 {
  width: 560px;
}
body .rt-container .rt-grid-8 {
  width: 640px;
}
body .rt-container .rt-grid-9 {
  width: 720px;
}
body .rt-container .rt-grid-10 {
  width: 800px;
}
body .rt-container .rt-grid-11 {
  width: 880px;
}
body .rt-container .rt-grid-12 {
  width: 960px;
}
body .rt-container .rt-push-1 {
  left: 80px;
}
body .rt-container .rt-push-2 {
  left: 160px;
}
body .rt-container .rt-push-3 {
  left: 240px;
}
body .rt-container .rt-push-4 {
  left: 320px;
}
body .rt-container .rt-push-5 {
  left: 400px;
}
body .rt-container .rt-push-6 {
  left: 480px;
}
body .rt-container .rt-push-7 {
  left: 560px;
}
body .rt-container .rt-push-8 {
  left: 640px;
}
body .rt-container .rt-push-9 {
  left: 720px;
}
body .rt-container .rt-push-10 {
  left: 800px;
}
body .rt-container .rt-push-11 {
  left: 880px;
}
body .rt-container .rt-pull-1 {
  left: -80px;
}
body .rt-container .rt-pull-2 {
  left: -160px;
}
body .rt-container .rt-pull-3 {
  left: -240px;
}
body .rt-container .rt-pull-4 {
  left: -320px;
}
body .rt-container .rt-pull-5 {
  left: -400px;
}
body .rt-container .rt-pull-6 {
  left: -480px;
}
body .rt-container .rt-pull-7 {
  left: -560px;
}
body .rt-container .rt-pull-8 {
  left: -640px;
}
body .rt-container .rt-pull-9 {
  left: -720px;
}
body .rt-container .rt-pull-10 {
  left: -800px;
}
body .rt-container .rt-pull-11 {
  left: -880px;
}
body .rt-container .rt-prefix-1 {
  padding-left: 80px;
}
body .rt-container .rt-prefix-2 {
  padding-left: 160px;
}
body .rt-container .rt-prefix-3 {
  padding-left: 240px;
}
body .rt-container .rt-prefix-4 {
  padding-left: 320px;
}
body .rt-container .rt-prefix-5 {
  padding-left: 400px;
}
body .rt-container .rt-prefix-6 {
  padding-left: 480px;
}
body .rt-container .rt-prefix-7 {
  padding-left: 560px;
}
body .rt-container .rt-prefix-8 {
  padding-left: 640px;
}
body .rt-container .rt-prefix-9 {
  padding-left: 720px;
}
body .rt-container .rt-prefix-10 {
  padding-left: 800px;
}
body .rt-container .rt-prefix-11 {
  padding-left: 880px;
}
body .layout-showcase .sprocket-features-content {
  width: 45%;
}
body .layout-showcase .sprocket-features-img-container {
  width: 50%;
}
body .layout-showcase .sprocket-features-title {
  font-size: 260%;
}
body .layout-showcase .sprocket-features-desc {
  margin-top: 15px;
}
body .layout-showcase .sprocket-features-desc > span {
  font-size: 1em;
}
body .layout-showcase .sprocket-features-pagination li {
  width: 24px;
  height: 24px;
}
body .layout-showcase .sprocket-features-pagination li span {
  line-height: 24px;
}
body .layout-showcase .sprocket-features-pagination li.active {
  width: 38px;
  height: 38px;
}
body .layout-showcase .sprocket-features-pagination li.active span {
  font-size: 1.6em;
  line-height: 38px;
}
body .layout-showcase .sprocket-features-arrows {
  bottom: 55px;
}
body .sprocket-tabs-nav li .sprocket-tabs-inner {
  padding: 10px;
  font-size: 100%;
}
body .sprocket-mosaic .sprocket-mosaic-order li,
body .sprocket-mosaic .sprocket-mosaic-filter li {
  font-size: 1em;
  padding: 10px;
}
body #k2Container h2,
body #k2Container h3 {
  font-size: 1.8em !important;
}
body .promo1 {
  font-size: 350%;
}
body .promo2 {
  font-size: 300%;
}
body .promo3 {
  font-size: 150%;
}
body .rt-container [class*="rt-grid"] {
  display: inline;
  float: left;
}
.rt-menu-mobile {
  display: none !important;
}
body .sprocket-tabs-nav li .sprocket-tabs-inner {
  padding: 10px;
  font-size: 100%;
}
body .sprocket-mosaic .sprocket-mosaic-order li,
body .sprocket-mosaic .sprocket-mosaic-filter li {
  font-size: 1em;
  padding: 10px;
}
#rt-header .rt-grid-2 {
  display: block !important;
}
#rt-header .rt-grid-7 .rt-block.menu-block .menutop.level1 .rt-menu-offset-tablet {
  margin-right: inherit !important;
}
