.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.rok-left {
  float: left;
}
.rok-right {
  float: right;
}
.rok-dropdown-group,
.rok-dropdown {
  position: relative;
}
.rok-dropdown-open .rok-dropdown {
  display: block;
}
.rok-popover-group,
.rok-popover {
  position: relative;
}
.rok-popover-open .rok-popover {
  display: block;
}
i {
  background-image: url("") !important;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  vertical-align: text-top;
  font-style: normal;
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
}
i:last-child {
  *margin-left: 0;
}
.menutop {
  margin: 0;
}
.menutop li {
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.menutop li .item {
  display: block;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-decoration: none;
  float: none;
  width: auto;
  cursor: pointer;
  position: relative;
  outline: none;
}
.menutop li .fusion-submenu-wrapper {
  float: none;
  left: -999em;
  position: absolute;
  z-index: 500;
}
.menutop li:hover ul {
  top: 0;
  text-decoration: underline;
}
.menutop li:hover li ul {
  top: -999em;
}
.menutop em {
  font-size: 80%;
  font-weight: normal;
  display: block;
  font-style: normal;
}
.rt-fusionmenu {
  float: left;
}
.menutop {
  padding: 0 10px;
  line-height: 1em;
}
.menutop li.root {
  float: left;
}
.menutop li.root:last-child {
  background: none;
}
.menutop li.root > .item {
  font-size: 1.1em;
  z-index: 100;
  height: 36px;
  padding: 10px 0 25px 0;
  margin: 0 15px 15px 0;
}
.menutop li.root > .item > span {
  display: block;
  margin: 0;
  outline: none;
  padding: 10px 15px 5px 5px;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.8em;
  font-size: 18px;
}
.menutop li.root > .item em {
  font-size: 10px;
  display: block;
  text-transform: lowercase;
  line-height: 0.3em;
}
.menutop li.root > .item img {
  margin: 0 4px 0 0;
  vertical-align: text-bottom;
}
.menutop li.root .item.icon [class^="icon-"],
.menutop li.root .item.icon [class*= " icon-"] {
  background-image: none !important;
  width: auto;
  display: inline;
}
.menutop li.root .item.icon [class^="icon-"]:before,
.menutop li.root .item.icon [class*= " icon-"]:before {
  text-indent: 0;
  margin-right: 5px;
}
.menutop li.root .subtext span {
  line-height: 1.9em;
}
.menutop li.parent.root .item {
  margin: 0 15px 0 0;
}
.menutop li.parent.root .item > span {
  padding-right: 22px;
}
.menutop li.parent.root .item .daddyicon {
  width: 12px;
  height: 12px;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 4px;
  line-height: 12px;
  font-size: 0.8em;
  font-family: FontAwesome;
}
.menutop li.parent.root .item .daddyicon:before {
  content: "\f078";
}
.menutop li.active .rt-arrow-pointer,
.menutop li:hover .rt-arrow-pointer,
.menutop li.f-mainparent-itemfocus .rt-arrow-pointer {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top-width: 10px;
  border-top-style: solid;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -11px;
}
.fusion-js-container {
  display: block;
  height: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  z-index: 600000 !important;
  background: transparent !important;
}
.fusion-js-subs {
  display: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.fusion-js-subs ul li,
.fusion-js-subs ul li a {
  width: auto !important;
}
.menutop ul {
  padding: 0;
  margin: 0;
  float: left;
}
.menutop ul li {
  padding: 0;
  display: block;
}
.menutop ul li > .item {
  padding: 0 15px;
  height: auto;
  display: block;
  font-size: 1em;
  color: #FFFFFF;
}
.menutop ul li > .item > span {
  display: block;
  width: 100%;
  overflow: hidden;
  line-height: 3em;
}
.menutop ul li .item {
  cursor: pointer;
  outline: none;
  position: relative;
}
.menutop ul li .item.icon [class^="icon-"],
.menutop ul li .item.icon [class*= " icon-"] {
  background-image: none !important;
  width: auto;
  display: inline;
}
.menutop ul li .item.icon [class^="icon-"]:before,
.menutop ul li .item.icon [class*= " icon-"]:before {
  text-indent: 0;
  margin-right: 5px;
}
.menutop ul li .item img {
  float: left;
  margin: 8px 6px 0 0;
  vertical-align: top;
}
.menutop ul li .nolink span {
  display: block;
}
.menutop ul li .subtext span {
  line-height: 1.9em;
}
.menutop ul li .subtext em {
  line-height: 0.6em;
  padding-bottom: 7px;
  text-transform: lowercase;
}
.menutop ul li > .daddy span:before {
  font-family: FontAwesome;
  content: "\f054";
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 0.8em;
}
.menutop ul .grouped-parent > .daddy span:before {
  display: none;
}
.menutop .drop-bot {
  height: 1px;
  overflow: hidden;
  clear: both;
}
.menutop .fusion-submenu-wrapper {
  height: auto !important;
  -webkit-transition: box-shadow 0.4s ease-in;
  -moz-transition: box-shadow 0.4s ease-in;
  -o-transition: box-shadow 0.4s ease-in;
  -ms-transition: box-shadow 0.4s ease-in;
  transition: box-shadow 0.4s ease-in;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}
.menutop li.root:hover > .fusion-submenu-wrapper {
  top: 35px;
  left: 0;
}
.menutop ul li:hover > .fusion-submenu-wrapper {
  left: 180px;
  top: 0;
}
.menutop .fusion-grouped {
  padding-bottom: 10px;
  display: block;
}
.menutop .fusion-grouped ol {
  padding: 0;
}
.menutop .fusion-grouped ol li {
  padding: 0;
}
.menutop .fusion-grouped ol li .item {
  padding: 0 8px;
}
.menutop .fusion-grouped ol li span {
  font-size: 85%;
  line-height: 2em;
}
.menutop .fusion-js-subs li .fusion-modules {
  padding-top: 15px;
}
.menutop .fusion-js-subs li .fusion-modules:hover {
  background: none;
}
.menutop .type-module ol {
  padding: 0;
}
.menutop .type-module ol li {
  padding: 0;
}
.menutop .type-module ol li .fusion-module {
  padding: 0;
  background: none;
  overflow: hidden;
  display: block;
}
.menutop .type-module ol li .fusion-module em {
  display: inline;
  font-size: inherit;
  font-style: italic;
}
.menutop .type-module ol li .fusion-module a {
  font-size: inherit;
  line-height: 130%;
}
.menutop .type-module ol li .fusion-module p {
  line-height: 160%;
}
.menutop .type-module ol li .fusion-modules {
  background: none;
  display: block;
}
.menutop .type-module ol li .fusion-modules p {
  line-height: 160%;
}
.menutop .type-module ol li .fusion-modules.item {
  padding: 15px;
}
.menutop ul li .fusion-modules {
  cursor: inherit;
}
.menutop ul li.grouped-parent > .daddy span {
  background: none;
}
