.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.rok-left {
  float: left;
}
.rok-right {
  float: right;
}
.rok-dropdown-group,
.rok-dropdown {
  position: relative;
}
.rok-dropdown-open .rok-dropdown {
  display: block;
}
.rok-popover-group,
.rok-popover {
  position: relative;
}
.rok-popover-open .rok-popover {
  display: block;
}
i {
  background-image: url("") !important;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  vertical-align: text-top;
  font-style: normal;
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
}
i:last-child {
  *margin-left: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
html {
  margin-bottom: 1px;
  height: 100%;
}
body {
  margin-bottom: 1px;
}
.rt-block {
  padding: 15px;
  margin: 10px;
  position: relative;
}
#rt-content-top,
#rt-content-bottom {
  overflow: hidden;
}
.rt-grid-1:before,
.rt-grid-2:before,
.rt-grid-3:before,
.rt-grid-4:before,
.rt-grid-5:before,
.rt-grid-6:before,
.rt-grid-7:before,
.rt-grid-8:before,
.rt-grid-9:before,
.rt-grid-10:before,
.rt-grid-11:before,
.rt-grid-12:before {
  display: table;
  content: "";
  clear: both;
}
.rt-grid-1:after,
.rt-grid-2:after,
.rt-grid-3:after,
.rt-grid-4:after,
.rt-grid-5:after,
.rt-grid-6:after,
.rt-grid-7:after,
.rt-grid-8:after,
.rt-grid-9:after,
.rt-grid-10:after,
.rt-grid-11:after,
.rt-grid-12:after {
  display: table;
  content: "";
  clear: both;
}
.font-family-optima {
  font-family: Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', sans-serif;
}
.font-family-geneva {
  font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;
}
.font-family-helvetica {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
}
.font-family-lucida {
  font-family: "Lucida Grande", Helvetica, Verdana, sans-serif;
}
.font-family-georgia {
  font-family: Georgia, sans-serif;
}
.font-family-trebuchet {
  font-family: "Trebuchet MS", sans-serif;
}
.font-family-palatino {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
}
body {
  font-size: 13px;
  line-height: 1.7em;
  font-family: Helvetica, Arial, Sans-Serif;
}
.font-size-is-xlarge {
  font-size: 16px;
  line-height: 1.7em;
}
.font-size-is-large {
  font-size: 15px;
  line-height: 1.7em;
}
.font-size-is-default {
  font-size: 14px;
  line-height: 1.7em;
}
.font-size-is-small {
  font-size: 12px;
  line-height: 1.7em;
}
.font-size-is-xsmall {
  font-size: 10px;
  line-height: 1.7em;
}
form {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 15px 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 15px 0;
  line-height: 1.1em;
}
h1 {
  font-size: 260%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 175%;
}
h4 {
  font-size: 130%;
}
h5 {
  font-size: 110%;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
blockquote {
  font: italic 16px/22px Georgia, Serif;
}
.left-1,
.left-2,
.left-3,
.left-4,
.left-5,
.left-6,
.left-7,
.left-8,
.left-9,
.left-10,
.right-11 {
  float: left;
  margin-right: 50px;
  margin-bottom: 15px;
  position: relative;
}
.right-1,
.right-2,
.right-3,
.right-4,
.right-5,
.right-6,
.right-7,
.right-8,
.right-9,
.right-10,
.right-11 {
  float: right;
  margin-left: 50px;
  margin-bottom: 15px;
  position: relative;
}
.date-block {
  padding: 15px;
}
ol {
  padding-left: 15px;
}
ul li {
  padding: 0;
  margin: 0;
}
ul li a {
  font-size: 1.2em;
  line-height: 1.8em;
}
ul li.author {
  margin: 0;
  letter-spacing: 1px;
  list-style: none;
  font-weight: bold;
  text-align: right;
}
ul li.author span {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1em;
}
ul li.date {
  margin: 0;
  letter-spacing: 1px;
  list-style: none;
  text-align: right;
  font-weight: bold;
}
ul li.date span {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1em;
}
ul li.comments {
  list-style: none;
  text-align: right;
  font-weight: bold;
}
ul li.comments span {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1em;
}
ul ul {
  margin-left: 25px;
  padding: 5px 0;
}
body.rtl {
  direction: rtl;
}
body.rtl {
  min-width: inherit;
}
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
#debug #rt-main {
  overflow: hidden;
  border-bottom: 4px solid #666;
  margin-top: 15px;
  position: relative;
}
#debug .status {
  position: absolute;
  background: #333;
  opacity: .3;
  padding: 0 15px;
  z-index: 10000;
  color: #fff;
  font-weight: bold;
  font-size: 150%;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.row {
  margin: 0 -15px;
}
.gantry-width-block {
  display: block;
  float: left;
}
.gantry-width-spacer {
  margin: 15px;
}
.gantry-width-20 {
  width: 20%;
}
.gantry-width-25 {
  width: 25%;
}
.gantry-width-30 {
  width: 30%;
}
.gantry-width-33 {
  width: 33.33%;
}
.gantry-width-40 {
  width: 40%;
}
.gantry-width-50 {
  width: 50%;
}
.gantry-width-60 {
  width: 60%;
}
.gantry-width-66 {
  width: 66.66%;
}
.gantry-width-70 {
  width: 70%;
}
.gantry-width-75 {
  width: 75%;
}
.gantry-width-80 {
  width: 80%;
}
.gantry-left {
  float: left;
  margin-right: 15px;
}
.gantry-right {
  float: right;
  margin-left: 15px;
}
#gantry-totop {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 3px;
}
#rt-accessibility .rt-desc {
  float: left;
  margin-right: 8px;
  font-weight: bold;
}
#rt-accessibility #rt-buttons .button {
  line-height: 1em;
  padding: 0;
  width: 14px;
  height: 14px;
  text-align: center;
}
#rt-accessibility #rt-buttons .small .button:after {
  content: '-';
}
#rt-accessibility #rt-buttons .large .button:after {
  content: '+';
}
.component-content .row-separator {
  display: block;
  clear: both;
  margin: 0;
  border: 0;
  height: 1px;
}
.component-content .item-separator {
  display: none;
  margin: 0;
}
.component-content .shownocolumns {
  width: 98%;
}
.component-content .column-1,
.component-content .column-2,
.component-content .column-3 {
  padding: 10px 0;
}
.component-content .column-2 {
  width: 55%;
  margin-left: 40%;
}
.component-content .column-3 {
  width: 30%;
}
.component-content .cols-1 {
  display: block;
  float: none !important;
  margin: 0 !important;
}
.component-content .cols-2 .column-1 {
  width: 48%;
  float: left;
}
.component-content .cols-2 .column-2 {
  width: 48%;
  float: right;
  margin: 0;
}
.component-content .cols-3 .column-1 {
  float: left;
  width: 29%;
  margin-right: 7%;
}
.component-content .cols-3 .column-2 {
  float: left;
  width: 29%;
  margin-left: 0;
}
.component-content .cols-3 .column-3 {
  float: right;
  width: 29%;
  padding: 10px 0;
}
.component-content .items-row {
  margin-bottom: 10px;
}
.component-content .blog-more {
  padding: 10px 5px;
}
.categories-list {
  padding: 0 5px;
}
.categories-list ul {
  margin: 0 0 0 20px;
  padding: 0;
}
.categories-list ul li {
  padding: 5px;
  list-style-type: none;
  margin: 0;
}
.categories-list ul ul {
  margin-left: 15px;
}
.categories-list dl dt,
.categories-list dl dd {
  display: inline;
}
.category-desc {
  line-height: 1.7em;
  margin: 10px 0;
  padding-left: 0;
}
.component-content .actions {
  float: right;
}
.component-content .actions li {
  list-style: none;
  display: inline-block;
}
.component-content .actions li a {
  display: block;
  font-size: 1em;
  margin-left: 2px;
}
.component-content .actions .print-icon img {
  display: none;
}
.component-content .actions .print-icon a:before {
  font-family: FontAwesome;
  content: "\f02f";
}
.component-content .actions .email-icon img {
  display: none;
}
.component-content .actions .email-icon a:before {
  font-family: FontAwesome;
  content: "\f0e0";
}
.component-content .actions .edit-icon img {
  display: none;
}
.component-content .actions .edit-icon a:before {
  font-family: FontAwesome;
  content: "\f044";
}
.component-content .article-info {
  display: block;
  margin-bottom: 15px;
}
.component-content .article-info dd {
  margin-right: 15px;
  margin-left: 0;
  display: inline-block;
}
.component-content .article-info dd:before {
  font-family: FontAwesome;
  margin-right: 2px;
}
.component-content .article-info .category-name:before {
  content: "\f0c9";
}
.component-content .article-info .create:before {
  content: "\f017";
}
.component-content .article-info .modified:before {
  content: "\f017";
}
.component-content .article-info .published:before {
  content: "\f017";
}
.component-content .article-info .createdby:before {
  content: "\f040";
}
.component-content .article-info .hits:before {
  content: "\f019";
}
.component-content .article-info .article-info-term {
  display: none;
}
.component-content .content_vote {
  margin: 10px 0;
}
.component-content .blog-featured h2 {
  margin-top: 0;
}
.component-content .blog h2 {
  margin-top: 0;
}
.component-content .item-page h2 {
  margin-top: 0;
}
.component-content .pagenav {
  padding: 2px;
  clear: both;
  margin-top: 20px;
  margin-left: 0;
  overflow: hidden;
}
.component-content .pagenav li {
  list-style: none;
  border-radius: 4px;
}
.component-content .pagenav li a {
  padding: 6px 10px;
  font-size: 1em;
}
.component-content .pagenav .pagenav-prev {
  float: left;
}
.component-content .pagenav .pagenav-next {
  float: right;
}
.component-content .items-leading {
  margin-bottom: 25px;
}
.component-content .img-intro-right,
.component-content .img-fulltext-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
.component-content .img-intro-left,
.component-content .img-fulltext-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.component-content .edit #editor-xtd-buttons a:link,
.component-content .edit #editor-xtd-buttons a:hover,
.component-content .edit #editor-xtd-buttons a:visited {
  color: #323232;
}
.component-content .edit legend {
  font-size: 150%;
}
.component-content .edit #adminForm fieldset {
  padding: 20px 15px;
  margin: 10px 0 15px 0;
}
.component-content .edit #adminForm .formelm-area {
  padding: 5px 0;
}
.component-content .edit #adminForm .formelm-area label {
  vertical-align: top;
  display: inline-block;
  width: 7em;
}
.component-content .formelm {
  margin: 5px 0;
}
.component-content .formelm label {
  width: 9em;
  display: inline-block;
  vertical-align: top;
}
.component-content .formelm-buttons {
  text-align: right;
  margin-bottom: 10px;
}
.component-content .button2-left {
  float: left;
  margin-right: 5px;
  margin-top: 10px;
}
.component-content .button2-left .readmore {
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  text-shadow: none;
  font-size: inherit;
  text-transform: inherit;
}
.calendar td.button {
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  text-shadow: none;
  font-size: inherit;
  text-transform: inherit;
  color: #000000;
  display: table-cell;
}
.calendar td.button:after {
  position: relative;
}
.calendar td.title {
  font-size: 1.4em;
}
.component-content .items-more {
  padding-top: 10px;
}
.component-content .items-more h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}
.component-content .items-more ol {
  line-height: 1.3em;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 2px;
}
.component-content .items-more ol li {
  margin-bottom: 5px;
}
.component-content .items-more ol li a {
  display: inline;
  font-weight: normal;
  padding: 0;
  background-position: 6px -411px;
  background-repeat: no-repeat;
}
.component-content .items-more ol li a:before {
  font-family: FontAwesome;
  content: "\f054";
  margin-right: 4px;
}
.component-content .pagination {
  margin: 10px 0;
  padding: 10px 0;
  clear: both;
}
.component-content .pagination .counter {
  text-align: center;
  margin: 0;
  font-weight: bold;
  margin-bottom: 5px;
}
.component-content .pagination ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.component-content .pagination ul li {
  display: inline;
  text-align: center;
}
.component-content .pagination ul li a,
.component-content .pagination ul li span {
  margin: 0 1px;
  padding: 2px 5px;
  font-size: 1.1em;
  line-height: 1.3em;
  border-radius: 3px;
}
.component-content .pagination-start,
.component-content .pagination-next,
.component-content .pagination-end,
.component-content .pagination-prev {
  border: 0;
}
.component-content .pagination-start {
  padding: 0;
}
.component-content .pagination-start span {
  padding: 0;
}
.component-content #password-lbl,
.component-content #username-lbl {
  width: 130px;
  display: block;
  float: left;
  font-size: 1.2em;
  line-height: 2em;
}
.component-content .login-fields #username,
.login-fields #password,
#contact-form dd input,
#contact-form dd textarea,
#modlgn-username,
#modlgn-passwd,
#jform_email,
#member-registration dd input,
#search-searchword,
.finder .inputbox {
  padding: 4px;
  border-radius: 3px;
  line-height: 1.6em;
}
.component-content .login fieldset div {
  margin-bottom: 8px;
}
.component-content .login + div {
  margin-top: 12px;
}
.component-content .login + div ul li,
#login-form li {
  list-style: none;
}
.component-content .login + div ul li a,
#login-form a {
  padding: 0;
  margin-bottom: 8px;
  line-height: 100%;
  font-weight: normal;
  font-size: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 2px -413px;
}
.component-content .login + div ul li a:before,
#login-form a:before {
  font-family: FontAwesome;
  content: "\f059";
  margin-right: 4px;
}
.component-content .login + div ul li a:hover,
#login-form a:hover {
  background-position: 2px -303px;
}
.component-content .login + div ul {
  padding: 0;
  margin-left: 0;
}
.component-content .login-description {
  margin: 10px 0;
}
#login-form .userdata {
  margin: 12px 0;
}
#login-form ul {
  padding: 0;
  margin-left: 0;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 94%;
}
.breadcrumbs img[src $="arrow.png"] {
  display: none;
}
.breadcrumbs a:after {
  font-family: FontAwesome;
  content: "\f054";
  margin: 0 5px 0 10px;
}
.breadcrumbs .showHere {
  font-weight: bold;
  margin-right: 5px;
}
#rt-breadcrumbs .rt-block {
  padding: 0 15px;
}
.component-content table {
  border-collapse: collapse;
}
.component-content table.weblinks {
  font-size: 1em;
  margin: 10px 10px 20px 0;
  width: 99%;
}
.component-content table.weblinks td {
  border-collapse: collapse;
  padding: 7px;
}
.component-content table.weblinks td p {
  margin: 0;
  line-height: 1.3em;
}
.component-content table.weblinks th {
  padding: 7px;
  text-align: left;
}
.component-content table.category {
  font-size: 1em;
  margin: 10px 10px 20px 0;
  width: 99%;
}
.component-content table.category td {
  padding: 7px;
}
.component-content table.category th {
  padding: 7px;
  text-align: left;
}
.component-content table.category th a img {
  padding: 2px 10px;
}
.component-content .weblink-category p {
  font-size: 12px;
}
.component-content .weblink-category td.title {
  font-size: 16px;
}
.component-content .num {
  vertical-align: top;
  text-align: left;
}
.component-content .hits {
  vertical-align: top;
  text-align: center;
}
.component-content .filter {
  margin: 10px 0;
  text-align: right;
  margin-right: 7px;
}
.component-content .display-limit {
  text-align: right;
  margin-right: 7px;
}
.component-content .filter-search {
  float: left;
}
.component-content .filter-search .inputbox {
  width: 6em;
}
.component-content .element-invisible {
  position: absolute;
  margin-left: -3000px;
  margin-top: -3000px;
  height: 0;
}
.component-content .cat-items {
  margin-top: 20px;
}
.component-content #member-registration {
  padding: 0 5px;
}
.component-content form fieldset dt {
  clear: left;
  float: left;
  width: 12em;
  padding: 3px 0;
}
.component-content form fieldset dd {
  float: left;
  padding: 3px 0;
}
.invalid,
.login-fields #username.invalid,
.login-fields #password.invalid,
#contact-form dd input.invalid,
#contact-form dd textarea.invalid,
#modlgn-username.invalid,
#modlgn-passwd.invalid,
#jform_email.invalid,
#member-registration dd input.invalid,
#search-searchword.invalid,
.finder .inputbox.invalid,
.inputbox.invalid,
#k2Container .inputbox.invalid,
div.k2SearchBlock form input.inputbox.invalid,
div.k2LoginBlock fieldset.input p input.invalid {
  border-color: #ff0000;
}
label.invalid {
  color: #ff0000 !important;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}
.component-content .searchintro {
  font-weight: normal;
  margin: 20px 0 20px;
}
.component-content #searchForm,
.component-content #finder-search {
  padding: 0 5px;
}
.component-content .form-limit {
  margin: 20px 0 0;
  text-align: right;
  padding: 0 10px 0 20px;
}
.component-content .highlight {
  font-weight: bold;
}
.component-content .ordering-box {
  width: 40%;
  float: right;
}
.component-content .phrases-box {
  width: 60%;
  float: left;
}
.component-content .only,
.component-content .phrases {
  margin: 10px 0 0 0;
  line-height: 1.3em;
}
.component-content label.ordering {
  display: block;
  margin: 10px 0 10px 0;
}
.component-content .word {
  padding: 10px 10px 10px 0;
}
.component-content .word input {
  font-weight: bold;
  padding: 4px;
  font-size: 1em;
}
.component-content .word label {
  font-weight: bold;
}
.component-content fieldset.only label,
.component-content fieldset.phrases label {
  margin: 0 10px 0 0;
}
.component-content .ordering-box label.ordering {
  margin: 0 10px 5px 0;
}
.component-content form .search label,
.component-content form .finder label {
  display: none;
}
.component-content form #finder-filter-select-list label {
  display: block;
  margin-top: 10px;
  margin-bottom: 2px;
}
.component-content .search legend {
  font-weight: bold;
}
.component-content .search-results .result-title {
  padding: 15px 15px 0 5px;
  font-weight: bold;
}
.component-content .search-results dd {
  padding: 2px 15px 2px 5px;
}
.component-content .search-results .result-text {
  padding: 10px 15px 10px 5px;
  line-height: 1.7em;
}
.component-content .search-results .result-url {
  font-size: 90%;
  padding: 2px 15px 15px 5px;
}
.component-content .search-results .result-created {
  padding: 2px 15px 15px 5px;
}
.component-content .search-results .result-category {
  padding: 10px 15px 5px 5px;
}
.component-content .contact {
  padding: 0;
}
.component-content .contact-category {
  padding: 0 10px;
}
.component-content .contact-category #adminForm .filters {
  border: 0;
  padding: 0;
}
.component-content .contact-image {
  margin: 10px 0;
  overflow: hidden;
  display: block;
}
.component-content .contact-image img {
  max-width: 100%;
}
.component-content address {
  font-style: normal;
  margin: 10px 0;
}
.component-content address span {
  display: block;
}
.component-content .contact-address {
  margin: 20px 0 10px 0;
}
.component-content .contact-email div {
  padding: 2px 0;
  margin: 0 0 10px 0;
}
.component-content .contact-email label {
  width: 17em;
  float: left;
}
.component-content #contact-textmsg {
  padding: 2px 0 10px 0;
}
.component-content #contact-email-copy {
  float: left;
  margin-right: 10px;
}
.component-content .contact .button {
  float: none !important;
  clear: left;
  display: block;
  margin: 20px 0 0 0;
}
.component-content dl.tabs {
  float: left;
  margin: 50px 0 0 0;
  z-index: 50;
  clear: both;
}
.component-content dl.tabs dt {
  float: left;
  padding: 4px 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  margin-right: 3px;
  background: #f0f0f0;
  color: #666666;
}
.component-content dl.tabs .open {
  background: #F9F9F9;
  border-bottom: 1px solid #F9F9F9;
  z-index: 100;
  color: #000000;
}
.component-content .current {
  clear: both;
  border: 1px solid #cccccc;
  padding: 10px 10px;
}
.component-content .current dd {
  padding: 0;
  margin: 0;
}
.component-content #content-pane.tabs {
  margin: 1px 0 0 0;
}
.component-content .contact .title {
  font-size: 1.3em;
  margin: 0 0 2px 0;
  border: 0;
  box-shadow: none;
  padding: 0;
  border-radius: 3px;
}
.component-content .contact .title a {
  display: block;
  padding: 10px;
}
.component-content .contact .title a span {
  line-height: 1em;
}
.component-content .contact .title a span:before {
  font-family: FontAwesome;
  content: "\f055";
  margin: 0 10px 0 0;
  font-size: 1.3em;
  display: inline;
  vertical-align: middle;
}
.component-content .contact .pane-toggler-down a span:before {
  content: "\f056";
}
.component-content #users-profile-core,
.component-content #users-profile-custom {
  margin: 10px 0 15px 0;
  padding: 15px;
}
.component-content #users-profile-core dt,
.component-content #users-profile-custom dt {
  float: left;
  width: 12em;
  padding: 3px 0;
}
.component-content #users-profile-core dd,
.component-content #users-profile-custom dd {
  padding: 3px 0;
}
.component-content #member-profile fieldset,
.component-content .registration fieldset {
  margin: 10px 0 15px 0;
  padding: 15px;
}
.component-content #users-profile-core legend,
.component-content #users-profile-custom legend,
.component-content .profile-edit legend,
.component-content .registration legend {
  font-weight: bold;
}
.component-content .profile-edit #member-profile fieldset dd,
.component-content .registration #member-registration fieldset dd {
  float: none;
  padding: 5px 0;
}
.component-content .profile-edit #member-profile fieldset dd input,
.component-content .profile-edit #member-profile fieldset dd select,
.component-content .registration #member-registration fieldset dd input {
  width: 17em;
}
.component-content .profile-edit #member-profile fieldset dt,
.component-content .registration #member-registration fieldset dt {
  padding: 5px 5px 5px 0;
  width: 13em;
}
.component-content .optional {
  font-size: 0.9em;
}
.component-content .contentpaneopen_edit {
  float: left;
}
.component-content .mceButton:hover {
  background: none !important;
}
.component-content .edit #adminForm fieldset {
  padding: 20px 15px;
  margin: 10px 0 15px 0;
}
.component-content .formelm {
  margin: 5px 0;
}
.component-content .formelm label {
  width: 13em;
  display: inline-block;
  vertical-align: top;
}
.component-content #adminForm .formelm-area {
  padding: 5px 0;
}
.component-content #adminForm .formelm-area label {
  vertical-align: top;
  display: inline-block;
  width: 7.9em;
}
.component-content .formelm-buttons {
  text-align: right;
  margin-bottom: 10px;
}
.component-content .modal-button,
.component-content .button2-left .blank a,
.component-content .button2-left a,
.component-content .button2-left .readmore a {
  background: #eee;
  padding: 4px !important;
  margin: 0 !important;
  line-height: 1.2em;
  border: solid 1px #ddd;
  font-weight: bold;
  text-decoration: none;
  display: inline;
}
.component-content table.contenttoc {
  padding: 10px;
  margin: 10px;
}
.component-content table.contenttoc tr td {
  padding: 1px 0;
}
.component-content .pagenavcounter {
  font-weight: bold;
}
.component-content .tip {
  font-size: 0.8em;
  text-align: left;
  padding: 3px;
  max-width: 400px;
}
.component-content .tip-title {
  font-weight: bold;
}
.tip-wrap {
  padding: 8px;
  border-radius: 4px;
}
.system-unpublished .system-unpublished {
  margin: -10px;
  padding: 10px;
  border-top: 16px solid;
  border-bottom: 5px solid;
  position: relative;
}
.system-unpublished .system-unpublished:before {
  content: 'Unpublished';
  text-transform: uppercase;
  top: -19px;
  left: 10px;
  position: absolute;
  font-size: 0.8em;
  font-weight: bold;
}
#system-message {
  margin-bottom: 10px;
  padding: 0;
}
#rt-drawer #system-message {
  margin-bottom: 36px;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  margin: 0;
  font-weight: bold;
}
#system-message dd ul {
  background: #BFD3E6;
  color: #0055BB;
  margin: 10px 0 10px 0;
  list-style: none;
  padding: 10px;
  border: 2px solid #84A7DB;
}
#system-message dt.error {
  display: none;
}
#system-message dd.error ul {
  color: #c00;
  background-color: #EBC8C9;
  border: 2px solid #DE7A7B;
}
#system-message dd.notice {
  background: none;
  border: 0;
}
#system-message dt.notice {
  display: none;
}
#system-message dd.notice ul {
  color: #A08B4C;
  background: #F5ECC1;
  border: 2px solid #F0DC7E;
}
#system-debug {
  color: #cccccc;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}
#system-debug div {
  font-size: 11px;
}
a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
#rt-transition.rt-hidden {
  opacity: 0;
}
#rt-transition.rt-visible {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.logo-block {
  padding: 0 15px;
  margin: 7px 10px;
}
#rt-logo {
  margin: 0;
  width: 112px;
  height: 46px;
  display: block;
}
#rt-top-surround {
  position: relative;
}
#rt-top-surround:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
#rt-header,
#rt-top {
  z-index: 2;
  position: relative;
}
.menu-block {
  padding: 0;
  margin: 0;
}
.rt-menu-mobile {
  text-align: center;
  padding: 0 0 15px 0;
}
#rt-maintop {
  padding-top: 20px;
}
.title,
.component-content h2 {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: normal;
  margin-top: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#rt-top-surround .title,
#rt-showcase .title {
  border: none;
  box-shadow: none;
}
.title1 .title {
  margin: -11px -16px 20px -16px;
  padding: 10px 15px;
  border-radius: 4px;
}
.title2 .title {
  margin: -10px -15px 20px -15px;
  padding: 10px 15px;
  border-radius: 4px;
}
.title3 .title {
  margin: -10px -15px 20px -15px;
  padding: 10px 15px;
  border-radius: 4px;
}
.box1,
.box2,
.box3 {
  border-radius: 4px;
}
.box1 .module-surround {
  margin: -1px;
}
ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.menu ul {
  list-style: none;
}
ul.menu li {
  margin-bottom: 8px;
}
ul.menu li a,
ul.menu li .item,
ul.menu li .separator {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}
ul.menu li a:before,
ul.menu li .item:before,
ul.menu li .separator:before {
  content: "\2022";
  font-family: FontAwesome;
  margin-right: 10px;
  display: inline;
  vertical-align: middle;
  font-size: 1.6em;
  font-weight: normal;
}
ul.menu li.active.current > a:before,
ul.menu li.active.current > .item:before,
ul.menu li.active.current > .separator:before,
ul.menu li#current.active > a:before,
ul.menu li#current.active > .item:before,
ul.menu li#current.active > .separator:before {
  content: "\f054";
  font-size: 1em;
  margin-right: 11px;
}
.button,
.readon,
.readmore,
button.validate,
#member-profile a,
#member-registration a,
.formelm-buttons button {
  display: inline-block;
  padding: 3px 10px;
  line-height: 1.7em;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid;
}
.promo-image {
  float: left;
  margin: -10px 10px -30px -40px;
  width: 30%;
}
.promo-image img {
  max-width: 100%;
}
.promo-desc {
  padding-top: 10px;
}
.promo h1 {
  position: relative;
  font-size: 3.9em;
  line-height: 1.2em;
}
.promo p {
  font-size: 1.5em;
  line-height: 1.7em;
}
.promo .readon {
  margin-top: 10px;
}
.gantry-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.gantry-example .table,
.gantry-example .well,
.gantry-example blockquote {
  margin-bottom: 5px;
}
.gantry-example .lead {
  font-size: 18px;
  line-height: 24px;
}
.gantry-example > p:last-child {
  margin-bottom: 0;
}
.gantry-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}
.gantry-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
  font-style: normal;
}
form.gantry-example {
  padding-bottom: 19px;
}
.gantry-img img {
  max-width: 100%;
  height: auto;
}
.powered-by {
  display: block;
  width: 120px;
  height: 32px;
  margin: 0 auto;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.powered-by:hover {
  opacity: 1;
}
body {
  background: #f5f5f5;
  color: #6e6e6e;
}
a:hover {
  color: #303030;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #303030;
}
#rt-maintop {
  background: #f0f0f0 url(../images/patterns/noise.png);
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 #cecece, inset 0 2px 4px 0 rgba(0,0,0,0.1);
}
#rt-footer {
  color: #6e6e6e;
  background: #eeeeee url(../images/patterns/noise.png);
  border-top: 1px solid #afafaf;
  box-shadow: inset 0 5px 12px rgba(0,0,0,0.13);
}
#rt-copyright {
  border-top: 1px solid #d5d5d5;
  box-shadow: inset 0 1px 0 #ffffff;
}
.title,
.component-content h2 {
  color: #303030;
  text-shadow: 1px 1px 0 #ffffff;
  border-bottom: 1px solid #d1d1d1;
  box-shadow: 0 1px 0 #ffffff;
}
.title1 .title {
  background: #ffffff;
  border: 1px solid #d5d5d5;
}
.title2 .title {
  color: #303030;
  background: #eeeeee url(../images/patterns/noise.png);
  box-shadow: inset 0 2px 12px rgba(0,0,0,0.13);
}
.title4 .title {
  color: #6e6e6e;
}
.box1 {
  background: #ffffff;
  border: 1px solid #d5d5d5;
}
.box2 {
  color: #303030;
  background: #eeeeee url(../images/patterns/noise.png);
  box-shadow: inset 0 2px 12px rgba(0,0,0,0.13);
}
#rt-showcase .box1,
#rt-showcase .box2,
#rt-top-surround .box1,
#rt-top-surround .box2 {
  color: #6e6e6e;
  text-shadow: 1px 1px 0 #ffffff;
}
#rt-showcase .box1 .title,
#rt-showcase .box2 .title,
#rt-top-surround .box1 .title,
#rt-top-surround .box2 .title {
  color: #303030;
  text-shadow: 1px 1px 0 #ffffff;
  border-bottom: 1px solid #d1d1d1;
  box-shadow: 0 1px 0 #ffffff;
}
#rt-showcase .title1 .title,
#rt-top-surround .title1 .title {
  color: #303030;
  text-shadow: 1px 1px 0 #ffffff;
  border: 1px solid #d5d5d5;
}
#rt-showcase .title2 .title,
#rt-top-surround .title2 .title {
  color: #303030;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow: inset 0 2px 12px rgba(0,0,0,0.13);
}
ul.menu li.active.current > a,
ul.menu li.active.current > .item,
ul.menu li.active.current > .separator,
ul.menu li#current.active > a,
ul.menu li#current.active > .item,
ul.menu li#current.active > .separator {
  color: #303030;
}
.button,
.readon,
.readmore,
button.validate,
#member-profile a,
#member-registration a,
.formelm-buttons button {
  color: #ffffff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.2);
}
.button:hover,
.readon:hover,
.readmore:hover,
button.validate:hover,
#member-profile a:hover,
#member-registration a:hover,
.formelm-buttons button:hover {
  color: #ffffff;
}
.button:active,
.readon:active,
.readmore:active,
button.validate:active,
#member-profile a:active,
#member-registration a:active,
.formelm-buttons button:active {
  box-shadow: 0 1px 0 #ffffff;
}
.readmore a {
  color: #ffffff;
}
.readmore a:hover {
  color: #ffffff;
}
.powered-by {
  background: url(../images/logo/powered.png);
}
.pagenav li {
  background: #f0f0f0;
  border: 1px solid #d5d5d5;
  box-shadow: inset 0 0 0 1px #ffffff, 0 1px 2px rgba(0,0,0,0.2);
}
.login-fields #username,
.login-fields #password,
#contact-form dd input,
#contact-form dd textarea,
#modlgn-username,
#modlgn-passwd,
#jform_email,
#member-registration dd input,
#search-searchword,
.finder .inputbox,
.inputbox {
  border: 1px solid #d9d9d9;
}
.component-content .contact .title {
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top,#ffffff,#dddddd);
  background-image: -ms-linear-gradient(top,#ffffff,#dddddd);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#dddddd));
  background-image: -webkit-linear-gradient(top,#ffffff,#dddddd);
  background-image: -o-linear-gradient(top,#ffffff,#dddddd);
  background-image: linear-gradient(top,#ffffff,#dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
  border: 1px solid #d5d5d5;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
.pagination ul li a {
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top,#ffffff,#dddddd);
  background-image: -ms-linear-gradient(top,#ffffff,#dddddd);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#dddddd));
  background-image: -webkit-linear-gradient(top,#ffffff,#dddddd);
  background-image: -o-linear-gradient(top,#ffffff,#dddddd);
  background-image: linear-gradient(top,#ffffff,#dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
  border: 1px solid #d5d5d5;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
.pagination ul li span {
  background: #eaeaea;
  border: 1px solid #d5d5d5;
  color: #aaaaaa;
}
.breadcrumbs a:after {
  color: #aaaaaa;
}
.breadcrumbs .showHere {
  font-weight: bold;
  margin-right: 5px;
}
.article-info dd:before {
  text-shadow: 1px 1px 0 #ffffff;
}
#gantry-totop {
  background: #f0f0f0;
  border: 1px solid #d5d5d5;
  box-shadow: inset 0 0 0 1px #ffffff, 0 1px 2px rgba(0,0,0,0.2);
}
#gantry-totop:active {
  box-shadow: 0 1px 0 #ffffff;
}
.tip-wrap {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.system-unpublished .system-unpublished {
  background: #ffffff;
  border-color: #d5d5d5;
}
.btn {
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top,#ffffff,#dddddd);
  background-image: -ms-linear-gradient(top,#ffffff,#dddddd);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#dddddd));
  background-image: -webkit-linear-gradient(top,#ffffff,#dddddd);
  background-image: -o-linear-gradient(top,#ffffff,#dddddd);
  background-image: linear-gradient(top,#ffffff,#dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
}
body {
  background-color: ;
}
#rt-header .rt-container {
  border-bottom: 4px solid;
  background-color: #f1eeec;
  background-image: -moz-linear-gradient(top,#E8E3DF,#fff);
  background-image: -ms-linear-gradient(top,#E8E3DF,#fff);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#E8E3DF),to(#fff));
  background-image: -webkit-linear-gradient(top,#E8E3DF,#fff);
  background-image: -o-linear-gradient(top,#E8E3DF,#fff);
  background-image: linear-gradient(top,#E8E3DF,#fff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e3df', endColorstr='#ffffff', GradientType=0);
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  width: 1.875em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li [class^="icon-"]:before,
li [class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li [class^="icon-"].icon-large:before,
li [class*=" icon-"].icon-large:before {
  text-indent: -1.33333333333em;
}
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-user-md:before {
  content: "\f200";
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 130px;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #d5d5d5;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #d5d5d5;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #aaaaaa;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #d5d5d5;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
small {
  font-size: 0.85em;
}
cite {
  font-style: normal;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #fcfcfc;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
table {
  max-width: 100%;
  background-color: #f5f5f5;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #d5d5d5;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
  background: #eaeaea;
  text-shadow: 1px 1px 0 #ffffff;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #d5d5d5;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #d5d5d5;
  border-collapse: separate;
  border-left: 0;
  border-radius: 3px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #d5d5d5;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-right-topleft: 4px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #ffffff;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f0f0f0;
}
.row {
  display: table-row;
  width: 100%;
}
.cell {
  display: table-cell;
}
.cell-top {
  vertical-align: top;
}
.cell-middle {
  vertical-align: middle;
}
.cell-bottom {
  vertical-align: bottom;
}
.width-10 {
  width: 10%;
}
.width-20 {
  width: 20%;
}
.width-25 {
  width: 25%;
}
.width-30 {
  width: 30%;
}
.width-33 {
  width: 33%;
}
.width-40 {
  width: 40%;
}
.width-45 {
  width: 45%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.width-90 {
  width: 90%;
}
.width-100 {
  width: 100%;
}
form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #303030;
  border: 0;
  border-bottom: 1px solid #d5d5d5;
}
legend small {
  font-size: 15px;
  color: #d5d5d5;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
input,
button,
select,
textarea {
  font-family: ;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #6e6e6e;
}
input,
textarea {
  width: 210px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -ms-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  cursor: pointer;
  display: inline;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  *margin-top: 4px;
  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #d5d5d5;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #aaaaaa;
  background-color: #f5f5f5;
  border-color: #d5d5d5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  cursor: not-allowed;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
input :-moz-placeholder,
textarea :-moz-placeholder {
  color: ;
}
input ::-webkit-input-placeholder,
textarea ::-webkit-input-placeholder {
  color: ;
}
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"] {
  display: inline-block;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: ;
  border-color: #d5d5d5;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
.input-prepend,
.input-append {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input,
.input-append input,
.input-append select,
.input-append .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  border-radius: 0 3px 3px 0;
}
.input-prepend input:focus,
.input-prepend select:focus,
.input-prepend .uneditable-input:focus,
.input-append input:focus,
.input-append select:focus,
.input-append .uneditable-input:focus {
  z-index: 2;
}
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  border-left-color: #cccccc;
}
.input-prepend .add-on,
.input-append .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  background-color: #f0f0f0;
  border: 1px solid #d5d5d5;
}
.input-prepend .add-on,
.input-prepend .btn,
.input-append .add-on,
.input-append .btn {
  margin-left: -1px;
  border-radius: 0;
  vertical-align: top;
}
.input-prepend .active,
.input-append .active {
  background-color: ;
  border-color: ;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  border-radius: 3px 0 0 3px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  border-radius: 3px 0 0 3px;
}
.input-append .uneditable-input {
  border-right-color: #cccccc;
  border-left-color: #eeeeee;
}
.input-append .add-on:last-child,
.input-append .btn:last-child {
  border-radius: 0 3px 3px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  border-radius: 0 3px 3px 0;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: 0 0 6px #dbc59e;
  -moz-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
  -moz-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-top: 1px solid #d5d5d5;
  *zoom: 1;
  display: inline-block;
  display: block;
}
.form-actions:before,
.form-actions:after {
  display: table;
  content: "";
}
.form-actions:after {
  clear: both;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
  cursor: not-allowed;
  background-color: ;
  border-color: #eeeeee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
}
:-moz-placeholder {
  color: ;
}
::-webkit-input-placeholder {
  color: ;
}
.help-block,
.help-inline {
  color: ;
}
.help-block {
  display: block;
  margin-bottom: 10px;
}
.help-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  margin-bottom: 0;
  border-radius: 4px;
}
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  border-radius: 0;
}
.form-search .input-append .search-query {
  border-radius: 14px 0 0 14px;
}
.form-search .input-append .btn {
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .search-query {
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .btn {
  border-radius: 14px 0 0 14px;
}
.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.form-horizontal label {
  display: block;
}
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
.control-group {
  margin-bottom: 10px;
}
legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
  display: inline-block;
  display: block;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 160px;
  *margin-left: 0;
}
.form-horizontal .controls:first-child {
  *padding-left: 160px;
}
.form-horizontal .help-block {
  margin-top: 10px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}
.btn {
  display: inline-block;
  padding: 4px 14px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #303030;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
.btn:hover {
  color: #aaaaaa;
  text-decoration: none;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  opacity: 0.5;
}
.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 16px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
.btn-warning {
  background-color: #f9a123;
  background-image: -moz-linear-gradient(top,#faa937,#f89406);
  background-image: -ms-linear-gradient(top,#faa937,#f89406);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#faa937),to(#f89406));
  background-image: -webkit-linear-gradient(top,#faa937,#f89406);
  background-image: -o-linear-gradient(top,#faa937,#f89406);
  background-image: linear-gradient(top,#faa937,#f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa937', endColorstr='#f89406', GradientType=0);
}
.btn-danger {
  background-color: #f17a77;
  background-image: -moz-linear-gradient(top,#f38c89,#ee5f5b);
  background-image: -ms-linear-gradient(top,#f38c89,#ee5f5b);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f38c89),to(#ee5f5b));
  background-image: -webkit-linear-gradient(top,#f38c89,#ee5f5b);
  background-image: -o-linear-gradient(top,#f38c89,#ee5f5b);
  background-image: linear-gradient(top,#f38c89,#ee5f5b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f38c89', endColorstr='#ee5f5b', GradientType=0);
}
.btn-success {
  background-color: #78cc78;
  background-image: -moz-linear-gradient(top,#87d287,#62c462);
  background-image: -ms-linear-gradient(top,#87d287,#62c462);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#87d287),to(#62c462));
  background-image: -webkit-linear-gradient(top,#87d287,#62c462);
  background-image: -o-linear-gradient(top,#87d287,#62c462);
  background-image: linear-gradient(top,#87d287,#62c462);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87d287', endColorstr='#62c462', GradientType=0);
}
.btn-info {
  background-color: #74cae3;
  background-image: -moz-linear-gradient(top,#85d0e7,#5bc0de);
  background-image: -ms-linear-gradient(top,#85d0e7,#5bc0de);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#85d0e7),to(#5bc0de));
  background-image: -webkit-linear-gradient(top,#85d0e7,#5bc0de);
  background-image: -o-linear-gradient(top,#85d0e7,#5bc0de);
  background-image: linear-gradient(top,#85d0e7,#5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85d0e7', endColorstr='#5bc0de', GradientType=0);
}
.btn-inverse {
  background-color: #535353;
  background-image: -moz-linear-gradient(top,#5e5e5e,#444);
  background-image: -ms-linear-gradient(top,#5e5e5e,#444);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5e5e5e),to(#444));
  background-image: -webkit-linear-gradient(top,#5e5e5e,#444);
  background-image: -o-linear-gradient(top,#5e5e5e,#444);
  background-image: linear-gradient(top,#5e5e5e,#444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#444444', GradientType=0);
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,0.75);
}
.btn {
  border-color: #cccccc;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.btn-link,
.btn-link:active {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover {
  text-decoration: underline;
  background-color: transparent;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
body .noitalic {
  font-style: normal !important;
}
body .nobold {
  font-weight: normal !important;
}
body .nomarginall {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
body .nopaddingall {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
body .nomargintop {
  margin-top: 0 !important;
}
body .nomarginbottom {
  margin-bottom: 0 !important;
}
body .nomarginleft {
  margin-left: 0 !important;
}
body .nomarginright {
  margin-right: 0 !important;
}
body .nopaddingtop {
  padding-top: 0 !important;
}
body .nopaddingbottom {
  padding-bottom: 0 !important;
}
body .nopaddingleft {
  padding-left: 0 !important;
}
body .nopaddingright {
  padding-right: 0 !important;
}
@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  #rt-logo {
    margin: 0 auto;
  }
  .menu-block {
    display: none;
  }
  body .component-content .column-1,
  body .component-content .column-2,
  body .component-content .column-3 {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
  }
  #gantry-totop {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .gantry-width-20,
  .gantry-width-25,
  .gantry-width-30,
  .gantry-width-33,
  .gantry-width-40,
  .gantry-width-50,
  .gantry-width-60,
  .gantry-width-66,
  .gantry-width-70,
  .gantry-width-75,
  .gantry-width-80 {
    width: 100%;
  }
  .gantry-width-spacer {
    margin: 5px;
  }
  .row {
    margin: 0;
    display: block;
  }
  .row .cell {
    display: block;
    width: 100%;
  }
  .form-horizontal .control-group .control-label {
    float: none;
    width: auto;
    text-align: left;
  }
  .form-horizontal .control-group .controls {
    margin-left: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .promo-image {
    width: 48%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .promo-image img {
    max-width: 100%;
  }
  .promo h1 {
    font-size: 2.2em;
  }
  .promo p {
    font-size: 1em;
  }
  .promo-desc {
    padding-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  .promo-image {
    margin: 0 auto;
    width: 100%;
    float: none;
    text-align: center;
  }
  .promo-image img {
    max-width: 50%;
  }
  .promo h1 {
    font-size: 2.2em;
  }
  .promo p {
    font-size: 0.9em;
  }
  .promo-desc {
    padding-top: 0;
  }
}
.com {
  color: #93a1a1;
}
.lit {
  color: #195f91;
}
.pun,
.opn,
.clo {
  color: #93a1a1;
}
.fun {
  color: #dc322f;
}
.str,
.atv {
  color: #dd1144;
}
.kwd,
.linenums .tag {
  color: #1e347b;
}
.typ,
.atn,
.dec,
.var {
  color: teal;
}
.pln {
  color: #48484c;
}
.prettyprint {
  padding: 8px;
  background-color: #fcfcfc;
  border: 1px solid #d5d5d5;
}
.prettyprint.linenums {
  -webkit-box-shadow: 40px 0 0 #f5f5f5 inset, 41px 0 0 #d5d5d5 inset;
  -moz-box-shadow: 40px 0 0 #f5f5f5 inset, 41px 0 0 #d5d5d5 inset;
  box-shadow: 40px 0 0 #f5f5f5 inset, 41px 0 0 #d5d5d5 inset;
}
ol.linenums {
  margin: 0 0 0 33px;
  padding-left: 0;
}
ol.linenums li {
  padding-left: 12px;
  color: #aaaaaa;
  line-height: 18px;
  text-shadow: 0 1px 0 #ffffff;
}
#rt-offline-body h1.sitename {
  font-size: 500%;
}
#rt-offline-body .offline h1 {
  font-size: 300%;
}
#rt-offline-body .offline p {
  font-size: 150%;
}
#rt-offline-body .offline-image {
  text-align: center;
}
#rt-offline-body .row {
  text-align: center;
}
#rt-offline-body .row .cell {
  margin: 0 auto;
  text-align: left;
}
.rt-error-rocket {
  width: 350px;
  height: 315px;
  float: left;
  background: url(../images/gantryrocket.png) 0 0 no-repeat;
  margin-right: 15px;
  margin-top: 15px;
}
.rt-error-content {
  margin-left: 365px;
  margin-top: 15px;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .rt-error-rocket {
    width: 320px;
    background-size: 320px;
  }
  .rt-error-content {
    margin-left: 335px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .rt-error-rocket {
    width: 280px;
    background-size: 280px;
  }
  .rt-error-content {
    margin-left: 295px;
  }
  .error-title {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .rt-error-rocket {
    width: 280px;
    height: 260px;
    margin: 0 auto;
    background-size: 280px;
    background-position: 50% 0;
    float: none;
  }
  .rt-error-content {
    margin-left: 0;
  }
  .error-title {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 480px) {
  .rt-error-rocket {
    width: 260px;
    height: 240px;
    margin: 0 auto;
    background-size: 260px;
    background-position: 50% 0;
    float: none;
  }
  .rt-error-content {
    margin-left: 0;
  }
  .error-title {
    font-size: 1.6em;
  }
}
