@import "joomla-core.less";
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.rok-left {
  float: left;
}
.rok-right {
  float: right;
}
.rok-dropdown-group,
.rok-dropdown {
  position: relative;
}
.rok-dropdown-open .rok-dropdown {
  display: block;
}
.rok-popover-group,
.rok-popover {
  position: relative;
}
.rok-popover-open .rok-popover {
  display: block;
}
i {
  background-image: url("") !important;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  vertical-align: text-top;
  font-style: normal;
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
}
i:last-child {
  *margin-left: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
html {
  margin-bottom: 1px;
  height: 100%;
}
body {
  margin-bottom: 1px;
}
.rt-block {
  padding: 15px;
  margin: 10px;
  position: relative;
}
#rt-content-top,
#rt-content-bottom {
  overflow: hidden;
}
.rt-grid-1:before,
.rt-grid-2:before,
.rt-grid-3:before,
.rt-grid-4:before,
.rt-grid-5:before,
.rt-grid-6:before,
.rt-grid-7:before,
.rt-grid-8:before,
.rt-grid-9:before,
.rt-grid-10:before,
.rt-grid-11:before,
.rt-grid-12:before {
  display: table;
  content: "";
  clear: both;
}
.rt-grid-1:after,
.rt-grid-2:after,
.rt-grid-3:after,
.rt-grid-4:after,
.rt-grid-5:after,
.rt-grid-6:after,
.rt-grid-7:after,
.rt-grid-8:after,
.rt-grid-9:after,
.rt-grid-10:after,
.rt-grid-11:after,
.rt-grid-12:after {
  display: table;
  content: "";
  clear: both;
}
.font-family-optima {
  font-family: Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', sans-serif;
}
.font-family-geneva {
  font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;
}
.font-family-helvetica {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
}
.font-family-lucida {
  font-family: "Lucida Grande", Helvetica, Verdana, sans-serif;
}
.font-family-georgia {
  font-family: Georgia, sans-serif;
}
.font-family-trebuchet {
  font-family: "Trebuchet MS", sans-serif;
}
.font-family-palatino {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
}
body {
  font-size: 13px;
  line-height: 1.7em;
  font-family: Helvetica, Arial, Sans-Serif;
}
.font-size-is-xlarge {
  font-size: 16px;
  line-height: 1.7em;
}
.font-size-is-large {
  font-size: 15px;
  line-height: 1.7em;
}
.font-size-is-default {
  font-size: 14px;
  line-height: 1.7em;
}
.font-size-is-small {
  font-size: 12px;
  line-height: 1.7em;
}
.font-size-is-xsmall {
  font-size: 10px;
  line-height: 1.7em;
}
form {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 15px 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 15px 0;
  line-height: 1.1em;
}
h1 {
  font-size: 260%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 175%;
}
h4 {
  font-size: 130%;
}
h5 {
  font-size: 110%;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
blockquote {
  font: italic 16px/22px Georgia, Serif;
}
.left-1,
.left-2,
.left-3,
.left-4,
.left-5,
.left-6,
.left-7,
.left-8,
.left-9,
.left-10,
.right-11 {
  float: left;
  margin-right: 50px;
  margin-bottom: 15px;
  position: relative;
}
.right-1,
.right-2,
.right-3,
.right-4,
.right-5,
.right-6,
.right-7,
.right-8,
.right-9,
.right-10,
.right-11 {
  float: right;
  margin-left: 50px;
  margin-bottom: 15px;
  position: relative;
}
.date-block {
  padding: 15px;
}
ol {
  padding-left: 15px;
}
ul li {
  padding: 0;
  margin: 0;
}
ul li a {
  font-size: 1.2em;
  line-height: 1.8em;
}
ul li.author {
  margin: 0;
  letter-spacing: 1px;
  list-style: none;
  font-weight: bold;
  text-align: right;
}
ul li.author span {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1em;
}
ul li.date {
  margin: 0;
  letter-spacing: 1px;
  list-style: none;
  text-align: right;
  font-weight: bold;
}
ul li.date span {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1em;
}
ul li.comments {
  list-style: none;
  text-align: right;
  font-weight: bold;
}
ul li.comments span {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1em;
}
ul ul {
  margin-left: 25px;
  padding: 5px 0;
}
body.rtl {
  direction: rtl;
}
body.rtl {
  min-width: inherit;
}
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
#debug #rt-main {
  overflow: hidden;
  border-bottom: 4px solid #666;
  margin-top: 15px;
  position: relative;
}
#debug .status {
  position: absolute;
  background: #333;
  opacity: .3;
  padding: 0 15px;
  z-index: 10000;
  color: #fff;
  font-weight: bold;
  font-size: 150%;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.visible-desktop {
  display: none !important;
}
.hidden-large {
  display: none !important;
}
.row {
  margin: 0 -15px;
}
.gantry-width-block {
  display: block;
  float: left;
}
.gantry-width-spacer {
  margin: 15px;
}
.gantry-width-10 {
  width: 10%;
}
.gantry-width-20 {
  width: 20%;
}
.gantry-width-25 {
  width: 25%;
}
.gantry-width-30 {
  width: 30%;
}
.gantry-width-33 {
  width: 33.33%;
}
.gantry-width-40 {
  width: 40%;
}
.gantry-width-50 {
  width: 50%;
}
.gantry-width-60 {
  width: 60%;
}
.gantry-width-66 {
  width: 66.66%;
}
.gantry-width-70 {
  width: 70%;
}
.gantry-width-75 {
  width: 75%;
}
.gantry-width-80 {
  width: 80%;
}
.gantry-width-90 {
  width: 90%;
}
.gantry-left {
  float: left;
  margin-right: 15px;
}
.gantry-right {
  float: right;
  margin-left: 15px;
}
#gantry-totop {
  display: inline-block;
  padding: 4px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#rt-accessibility .rt-desc {
  float: left;
  margin-right: 8px;
  font-weight: bold;
}
#rt-accessibility #rt-buttons .button {
  line-height: 1.1em;
  padding: 0;
  width: 14px;
  height: 14px;
  text-align: center;
}
#rt-accessibility #rt-buttons .small .button:after {
  content: '-';
}
#rt-accessibility #rt-buttons .large .button:after {
  content: '+';
}
#rt-accessibility #rt-buttons .small .button:before {
  content: '';
}
#rt-accessibility #rt-buttons .large .button:before {
  content: '';
}
body {
  background-repeat: no-repeat;
  background-position: 100% 0;
}
body .rt-bg {
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
a {
  -webkit-transition: color 0.1s ease-out;
  -moz-transition: color 0.1s ease-out;
  -ms-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}
#rt-transition.rt-hidden {
  opacity: 0;
}
#rt-transition.rt-visible {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.module-title {
  margin-bottom: 12px;
}
@font-face {
  font-family: 'ArvoRegular';
  src: url('../fonts/Arvo-Regular-webfont.eot');
  src: url('../fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Arvo-Regular-webfont.woff') format('woff'), url('../fonts/Arvo-Regular-webfont.ttf') format('truetype'), url('../fonts/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-family-graffito .module-title,
.font-family-graffito .sprocket-tabs-inner,
.font-family-graffito .sprocket-mosaic-title,
.font-family-graffito .component-content .blog h2,
.font-family-graffito .component-content .item-page h2,
.font-family-graffito .component-content .blog-featured h2,
.font-family-graffito .sprocket-lists .sprocket-lists-title,
.font-family-graffito .sprocket-lists-item h4,
.font-family-graffito .sprocket-headlines-badge span,
.font-family-graffito .rt-totop,
.font-family-graffito .weblink-category h2,
.font-family-graffito .contact h2,
.font-family-graffito .login h1,
.font-family-graffito .component-content h1,
.font-family-graffito .menutop a,
.font-family-graffito .menutop .item,
.font-family-graffito .button,
.font-family-graffito .readon,
.font-family-graffito .readmore,
.font-family-graffito button.validate,
.font-family-graffito #member-profile a,
.font-family-graffito #member-registration a,
.font-family-graffito .formelm-buttons button,
.font-family-graffito .module-content .menu .item,
.font-family-graffito .module-content .menu a,
.font-family-graffito .sprocket-features.layout-showcase,
.font-family-graffito .sprocket-lists-pagination li span,
.font-family-graffito .sprocket-mosaic-item,
.font-family-graffito .sprocket-mosaic-loadmore,
.font-family-graffito .sprocket-mosaic-header {
  font-family: 'ArvoRegular', Helvetica, Arial, sans-serif;
}
.logo-block {
  padding: 12px 15px;
  margin: 7px 10px;
}
.logo-block .logo-color {
  display: block;
  width: 41px;
  height: 41px;
  position: absolute;
  top: 5px;
  right: 2px;
  z-index: 0;
}
.logo-block .rt-logo-container {
  position: relative;
  width: 190px;
  height: 48px;
  display: block;
}
#rt-logo {
  margin: 0;
  width: 190px;
  height: 48px;
  display: block;
  position: relative;
  z-index: 1;
}
#rt-top-surround {
  position: relative;
  margin: 0 0 15px;
}
#rt-top-surround:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
#rt-header,
#rt-top {
  z-index: 2;
  position: relative;
}
#rt-header .rt-container {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.menu-block {
  padding: 0;
  margin: 0;
  float: right;
}
.rt-menu-mobile {
  text-align: center;
  padding: 0 0 15px 0;
}
.module-content ul.menu {
  margin: 0;
  padding: 0;
}
.module-content ul.menu li {
  list-style: none;
  margin-bottom: 0;
}
.module-content ul.menu li a,
.module-content ul.menu li .separator,
.module-content ul.menu li .item {
  padding: 8px 0;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}
.module-content ul.menu li a:before,
.module-content ul.menu li .item:before,
.module-content ul.menu li .separator:before {
  content: "\2022";
  font-family: FontAwesome;
  margin-right: 10px;
  display: inline;
  vertical-align: middle;
  font-size: 1.6em;
  font-weight: normal;
}
.module-content ul.menu li.parent ul {
  margin-left: 15px;
}
.module-content ul.menu li.parent ul ul {
  margin-left: 15px;
}
.module-content ul.menu li.parent li a,
.module-content ul.menu li.parent li .item,
.module-content ul.menu li.parent li .separator {
  font-size: 13px;
  background-repeat: no-repeat;
  background-position: -5px -135px;
}
.module-content ul.menu li.parent li.active.current > a,
.module-content ul.menu li.parent li.active.current > .item,
.module-content ul.menu li.parent li.active.current > .separator,
.module-content ul.menu li.parent li#current.active > a,
.module-content ul.menu li.parent li#current.active > .item,
.module-content ul.menu li.parent li#current.active > .separator {
  padding: 5px 21px;
}
.module-content ul.menu li.parent li a,
.module-content ul.menu li.parent li .item,
.module-content ul.menu li.parent li .separator {
  font-size: 0.9em;
}
.module-content ul.menu li.active.current > a,
.module-content ul.menu li.active.current > .item,
.module-content ul.menu li.active.current > .separator,
.module-content ul.menu li#current.active > a,
.module-content ul.menu li#current.active > .item,
.module-content ul.menu li#current.active > .separator {
  padding: 5px 21px;
  background-repeat: no-repeat;
  background-position: 2px -74px;
}
.module-content ul.menu li.active.current > a:before,
.module-content ul.menu li.active.current > .item:before,
.module-content ul.menu li.active.current > .separator:before,
.module-content ul.menu li#current.active > a:before,
.module-content ul.menu li#current.active > .item:before,
.module-content ul.menu li#current.active > .separator:before {
  content: "";
  margin: 0;
  display: none;
}
.main-surround {
  margin: 0 auto;
}
#rt-maintop {
  padding-top: 20px;
}
#rt-main {
  background-repeat: repeat-x;
  background-position: 0 100%;
}
#rt-mainbody-surround {
  position: relative;
  z-index: 10;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
#rt-mainbody-surround #rt-sidebar-a,
#rt-mainbody-surround #rt-sidebar-b,
#rt-mainbody-surround #rt-sidebar-c {
  background-repeat: no-repeat;
  overflow: hidden;
}
#rt-mainbody-surround [class*="rt-grid"] {
  background-position: 0 0;
  background-repeat: no-repeat;
}
#rt-mainbody-surround .rt-alpha {
  background-image: none !important;
}
#rt-footer-surround {
  margin-top: 20px;
}
.title,
.component-content h2 {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: normal;
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: inline-block;
}
.component-content h2 {
  font-size: 2.4em;
}
#rt-top-surround .title,
#rt-showcase .title {
  border: none;
  box-shadow: none;
}
.title1 .module-title {
  margin: 0 0 15px;
}
.title1 .module-title .title {
  margin-bottom: 0;
  padding-bottom: 8px;
}
.title2 .module-title {
  margin: 0 -15px 15px;
  padding: 0 10px;
}
.title2 .module-title .title {
  margin-bottom: 0;
  padding-bottom: 8px;
}
.title3 .module-title {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 10px 0;
}
.title3 .module-title .title {
  margin-bottom: 0;
}
.title4 .module-title {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 10px 0;
}
.title4 .module-title .title {
  margin-bottom: 0;
}
.box4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button,
.readon,
.readmore,
button.validate,
#member-profile a,
#member-registration a,
.formelm-buttons button,
.sprocket-mosaic-loadmore {
  display: inline-block;
  padding: 3px 25px 3px 10px;
  line-height: 1.7em;
  font-size: 0.9em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.button:before,
.readon:before,
.readmore:before,
button.validate:before,
#member-profile a:before,
#member-registration a:before,
.formelm-buttons button:before,
.sprocket-mosaic-loadmore:before {
  content: '+';
  position: absolute;
  width: 23px;
  height: 23px;
  background-position: 0 -604px;
  top: 3px;
  right: -5px;
  font-size: 1em;
  font-weight: 100;
  font-family: Verdana, Geneva, sans-serif;
  text-align: inherit;
}
.readmore a {
  margin: -5px -12px;
  padding: 5px 12px;
  display: inline-block;
}
a.readon:before {
  right: 0;
}
input.button {
  padding: 3px 10px;
}
input.button:hover {
  cursor: pointer;
}
button.button:before {
  padding-right: 5px;
}
.readon.promo1 {
  padding: 3px 65px 3px 25px;
}
.readon.promo1:before {
  right: 28px;
}
#rt-header .rt-social-buttons {
  margin-top: 10px;
}
.rt-social-buttons {
  float: right;
}
.rt-social-buttons .social-button {
  height: 18px;
  width: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.9;
}
.rt-social-buttons .social-button:hover {
  opacity: 1;
}
.rt-social-buttons .rt-facebook-btn {
  background-position: 4px 0;
}
.rt-social-buttons .rt-facebook-btn:hover {
  background-position: 4px -26px;
}
.rt-social-buttons .rt-twitter-btn {
  background-position: -25px -2px;
}
.rt-social-buttons .rt-twitter-btn:hover {
  background-position: -25px -28px;
}
.rt-social-buttons .rt-google-btn {
  background-position: -91px 0;
}
.rt-social-buttons .rt-google-btn:hover {
  background-position: -91px -26px;
}
.rt-social-buttons .rt-rss-btn {
  background-position: -58px 0;
}
.rt-social-buttons .rt-rss-btn:hover {
  background-position: -58px -26px;
}
#developed-by {
  overflow: hidden;
}
#rocket {
  display: block;
  width: 120px;
  height: 18px;
  margin: 2px 0 0 0;
}
#rt-popup,
#rt-popuplogin {
  display: none;
}
#rt-popup .module-content,
#rt-popuplogin .module-content {
  margin: 0;
  text-shadow: none;
}
#rt-popup .rt-block,
#rt-popuplogin .rt-block {
  margin: 0;
  padding: 0;
}
#rt-popup .rt-block.zero,
#rt-popuplogin .rt-block.zero {
  margin: 0;
  padding: 0;
}
#rt-popup .title,
#rt-popuplogin .title {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}
#rt-popuplogin #form-login-username label,
#rt-popuplogin #form-login-password label {
  display: none;
}
#rt-popuplogin #modlgn-passwd,
#rt-popuplogin #modlgn-username {
  width: 175px;
}
#rt-popuplogin input.button {
  clear: both;
  display: block;
}
#rt-popuplogin p {
  float: left;
  margin-bottom: 10px;
}
#rt-popuplogin p:first-child {
  margin-right: 10px;
}
#rt-popuplogin .readon {
  float: right;
}
#rt-popuplogin ul li {
  float: none;
  display: inline-block;
  margin-right: 10px;
}
#rt-controls .rt-popupmodule-button .buttontext {
  font-weight: normal;
  line-height: 20px;
}
#gantry-totop {
  width: 30px;
  height: 30px;
  padding: 0;
  float: right;
  background-position: 10px -263px;
  background-repeat: no-repeat;
}
#gantry-totop:hover {
  background-position: 10px -377px;
}
.powered-by {
  display: block;
  width: 120px;
  height: 32px;
  margin: 0 auto;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -ms-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
.powered-by:hover {
  opacity: 1;
}
#rt-copyright ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#rt-copyright ul.menu li {
  float: left;
  list-style: none;
}
#rt-copyright ul.menu li a,
#rt-copyright ul.menu li .item,
#rt-copyright ul.menu li .separator {
  padding: 0;
  margin: 0 5px;
}
#rt-copyright ul.menu li a:before,
#rt-copyright ul.menu li .item:before,
#rt-copyright ul.menu li .separator:before {
  content: none;
}
#rt-copyright ul.menu li a:after,
#rt-copyright ul.menu li .item:after,
#rt-copyright ul.menu li .separator:after {
  font-weight: normal;
  content: "/";
  margin: 0 0 0 10px;
}
#rt-copyright ul.menu li:last-child a:after {
  content: "";
}
.sprocket-mosaic-item {
  -webkit-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.sprocket-lists li {
  -webkit-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.this-is-for-j3 {
  display: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.dropdown-menu {
  float: right;
}
.dropdown-menu li {
  list-style: none;
  float: right;
}
.article-info i {
  display: none;
}
.article-info > div {
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.createdby {
  display: block;
  font-size: inherit;
}
.createdby:before {
  content: "\f040";
  font-family: FontAwesome;
}
.component-content .hits {
  text-align: left;
}
.component-content .content_rating {
  display: inline-block;
}
body .btn [class^="icon-"],
body .btn [class*=" icon-"] {
  display: none;
}
body {
  background-repeat: no-repeat;
  background-position: 100% 0;
}
body .rt-bg {
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
a {
  -webkit-transition: color 0.1s ease-out;
  -moz-transition: color 0.1s ease-out;
  -ms-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}
#rt-transition.rt-hidden {
  opacity: 0;
}
#rt-transition.rt-visible {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.module-title {
  margin-bottom: 12px;
}
body {
  color: #565451;
}
body a {
  color: #c3b71e;
}
body a:hover {
  color: #565451;
}
body h1,
body h2,
body h3 {
  color: #383334;
}
.main-bg-brown {
  background-image: url(../images/backgrounds/brown/top-bg-texture.jpg);
  background-color: #15130F;
}
.main-bg-brown .rt-bg {
  background-image: url(../images/backgrounds/brown/bottom-bg-texture.jpg);
}
.main-bg-blue {
  background-image: url(../images/backgrounds/blue/top-bg-texture.jpg);
  background-color: #1A1B1C;
}
.main-bg-blue .rt-bg {
  background-image: url(../images/backgrounds/blue/bottom-bg-texture.jpg);
}
.main-bg-red {
  background-image: url(../images/backgrounds/red/top-bg-texture.jpg);
  background-color: #150F0F;
}
.main-bg-red .rt-bg {
  background-image: url(../images/backgrounds/red/bottom-bg-texture.jpg);
}
.main-bg-green {
  background-image: url(../images/backgrounds/green/top-bg-texture.jpg);
  background-color: #1A1A1A;
}
.main-bg-green .rt-bg {
  background-image: url(../images/backgrounds/green/bottom-bg-texture.jpg);
}
.main-bg-purple {
  background-image: url(../images/backgrounds/purple/top-bg-texture.jpg);
  background-color: #1E1A1D;
}
.main-bg-purple .rt-bg {
  background-image: url(../images/backgrounds/purple/bottom-bg-texture.jpg);
}
.main-bg-gray {
  background-image: url(../images/backgrounds/gray/top-bg-texture.jpg);
  background-color: #1A1A1A;
}
.main-bg-gray .rt-bg {
  background-image: url(../images/backgrounds/gray/bottom-bg-texture.jpg);
}
.main-bg-light-brown {
  background-image: url(../images/backgrounds/lightbrown/top-bg-texture.jpg);
  background-color: #191414;
}
.main-bg-light-brown .rt-bg {
  background-image: url(../images/backgrounds/lightbrown/bottom-bg-texture.jpg);
}
.menutop li.root,
.menutop.level1 > li {
  background: url(../images/main/menu-separator.png) no-repeat 100% 50%;
}
.menutop .item {
  color: #383435;
}
.menutop .item:hover,
.menutop li.active .item {
  color: #000000;
}
.menutop .fusion-js-subs li > .item:hover,
.menutop .fusion-js-subs li.active > .item {
  background: #383435;
  color: #FFFFFF;
}
.menutop .fusion-js-subs li > .fusion-modules:hover {
  color: #000000;
}
.menutop .rt-arrow-pointer {
  border-top-color: #e3d84b;
}
.fusion-submenu-wrapper {
  background-color: #e4d94f;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#e3d84b),color-stop(60%,#e3d84b),to(#e6dd61));
  background-image: -webkit-linear-gradient(#e3d84b,#e3d84b 60%,#e6dd61);
  background-image: -moz-linear-gradient(top,#e3d84b,#e3d84b 60%,#e6dd61);
  background-image: -ms-linear-gradient(#e3d84b,#e3d84b 60%,#e6dd61);
  background-image: -o-linear-gradient(#e3d84b,#e3d84b 60%,#e6dd61);
  background-image: linear-gradient(#e3d84b,#e3d84b 60%,#e6dd61);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3d84b', endColorstr='#e6dd61', GradientType=0);
}
.module-content .menu .item,
.module-content .menu a,
.module-content .menu .no-link {
  color: #383435;
}
ul.menu li#current.active > a,
ul.menu li#current.active > .item,
ul.menu li#current.active > .separator,
ul.menu li.active.current > a,
ul.menu li.active.current > .item,
ul.menu li.active.current > .separator {
  background-image: url(../images/main/arrows.png);
  color: #000000;
}
ul.menu li:hover a,
ul.menu li:hover .item,
ul.menu li:hover .separator {
  color: #000000;
}
#rt-header .rt-container {
  border-bottom: 6px solid #e3d84b;
  background: #FFFFFF url(../images/main/top-overlay.png) repeat-x;
  -webkit-box-shadow: 0 0 30px #000000;
  -moz-box-shadow: 0 0 30px #000000;
  box-shadow: 0 0 30px #000000;
}
#rt-feature {
  background-image: -webkit-linear-gradient(to top,#FFFFFF,#FFFFFF,30px,#EEEEEE);
}
#rt-mainbody-surround {
  background-color: #FFFFFF;
  border-bottom: 4px solid #e3d84b;
  -webkit-box-shadow: 0 0 35px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 35px rgba(0,0,0,0.8);
  box-shadow: 0 0 35px rgba(0,0,0,0.8);
}
#rt-mainbody-surround #rt-main {
  background-image: url(../images/main/block-overlay.png);
  border-top: 1px solid #CECBCB;
  border-bottom: 1px solid #CECBCB;
}
#rt-mainbody-surround #rt-sidebar-a,
#rt-mainbody-surround #rt-sidebar-b,
#rt-mainbody-surround #rt-sidebar-c {
  background-image: url(../images/main/separator-overlay.png);
}
#rt-mainbody-surround #rt-extension [class*="rt-grid"] {
  background-image: url(../images/main/separator-overlay.png);
}
#rt-footer,
#rt-bottom,
#rt-showcase,
#rt-top,
#rt-drawer {
  color: #FFFFFF;
}
#rt-footer h1,
#rt-footer h2,
#rt-footer h3,
#rt-bottom h1,
#rt-bottom h2,
#rt-bottom h3,
#rt-showcase h1,
#rt-showcase h2,
#rt-showcase h3,
#rt-top h1,
#rt-top h2,
#rt-top h3,
#rt-drawer h1,
#rt-drawer h2,
#rt-drawer h3 {
  color: #FFFFFF;
}
#rt-footer a:hover,
#rt-bottom a:hover,
#rt-showcase a:hover,
#rt-top a:hover,
#rt-drawer a:hover {
  color: #FFFFFF;
}
#rt-footer .title2 .module-title,
#rt-bottom .title2 .module-title,
#rt-showcase .title2 .module-title,
#rt-top .title2 .module-title,
#rt-drawer .title2 .module-title {
  background: url(../images/main/block-overlay-dark.png) repeat-x scroll 0 100%;
  border-bottom: 1px solid #000000;
}
#rt-footer .title3 .module-title .title,
#rt-footer .title4 .module-title .title,
#rt-bottom .title3 .module-title .title,
#rt-bottom .title4 .module-title .title,
#rt-showcase .title3 .module-title .title,
#rt-showcase .title4 .module-title .title,
#rt-top .title3 .module-title .title,
#rt-top .title4 .module-title .title,
#rt-drawer .title3 .module-title .title,
#rt-drawer .title4 .module-title .title {
  color: #000000;
}
#rt-footer .box1,
#rt-footer .box2,
#rt-bottom .box1,
#rt-bottom .box2,
#rt-showcase .box1,
#rt-showcase .box2,
#rt-top .box1,
#rt-top .box2,
#rt-drawer .box1,
#rt-drawer .box2 {
  color: #565451;
}
#rt-footer .box1 h1,
#rt-footer .box1 h2,
#rt-footer .box1 h3,
#rt-footer .box2 h1,
#rt-footer .box2 h2,
#rt-footer .box2 h3,
#rt-bottom .box1 h1,
#rt-bottom .box1 h2,
#rt-bottom .box1 h3,
#rt-bottom .box2 h1,
#rt-bottom .box2 h2,
#rt-bottom .box2 h3,
#rt-showcase .box1 h1,
#rt-showcase .box1 h2,
#rt-showcase .box1 h3,
#rt-showcase .box2 h1,
#rt-showcase .box2 h2,
#rt-showcase .box2 h3,
#rt-top .box1 h1,
#rt-top .box1 h2,
#rt-top .box1 h3,
#rt-top .box2 h1,
#rt-top .box2 h2,
#rt-top .box2 h3,
#rt-drawer .box1 h1,
#rt-drawer .box1 h2,
#rt-drawer .box1 h3,
#rt-drawer .box2 h1,
#rt-drawer .box2 h2,
#rt-drawer .box2 h3 {
  color: #000000;
}
#rt-footer .box1 a:hover,
#rt-footer .box2 a:hover,
#rt-bottom .box1 a:hover,
#rt-bottom .box2 a:hover,
#rt-showcase .box1 a:hover,
#rt-showcase .box2 a:hover,
#rt-top .box1 a:hover,
#rt-top .box2 a:hover,
#rt-drawer .box1 a:hover,
#rt-drawer .box2 a:hover {
  color: #FFFFFF;
}
#rt-footer .box1 a,
#rt-bottom .box1 a,
#rt-showcase .box1 a,
#rt-top .box1 a,
#rt-drawer .box1 a {
  color: #000000;
}
#rt-footer .box1 a:hover,
#rt-bottom .box1 a:hover,
#rt-showcase .box1 a:hover,
#rt-top .box1 a:hover,
#rt-drawer .box1 a:hover {
  color: #FFFFFF;
}
#rt-footer .box4,
#rt-bottom .box4,
#rt-showcase .box4,
#rt-top .box4,
#rt-drawer .box4 {
  border: 1px solid #555555;
}
#rt-copyright .rt-container {
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 30px #000000;
  -moz-box-shadow: 0 0 30px #000000;
  box-shadow: 0 0 30px #000000;
}
.layout-showcase .sprocket-features-title {
  border-bottom: 1px solid #e3d84b;
}
.layout-showcase .sprocket-features-title a {
  color: #FFFFFF;
}
.component-content .actions a,
.component-content .print-icon a,
.component-content .email-icon a {
  color: #666666;
}
.component-content .actions a:hover,
.component-content .print-icon a:hover,
.component-content .email-icon a:hover {
  color: #333333;
}
.component-content h2 {
  color: #565451;
  border-bottom: 1px solid #e3d84b;
}
.component-content h2 a {
  color: #565451;
}
.component-content h2 a:hover {
  color: #e3d84b;
}
.rt-error-content,
.error-title {
  color: #FFFFFF;
}
.title1 .module-title {
  border-bottom: 1px solid #e3d84b;
}
.title2 .module-title {
  background: url(../images/main/block-overlay.png) repeat-x scroll 0 100%;
  border-bottom: 1px solid #CECBCB;
}
.title3 .module-title {
  background-color: #e3d84b;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ede68d),color-stop(75%,#e3d84b),to(#e3d84b));
  background-image: -webkit-linear-gradient(#ede68d,#e3d84b 75%,#e3d84b);
  background-image: -moz-linear-gradient(top,#ede68d,#e3d84b 75%,#e3d84b);
  background-image: -ms-linear-gradient(#ede68d,#e3d84b 75%,#e3d84b);
  background-image: -o-linear-gradient(#ede68d,#e3d84b 75%,#e3d84b);
  background-image: linear-gradient(#ede68d,#e3d84b 75%,#e3d84b);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ede68d', endColorstr='#e3d84b', GradientType=0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}
.title4 .module-title {
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),color-stop(75%,#EBEBEB),to(#EBEBEB));
  background-image: -webkit-linear-gradient(#ffffff,#EBEBEB 75%,#EBEBEB);
  background-image: -moz-linear-gradient(top,#ffffff,#EBEBEB 75%,#EBEBEB);
  background-image: -ms-linear-gradient(#ffffff,#EBEBEB 75%,#EBEBEB);
  background-image: -o-linear-gradient(#ffffff,#EBEBEB 75%,#EBEBEB);
  background-image: linear-gradient(#ffffff,#EBEBEB 75%,#EBEBEB);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}
.box1 {
  background-color: #e3d84b;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ede68d),color-stop(75%,#e3d84b),to(#e3d84b));
  background-image: -webkit-linear-gradient(#ede68d,#e3d84b 75%,#e3d84b);
  background-image: -moz-linear-gradient(top,#ede68d,#e3d84b 75%,#e3d84b);
  background-image: -ms-linear-gradient(#ede68d,#e3d84b 75%,#e3d84b);
  background-image: -o-linear-gradient(#ede68d,#e3d84b 75%,#e3d84b);
  background-image: linear-gradient(#ede68d,#e3d84b 75%,#e3d84b);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ede68d', endColorstr='#e3d84b', GradientType=0);
  border: 1px solid #d9cc22;
}
.box1 a {
  color: #565451;
}
.box1 a:hover {
  color: #000000;
}
.box1.title4 .module-title {
  border: 1px solid rgba(0,0,0,0.2);
}
.box1 .readon,
.box1 .button {
  border: 1px solid #c3b71e;
}
.box1 .readon:hover,
.box1 .button:hover {
  color: #FFFFFF;
}
.box1 input[type="text"],
.box1 input[type="password"] {
  border: 1px solid #c3b71e;
}
.box2 {
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),color-stop(75%,#EBEBEB),to(#EBEBEB));
  background-image: -webkit-linear-gradient(#f8f8f8,#EBEBEB 75%,#EBEBEB);
  background-image: -moz-linear-gradient(top,#f8f8f8,#EBEBEB 75%,#EBEBEB);
  background-image: -ms-linear-gradient(#f8f8f8,#EBEBEB 75%,#EBEBEB);
  background-image: -o-linear-gradient(#f8f8f8,#EBEBEB 75%,#EBEBEB);
  background-image: linear-gradient(#f8f8f8,#EBEBEB 75%,#EBEBEB);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ebebeb', GradientType=0);
  border: 1px solid #CECBCB;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
.box3 {
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.6);
  background-color: #383435;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#524d4e),color-stop(75%,#383435),to(#383435));
  background-image: -webkit-linear-gradient(#524d4e,#383435 75%,#383435);
  background-image: -moz-linear-gradient(top,#524d4e,#383435 75%,#383435);
  background-image: -ms-linear-gradient(#524d4e,#383435 75%,#383435);
  background-image: -o-linear-gradient(#524d4e,#383435 75%,#383435);
  background-image: linear-gradient(#524d4e,#383435 75%,#383435);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#524d4e', endColorstr='#383435', GradientType=0);
  color: #FFFFFF;
}
.box3 h1,
.box3 h2,
.box3 h3 {
  color: #FFFFFF;
}
.box3 a:hover {
  color: #FFFFFF;
}
.box3.title2 .module-title {
  background: url(../images/main/block-overlay-dark.png) repeat-x scroll 0 100%;
  border-bottom: 1px solid #000000;
}
.box4 {
  border: 1px solid #ccc;
  border-bottom: 4px solid #e3d84b;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.logo-type-graffito #rt-logo {
  background-image: url(../images/logo/logo.png);
}
.logo-block .logo-color {
  background-color: #e3d84b;
}
.button,
.readon,
.readmore,
button.validate,
#member-profile a,
#member-registration a,
.formelm-buttons button,
.sprocket-mosaic-loadmore,
#gantry-totop,
body .btn-primary {
  color: #FFFFFF;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  border: 1px solid #e0d335;
  position: relative;
  text-shadow: none;
  background-color: #e3d84b;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6dd61),color-stop(45%,#e3d84b),to(#e3d84b));
  background-image: -webkit-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -moz-linear-gradient(top,#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -ms-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -o-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6dd61', endColorstr='#e3d84b', GradientType=0);
}
.button:hover,
.readon:hover,
.readmore:hover,
button.validate:hover,
#member-profile a:hover,
#member-registration a:hover,
.formelm-buttons button:hover,
.sprocket-mosaic-loadmore:hover,
#gantry-totop:hover,
body .btn-primary:hover {
  color: #FFFFFF;
  border: 1px solid #2b2828;
  background-color: #383435;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#454042),color-stop(45%,#383435),to(#383435));
  background-image: -webkit-linear-gradient(#454042,#383435 45%,#383435);
  background-image: -moz-linear-gradient(top,#454042,#383435 45%,#383435);
  background-image: -ms-linear-gradient(#454042,#383435 45%,#383435);
  background-image: -o-linear-gradient(#454042,#383435 45%,#383435);
  background-image: linear-gradient(#454042,#383435 45%,#383435);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454042', endColorstr='#383435', GradientType=0);
}
.button:active,
.readon:active,
.readmore:active,
button.validate:active,
#member-profile a:active,
#member-registration a:active,
.formelm-buttons button:active,
.sprocket-mosaic-loadmore:active,
#gantry-totop:active,
body .btn-primary:active {
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.6);
  border: 1px solid #232021;
  background-color: #383435;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#454042),color-stop(45%,#383435),to(#383435));
  background-image: -webkit-linear-gradient(#454042,#383435 45%,#383435);
  background-image: -moz-linear-gradient(top,#454042,#383435 45%,#383435);
  background-image: -ms-linear-gradient(#454042,#383435 45%,#383435);
  background-image: -o-linear-gradient(#454042,#383435 45%,#383435);
  background-image: linear-gradient(#454042,#383435 45%,#383435);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454042', endColorstr='#383435', GradientType=0);
}
.readmore:hover a {
  color: #FFFFFF;
}
.readmore a {
  color: #000000;
}
.component-content .login + div ul li a,
#login-form a,
.component-content .items-more ol li a {
  background-image: url(../images/main/arrows.png);
}
.component-content .weblink-category tr {
  border-bottom: 1px solid #CECBCB;
}
.component-content .weblink-category tr.cat-list-row1 {
  background-color: #F9F9F9;
}
.layout-showcase .sprocket-features-content {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.layout-showcase .sprocket-features-img-container img {
  -webkit-box-shadow: -2px -2px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px -2px 10px rgba(0,0,0,0.3);
  box-shadow: -2px -2px 10px rgba(0,0,0,0.3);
}
.layout-showcase .sprocket-features-arrows .arrow {
  color: #FFFFFF;
}
.layout-showcase .sprocket-features-pagination li {
  color: #000000;
  background: #FFFFFF;
}
.layout-showcase .sprocket-features-pagination li.active {
  background-color: #e3d84b;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6dd61),color-stop(45%,#e3d84b),to(#e3d84b));
  background-image: -webkit-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -moz-linear-gradient(top,#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -ms-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -o-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6dd61', endColorstr='#e3d84b', GradientType=0);
}
.sprocket-lists .sprocket-lists-title {
  border-bottom: 1px solid #e3d84b;
}
.sprocket-lists li.active,
.sprocket-lists li:hover {
  background-color: #e3d84b;
  color: #000000;
}
.sprocket-lists .sprocket-lists-arrows .arrow {
  background-color: #EBEBEB;
  background-image: url(../images/main/arrows.png);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}
.sprocket-lists .sprocket-lists-arrows .arrow:hover {
  background-color: #e3d84b;
}
.sprocket-lists .sprocket-lists-pagination li {
  background-color: #EBEBEB;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}
.sprocket-lists .sprocket-lists-pagination li:hover,
.sprocket-lists .sprocket-lists-pagination li.active {
  background-color: #e3d84b;
}
.sprocket-tabs .sprocket-tabs-nav li.active .sprocket-tabs-inner {
  background-color: #e3d84b;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6dd61),color-stop(45%,#e3d84b),to(#e3d84b));
  background-image: -webkit-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -moz-linear-gradient(top,#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -ms-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -o-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6dd61', endColorstr='#e3d84b', GradientType=0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  color: #000000;
}
.sprocket-tabs .sprocket-tabs-nav li:hover .sprocket-tabs-inner {
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.6);
  background-color: #383435;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#454042),color-stop(45%,#383435),to(#383435));
  background-image: -webkit-linear-gradient(#454042,#383435 45%,#383435);
  background-image: -moz-linear-gradient(top,#454042,#383435 45%,#383435);
  background-image: -ms-linear-gradient(#454042,#383435 45%,#383435);
  background-image: -o-linear-gradient(#454042,#383435 45%,#383435);
  background-image: linear-gradient(#454042,#383435 45%,#383435);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454042', endColorstr='#383435', GradientType=0);
  color: #FFFFFF;
}
.sprocket-mosaic .sprocket-mosaic-header,
.sprocket-mosaic .sprocket-mosaic-container {
  border-bottom: 1px solid #CECBCB;
  background-image: url(../images/main/block-overlay.png);
}
.sprocket-mosaic .sprocket-mosaic-container li {
  background-color: rgba(255,255,255,0);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fcfcfc),color-stop(90%,rgba(255,255,255,0)),to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(#fcfcfc,rgba(255,255,255,0) 90%,rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top,#fcfcfc,rgba(255,255,255,0) 90%,rgba(255,255,255,0));
  background-image: -ms-linear-gradient(#fcfcfc,rgba(255,255,255,0) 90%,rgba(255,255,255,0));
  background-image: -o-linear-gradient(#fcfcfc,rgba(255,255,255,0) 90%,rgba(255,255,255,0));
  background-image: linear-gradient(#fcfcfc,rgba(255,255,255,0) 90%,rgba(255,255,255,0));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='rgba(255,255,255,0)', GradientType=0);
}
.sprocket-mosaic .sprocket-mosaic-item:hover {
  background-color: #e3d84b;
  color: #000000;
}
.sprocket-mosaic .sprocket-mosaic-item .sprocket-padding {
  background-image: url(../images/main/separator-overlay.png);
}
.sprocket-mosaic .sprocket-mosaic-item .sprocket-mosaic-title {
  border-bottom: 1px solid #e3d84b;
}
.sprocket-mosaic .sprocket-mosaic-item .sprocket-mosaic-title a {
  color: #383334;
}
.sprocket-mosaic .sprocket-mosaic-item .sprocket-mosaic-image-container img {
  border-bottom: 2px solid #e3d84b;
}
.sprocket-mosaic .sprocket-mosaic-item .sprocket-mosaic-tags li {
  border-bottom: 1px solid #e3d84b;
}
.sprocket-mosaic .sprocket-mosaic-item .sprocket-mosaic-hovercontent {
  background-color: #e3d84b;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6dd61),color-stop(45%,#e3d84b),to(#e3d84b));
  background-image: -webkit-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -moz-linear-gradient(top,#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -ms-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -o-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6dd61', endColorstr='#e3d84b', GradientType=0);
  color: #000000;
  box-shadow: 0 1px 8px rgba(0,0,0,0.8), inset 0px 1px 1px rgba(255,255,255,0.5);
}
.sprocket-mosaic .sprocket-mosaic-filter li.active,
.sprocket-mosaic .sprocket-mosaic-order li.active {
  background-color: #e3d84b;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6dd61),color-stop(45%,#e3d84b),to(#e3d84b));
  background-image: -webkit-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -moz-linear-gradient(top,#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -ms-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: -o-linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-image: linear-gradient(#e6dd61,#e3d84b 45%,#e3d84b);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6dd61', endColorstr='#e3d84b', GradientType=0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  color: #000000;
}
.sprocket-mosaic .sprocket-mosaic-filter li:hover,
.sprocket-mosaic .sprocket-mosaic-order li:hover {
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.6);
  background-color: #383435;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#454042),color-stop(45%,#383435),to(#383435));
  background-image: -webkit-linear-gradient(#454042,#383435 45%,#383435);
  background-image: -moz-linear-gradient(top,#454042,#383435 45%,#383435);
  background-image: -ms-linear-gradient(#454042,#383435 45%,#383435);
  background-image: -o-linear-gradient(#454042,#383435 45%,#383435);
  background-image: linear-gradient(#454042,#383435 45%,#383435);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454042', endColorstr='#383435', GradientType=0);
  color: #FFFFFF;
}
#gantry-totop {
  background-image: url(../images/main/arrows.png);
}
#gantry-totop:hover {
  background-image: url(../images/main/arrows.png);
  background-color: #383435;
}
.rt-social-buttons .social-button {
  background-image: url(../images/main/social-icons.png);
}
#rocket {
  background: url(../images/main/rocket.png) no-repeat;
}
.tip-wrap {
  border: 1px solid #d5d5d5;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.btn {
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top,#FFFFFF,#dddddd);
  background-image: -ms-linear-gradient(top,#FFFFFF,#dddddd);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFFFFF),to(#dddddd));
  background-image: -webkit-linear-gradient(top,#FFFFFF,#dddddd);
  background-image: -o-linear-gradient(top,#FFFFFF,#dddddd);
  background-image: linear-gradient(top,#FFFFFF,#dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
}
#rt-offline-body .sitename {
  color: #FFFFFF;
}
#rt-offline-body .offline {
  color: #FFFFFF;
}
#rt-offline-body .offline h1 {
  color: #FFFFFF;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  width: 1.875em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li [class^="icon-"]:before,
li [class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li [class^="icon-"].icon-large:before,
li [class*=" icon-"].icon-large:before {
  text-indent: -1.33333333333em;
}
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-user-md:before {
  content: "\f200";
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 130px;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #d5d5d5;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #d5d5d5;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #d5d5d5;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
small {
  font-size: 0.85em;
}
cite {
  font-style: normal;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #FFFFFF;
  border: 1px solid #d5d5d5;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #fcfcfc;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #d5d5d5;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
  background: #eaeaea;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #d5d5d5;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #d5d5d5;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #d5d5d5;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-right-topleft: 4px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #FFFFFF;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f0f0f0;
}
.row {
  display: table-row;
  width: 100%;
}
.cell {
  display: table-cell;
}
.cell-top {
  vertical-align: top;
}
.cell-middle {
  vertical-align: middle;
}
.cell-bottom {
  vertical-align: bottom;
}
.width-10 {
  width: 10%;
}
.width-20 {
  width: 20%;
}
.width-25 {
  width: 25%;
}
.width-30 {
  width: 30%;
}
.width-33 {
  width: 33%;
}
.width-40 {
  width: 40%;
}
.width-45 {
  width: 45%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.width-90 {
  width: 90%;
}
.width-100 {
  width: 100%;
}
.table tbody tr.success td {
  background-color: #dff0d8;
}
.table tbody tr.success:hover td {
  background-color: #d6e9c6;
}
.table tbody tr.error td {
  background-color: #f2dede;
}
.table tbody tr.error:hover td {
  background-color: #eed3d7;
}
.table tbody tr.warning td {
  background-color: #fcf8e3;
}
.table tbody tr.warning:hover td {
  background-color: #fbeed5;
}
.table tbody tr.info td {
  background-color: #d9edf7;
}
.table tbody tr.info:hover td {
  background-color: #bce8f1;
}
form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: ;
  border: 0;
  border-bottom: 1px solid #d5d5d5;
}
legend small {
  font-size: 15px;
  color: #d5d5d5;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
input,
button,
select,
textarea {
  font-family: ;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: ;
}
input,
textarea {
  width: 210px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #FFFFFF;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -ms-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  cursor: pointer;
  display: inline;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  *margin-top: 4px;
  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #d5d5d5;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  background-color: #f5f5f5;
  border-color: #d5d5d5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  cursor: not-allowed;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
input :-moz-placeholder,
textarea :-moz-placeholder {
  color: ;
}
input ::-webkit-input-placeholder,
textarea ::-webkit-input-placeholder {
  color: ;
}
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"] {
  display: inline-block;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: ;
  border-color: #d5d5d5;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
.input-prepend,
.input-append {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input,
.input-append input,
.input-append select,
.input-append .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend input:focus,
.input-prepend select:focus,
.input-prepend .uneditable-input:focus,
.input-append input:focus,
.input-append select:focus,
.input-append .uneditable-input:focus {
  z-index: 2;
}
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  border-left-color: #cccccc;
}
.input-prepend .add-on,
.input-append .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  vertical-align: middle;
  background-color: #f0f0f0;
  border: 1px solid #d5d5d5;
}
.input-prepend .add-on,
.input-prepend .btn,
.input-append .add-on,
.input-append .btn {
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  vertical-align: top;
}
.input-prepend .active,
.input-append .active {
  background-color: ;
  border-color: ;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append .uneditable-input {
  border-right-color: #cccccc;
  border-left-color: #eeeeee;
}
.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: 0 0 6px #dbc59e;
  -moz-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
  -moz-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.control-group.info > label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
  border-color: #3a87ad;
}
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: 0 0 6px #7ab5d3;
  -moz-box-shadow: 0 0 6px #7ab5d3;
  box-shadow: 0 0 6px #7ab5d3;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-top: 1px solid #d5d5d5;
  *zoom: 1;
  display: inline-block;
  display: block;
}
.form-actions:before,
.form-actions:after {
  display: table;
  content: "";
}
.form-actions:after {
  clear: both;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
  cursor: not-allowed;
  background-color: ;
  border-color: #eeeeee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
}
:-moz-placeholder {
  color: ;
}
::-webkit-input-placeholder {
  color: ;
}
.help-block,
.help-inline {
  color: ;
}
.help-block {
  display: block;
  margin-bottom: 10px;
}
.help-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.form-horizontal label {
  display: block;
}
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
.control-group {
  margin-bottom: 10px;
}
legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
  display: inline-block;
  display: block;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 160px;
  *margin-left: 0;
}
.form-horizontal .controls:first-child {
  *padding-left: 160px;
}
.form-horizontal .help-block {
  margin-top: 10px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}
.btn {
  display: inline-block;
  padding: 4px 14px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #383334;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn:hover {
  color: #999999;
  text-decoration: none;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  opacity: 0.5;
}
.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 16px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
.btn-warning {
  background-color: #f9a123;
  background-image: -moz-linear-gradient(top,#faa937,#f89406);
  background-image: -ms-linear-gradient(top,#faa937,#f89406);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#faa937),to(#f89406));
  background-image: -webkit-linear-gradient(top,#faa937,#f89406);
  background-image: -o-linear-gradient(top,#faa937,#f89406);
  background-image: linear-gradient(top,#faa937,#f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa937', endColorstr='#f89406', GradientType=0);
}
.btn-danger {
  background-color: #f17a77;
  background-image: -moz-linear-gradient(top,#f38c89,#ee5f5b);
  background-image: -ms-linear-gradient(top,#f38c89,#ee5f5b);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f38c89),to(#ee5f5b));
  background-image: -webkit-linear-gradient(top,#f38c89,#ee5f5b);
  background-image: -o-linear-gradient(top,#f38c89,#ee5f5b);
  background-image: linear-gradient(top,#f38c89,#ee5f5b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f38c89', endColorstr='#ee5f5b', GradientType=0);
}
.btn-success {
  background-color: #78cc78;
  background-image: -moz-linear-gradient(top,#87d287,#62c462);
  background-image: -ms-linear-gradient(top,#87d287,#62c462);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#87d287),to(#62c462));
  background-image: -webkit-linear-gradient(top,#87d287,#62c462);
  background-image: -o-linear-gradient(top,#87d287,#62c462);
  background-image: linear-gradient(top,#87d287,#62c462);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87d287', endColorstr='#62c462', GradientType=0);
}
.btn-info {
  background-color: #74cae3;
  background-image: -moz-linear-gradient(top,#85d0e7,#5bc0de);
  background-image: -ms-linear-gradient(top,#85d0e7,#5bc0de);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#85d0e7),to(#5bc0de));
  background-image: -webkit-linear-gradient(top,#85d0e7,#5bc0de);
  background-image: -o-linear-gradient(top,#85d0e7,#5bc0de);
  background-image: linear-gradient(top,#85d0e7,#5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85d0e7', endColorstr='#5bc0de', GradientType=0);
}
.btn-inverse {
  background-color: #535353;
  background-image: -moz-linear-gradient(top,#5e5e5e,#444);
  background-image: -ms-linear-gradient(top,#5e5e5e,#444);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5e5e5e),to(#444));
  background-image: -webkit-linear-gradient(top,#5e5e5e,#444);
  background-image: -o-linear-gradient(top,#5e5e5e,#444);
  background-image: linear-gradient(top,#5e5e5e,#444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#444444', GradientType=0);
}
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,0.75);
}
.btn {
  border-color: #cccccc;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.btn-link,
.btn-link:active {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover {
  text-decoration: underline;
  background-color: transparent;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
p.success,
p.info,
p.error,
p.warning {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 15px;
  font-weight: bold;
  border: 1px solid;
}
p.success a,
p.info a,
p.error a,
p.warning a {
  color: #666 !important;
}
p.success a:hover,
p.info a:hover,
p.error a:hover,
p.warning a:hover {
  color: #000 !important;
  text-shadow: none;
}
p.success {
  background: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
p.info {
  background: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
p.error {
  background: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
p.warning {
  background: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
body .noitalic {
  font-style: normal !important;
}
body .nobold {
  font-weight: normal !important;
}
body .nomarginall {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
body .nopaddingall {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
body .nomargintop {
  margin-top: 0 !important;
}
body .nomarginbottom {
  margin-bottom: 0 !important;
}
body .nomarginleft {
  margin-left: 0 !important;
}
body .nomarginright {
  margin-right: 0 !important;
}
body .nopaddingtop {
  padding-top: 0 !important;
}
body .nopaddingbottom {
  padding-bottom: 0 !important;
}
body .nopaddingleft {
  padding-left: 0 !important;
}
body .nopaddingright {
  padding-right: 0 !important;
}
.com {
  color: #93a1a1;
}
.lit {
  color: #195f91;
}
.pun,
.opn,
.clo {
  color: #93a1a1;
}
.fun {
  color: #dc322f;
}
.str,
.atv {
  color: #dd1144;
}
.kwd,
.linenums .tag {
  color: #1e347b;
}
.typ,
.atn,
.dec,
.var {
  color: teal;
}
.pln {
  color: #48484c;
}
.prettyprint {
  padding: 8px;
  background-color: #fcfcfc;
  border: 1px solid #d5d5d5;
}
.prettyprint.linenums {
  -webkit-box-shadow: 40px 0 0 #f5f5f5 inset, 41px 0 0 #d5d5d5 inset;
  -moz-box-shadow: 40px 0 0 #f5f5f5 inset, 41px 0 0 #d5d5d5 inset;
  box-shadow: 40px 0 0 #f5f5f5 inset, 41px 0 0 #d5d5d5 inset;
}
ol.linenums {
  margin: 0 0 0 33px;
  padding-left: 0;
}
ol.linenums li {
  padding-left: 12px;
  color: #999999;
  line-height: 18px;
  text-shadow: 0 1px 0 #FFFFFF;
}
#rt-offline-body h1.sitename {
  font-size: 500%;
}
#rt-offline-body .offline h1 {
  font-size: 300%;
}
#rt-offline-body .offline p {
  font-size: 150%;
}
#rt-offline-body .offline-image {
  text-align: center;
}
#rt-offline-body .row {
  text-align: center;
}
#rt-offline-body .row .cell {
  margin: 0 auto;
  text-align: left;
}
.rt-error-content {
  margin-top: 15px;
}
.unsupported {
  color: #FFFFFF;
}
.unsupported h1,
.unsupported a:hover {
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .error-title {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .error-title {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 480px) {
  .error-title {
    font-size: 1.6em;
  }
}
.rt-image img {
  max-width: 100%;
  height: auto;
  border-top: 1px solid #cecbcb;
  border-left: 1px solid #cecbcb;
  border-right: 1px solid #cecbcb;
  border-bottom: 2px solid #e3d84b;
}
@media (max-width: 767px) {
  #rt-header .rt-grid-2 {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  #rt-header .rt-grid-7 .rt-block.menu-block .menutop.level1 .rt-menu-offset-tablet {
    margin-right: -97px;
  }
}
#rt-footer .rt-social-buttons .rt-facebook-btn {
  background-position: 4px -52px;
}
#rt-footer .rt-social-buttons .rt-facebook-btn:hover {
  background-position: 4px -26px;
}
#rt-footer .rt-social-buttons .rt-twitter-btn {
  background-position: -25px -54px;
}
#rt-footer .rt-social-buttons .rt-twitter-btn:hover {
  background-position: -25px -28px;
}
#rt-footer .rt-social-buttons .rt-google-btn {
  background-position: -91px -52px;
}
#rt-footer .rt-social-buttons .rt-google-btn:hover {
  background-position: -91px -26px;
}
#rt-footer .rt-social-buttons .rt-rss-btn {
  background-position: -58px -52px;
}
#rt-footer .rt-social-buttons .rt-rss-btn:hover {
  background-position: -58px -26px;
}
.title-text {
  display: block;
  line-height: 0.8em;
}
.title-subtext {
  display: block;
  font-size: 50%;
  opacity: 0.5;
  text-align: center;
}
.promo1 {
  font-weight: normal;
  font-size: 380%;
  line-height: 1.8em;
}
.promo2,
.promo3 {
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.3em;
}
.promo2 {
  font-size: 350%;
}
.promo3 {
  font-size: 200%;
  opacity: 0.5;
}
.gantry-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.gantry-example .table,
.gantry-example .well,
.gantry-example blockquote {
  margin-bottom: 5px;
}
.gantry-example .lead {
  font-size: 18px;
  line-height: 24px;
}
.gantry-example > p:last-child {
  margin-bottom: 0;
}
.gantry-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}
.gantry-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
  font-style: normal;
}
form.gantry-example {
  padding-bottom: 19px;
}
body .rt-center {
  text-align: center;
}
body .rt-noborder {
  border: 0 !important;
}
body .rt-floatleft {
  float: left;
  margin-right: 15px;
  margin-left: 0;
}
body .rt-floatright {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
body .normalfont,
body .normalfont li {
  font-size: 100% !important;
  line-height: inherit !important;
}
body .noitalic {
  font-style: normal !important;
}
body .nobold,
body .nobold a,
body .nobold li {
  font-weight: normal !important;
}
body .nomarginall,
body .rt-block.nomarginall,
body ul.nomarginall,
body li.nomarginall {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
body .nopaddingall,
body .rt-block.nopaddingall,
body ul.nopaddingall,
body li.nopaddingall {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
body .nomargintop,
body .rt-block.nomargintop,
body ul.nomargintop,
body li.nomargintop {
  margin-top: 0 !important;
}
body .nomarginbottom,
body .rt-block.nomarginbottom,
body ul.nomarginbottom,
body li.nomarginbottom {
  margin-bottom: 0 !important;
}
body .nomarginleft,
body .rt-block.nomarginleft,
body ul.nomarginleft,
body li.nomarginleft {
  margin-left: 0;
}
body .nomarginright,
body .rt-block.nomarginright,
body ul.nomarginright,
body li.nomarginright {
  margin-right: 0;
}
body .nopaddingtop,
body .rt-block.nopaddingtop,
body ul.nopaddingtop,
body li.nopaddingtop {
  padding-top: 0 !important;
}
body .nopaddingbottom,
body .rt-block.nopaddingbottom,
body ul.nopaddingbottom,
body li.nopaddingbottom {
  padding-bottom: 0 !important;
}
body .nopaddingleft,
body .rt-block.nopaddingleft,
body ul.nopaddingleft,
body li.nopaddingleft {
  padding-left: 0;
}
body .nopaddingright,
body .rt-block.nopaddingright,
body ul.nopaddingright,
body li.nopaddingright {
  padding-right: 0;
}
body .smallmarginbottom {
  margin-bottom: 5px !important;
}
body .smallmargintop {
  margin-top: 5px !important;
}
body .medmarginbottom {
  margin-bottom: 10px !important;
}
body .medmargintop {
  margin-top: 10px !important;
}
body .largemarginbottom {
  margin-bottom: 15px !important;
}
body .largemargintop {
  margin-top: 15px !important;
}
body .smallmarginleft {
  margin-left: 5px !important;
}
body .smallmarginright {
  margin-right: 5px !important;
}
body .medmarginleft {
  margin-left: 10px !important;
}
body .medmarginright {
  margin-right: 10px !important;
}
body .largemarginleft {
  margin-left: 15px !important;
}
body .largemarginright {
  margin-right: 15px !important;
}
body .smallpaddingbottom {
  padding-bottom: 5px !important;
}
body .smallpaddingtop {
  padding-top: 5px !important;
}
body .medpaddingbottom {
  padding-bottom: 10px !important;
}
body .medpaddingtop {
  padding-top: 10px !important;
}
body .largepaddingbottom {
  padding-bottom: 15px !important;
}
body .largepaddingtop {
  padding-top: 15px !important;
}
body .smallpaddingleft {
  padding-left: 5px !important;
}
body .smallpaddingright {
  padding-right: 5px !important;
}
body .medpaddingleft {
  padding-left: 10px !important;
}
body .medpaddingright {
  padding-right: 10px !important;
}
body .largepaddingleft {
  padding-left: 15px !important;
}
body .largepaddingright {
  padding-right: 15px !important;
}
body .rt-relative {
  position: relative;
}
body .custom.largepaddingright,
body .custom.largepaddingleft,
body .custom.largepaddingtop,
body .custom.largepaddingbottom,
body .custom.medpaddingright,
body .custom.medpaddingleft,
body .custom.medpaddingtop,
body .custom.medpaddingbottom,
body .custom.smallpaddingright,
body .custom.smallpaddingleft,
body .custom.smallpaddingtop,
body .custom.smallpaddingbottom,
body .custom.largemarginright,
body .custom.largemarginleft,
body .custom.largemargintop,
body .custom.largemarginbottom,
body .custom.medmarginright,
body .custom.medmarginleft,
body .custom.medmargintop,
body .custom.medmarginbottom,
body .custom.smallmarginright,
body .custom.smallmarginleft,
body .custom.smallmargintop,
body .custom.smallmarginbottom {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}
body .custom.rt-floatleft,
body .custom.rt-floatright {
  float: none;
  margin: 0 0 0 0 !important;
}
body.rtl .rt-floatleft {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .rt-floatright {
  float: left;
  margin-left: 0;
  margin-right: 15px;
}
body.rtl .nomarginleft,
body.rtl .rt-block.nomarginleft,
body.rtl ul.nomarginleft,
body.rtl li.nomarginleft {
  margin-right: 0;
}
body.rtl .nomarginright,
body.rtl .rt-block.nomarginright,
body.rtl ul.nomarginright,
body.rtl li.nomarginright {
  margin-left: 0;
}
body.rtl .nopaddingleft,
body.rtl .rt-block.nopaddingleft,
body.rtl ul.nopaddingleft,
body.rtl li.nopaddingleft {
  padding-right: 0;
}
body.rtl .nopaddingright,
body.rtl .rt-block.nopaddingright,
body.rtl ul.nopaddingright,
body.rtl li.nopaddingright {
  padding-left: 0;
}
body.rtl .smallmarginleft {
  margin-right: 5px;
}
body.rtl .smallmarginright {
  margin-left: 5px;
}
body.rtl .medmarginleft {
  margin-right: 10px;
}
body.rtl .medmarginright {
  margin-left: 10px;
}
body.rtl .largemarginleft {
  margin-right: 15px;
}
body.rtl .largemarginright {
  margin-left: 15px;
}
body.rtl .smallpaddingleft {
  padding-right: 5px;
}
body.rtl .smallpaddingright {
  padding-left: 5px;
}
body.rtl .medpaddingleft {
  padding-right: 10px;
}
body.rtl .medpaddingright {
  padding-left: 10px;
}
body.rtl .largepaddingleft {
  padding-right: 15px;
}
body.rtl .largepaddingright {
  padding-left: 15px;
}
body.rtl .rt-demo-block {
  float: right;
}
