@media only screen and (min-width: 1200px) {
  .visible-large {
    display: inherit !important;
  }
  .hidden-large {
    display: none !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .visible-large {
    display: none !important;
  }
  .hidden-large {
    display: inherit !important;
  }
  .visible-desktop {
    display: inherit !important;
  }
  .hidden-desktop {
    display: none !important;
  }
  body .layout-showcase .sprocket-features-content {
    width: 45%;
  }
  body .layout-showcase .sprocket-features-img-container {
    width: 50%;
  }
  body .layout-showcase .sprocket-features-title {
    font-size: 260%;
  }
  body .layout-showcase .sprocket-features-desc {
    margin-top: 15px;
  }
  body .layout-showcase .sprocket-features-desc > span {
    font-size: 1em;
  }
  body .layout-showcase .sprocket-features-pagination li {
    width: 24px;
    height: 24px;
  }
  body .layout-showcase .sprocket-features-pagination li span {
    line-height: 24px;
  }
  body .layout-showcase .sprocket-features-pagination li.active {
    width: 38px;
    height: 38px;
  }
  body .layout-showcase .sprocket-features-pagination li.active span {
    font-size: 1.6em;
    line-height: 38px;
  }
  body .layout-showcase .sprocket-features-arrows {
    bottom: 55px;
  }
  body .sprocket-tabs-nav li .sprocket-tabs-inner {
    padding: 10px;
    font-size: 100%;
  }
  body .sprocket-mosaic .sprocket-mosaic-order li,
  body .sprocket-mosaic .sprocket-mosaic-filter li {
    font-size: 1em;
    padding: 10px;
  }
  body #k2Container h2,
  body #k2Container h2 a,
  body #k2Container h3,
  body #k2Container h3 a {
    font-size: 1.7em !important;
  }
  body .promo1 {
    font-size: 350%;
  }
  body .promo2 {
    font-size: 300%;
  }
  body .promo3 {
    font-size: 150%;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-large {
    display: none !important;
  }
  .hidden-large {
    display: inherit !important;
  }
  .component-content h1,
  .component-content h2,
  .component-content h3 {
    font-size: 200%;
  }
  .component-content h1.title,
  .component-content h2.title,
  .component-content h3.title {
    font-size: 200%;
  }
  body h1,
  body h2,
  body h3 {
    font-size: 200%;
  }
  .logo-type-graffito .logo-block {
    margin: 10px 10px 7px 10px;
  }
  .logo-type-graffito .logo-block .logo-color {
    width: 37px;
    height: 37px;
    top: 4px;
    right: 1px;
  }
  .logo-type-graffito .logo-block .rt-logo-container {
    width: 170px;
    height: 42px;
  }
  .logo-type-graffito #rt-logo {
    width: 170px;
    height: 42px;
    background-size: 170px;
    background-repeat: no-repeat;
  }
  .rt-social-buttons .social-button {
    display: none;
  }
  body .layout-showcase .sprocket-features-title {
    font-size: 195%;
  }
  body .layout-showcase .sprocket-features-pagination li {
    width: 24px;
    height: 24px;
  }
  body .layout-showcase .sprocket-features-pagination li span {
    line-height: 24px;
  }
  body .layout-showcase .sprocket-features-pagination li.active {
    width: 38px;
    height: 38px;
  }
  body .layout-showcase .sprocket-features-pagination li.active span {
    font-size: 1.6em;
    line-height: 38px;
  }
  body .layout-showcase .sprocket-features-arrows {
    bottom: 55px;
  }
  body .sprocket-mosaic-columns-1 li,
  body .sprocket-mosaic-columns-2 li,
  body .sprocket-mosaic-columns-3 li,
  body .sprocket-mosaic-columns-4 li,
  body .sprocket-mosaic-columns-5 li,
  body .sprocket-mosaic-columns-6 li {
    width: 50%;
  }
  body #k2Container h2,
  body #k2Container h2 a,
  body #k2Container h3,
  body #k2Container h3 a {
    font-size: 1.5em !important;
  }
  body #k2Container .subCategoryContainer,
  body #k2Container .itemContainer,
  body #k2Container .latestItemsContainer {
    width: 100% !important;
    float: none;
  }
  body #k2Container.itemListView .itemListCategory h2,
  body #k2Container.latestView .latestItemsCategory h2 {
    margin: 10px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory h2 {
    margin: 10px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory {
    margin-bottom: 5px !important;
  }
  body #k2Container.itemView .itemToolbar,
  body #k2Container.itemView .itemRatingBlock,
  body #k2Container.itemView .itemAuthorLatest,
  body #k2Container.itemView .itemRelated {
    width: 100% !important;
    float: none;
  }
  body .promo1 {
    font-size: 300%;
  }
  body .promo2 {
    font-size: 250%;
  }
  body .promo3 {
    font-size: 120%;
  }
}
@media only screen and (min-width: 768px) {
  .rt-menu-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .hidden-large {
    display: inherit !important;
  }
  .visible-large {
    display: none !important;
  }
  .rt-logo-container {
    margin: 0 auto;
  }
  .menu-block {
    display: none;
  }
  body .component-content .column-1,
  body .component-content .column-2,
  body .component-content .column-3 {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
  }
  .rt-social-buttons .social-button {
    display: none;
  }
  .side-panel-container {
    display: none;
  }
  body .layout-showcase {
    margin-bottom: 20px;
  }
  body .layout-showcase .sprocket-features-title {
    font-size: 170%;
  }
  body .layout-showcase .sprocket-features-pagination {
    display: none;
  }
  body .layout-showcase .sprocket-features-content {
    float: none;
    width: auto;
    margin-top: 10px;
  }
  body .layout-showcase .sprocket-features-img-container {
    float: none;
    width: 100%;
    margin-left: 0;
    position: static;
  }
  body .layout-showcase .sprocket-features-desc {
    display: none;
  }
  body .layout-showcase .sprocket-features-arrows {
    left: 90%;
    bottom: 25px;
  }
  body #rt-showcase .layout-showcase {
    margin: -30px -25px 0 -25px;
  }
  .gantry-width-20,
  .gantry-width-25,
  .gantry-width-30,
  .gantry-width-33,
  .gantry-width-40,
  .gantry-width-50,
  .gantry-width-60,
  .gantry-width-66,
  .gantry-width-70,
  .gantry-width-75,
  .gantry-width-80 {
    width: 100%;
  }
  .gantry-width-spacer {
    margin: 5px;
  }
  .row {
    margin: 0;
    display: block;
  }
  .row .cell {
    display: block;
    width: 100%;
  }
  .form-horizontal .control-group .control-label {
    float: none;
    width: auto;
    text-align: left;
  }
  .form-horizontal .control-group .controls {
    margin-left: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body #k2Container h2,
  body #k2Container h2 a,
  body #k2Container h3,
  body #k2Container h3 a {
    font-size: 1.3em !important;
  }
  body #k2Container .subCategoryContainer,
  body #k2Container .itemContainer,
  body #k2Container .latestItemsContainer {
    width: 100% !important;
    float: none;
  }
  body #k2Container.itemListView .itemListCategory h2,
  body #k2Container.latestView .latestItemsCategory h2 {
    margin: 5px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory h2 {
    margin: 5px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory {
    margin-bottom: 5px !important;
  }
  body #k2Container.itemView .itemToolbar,
  body #k2Container.itemView .itemRatingBlock,
  body #k2Container.itemView .itemAuthorLatest,
  body #k2Container.itemView .itemRelated {
    width: 100% !important;
    float: none;
  }
  .title,
  .component-content h2 {
    font-size: 1.3em;
  }
  body .layout-slideshow .sprocket-features-pagination {
    display: none;
  }
  body .layout-slideshow .sprocket-features-img-container {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  body .layout-slideshow .sprocket-features-arrows {
    left: 90%;
    bottom: 25px;
  }
  body .sprocket-mosaic .sprocket-mosaic-title {
    font-size: 125%;
  }
  body .sprocket-mosaic .sprocket-mosaic-title a {
    font-size: 125%;
  }
  body .sprocket-mosaic .sprocket-mosaic-header {
    padding: 10px 8px;
  }
  body .sprocket-mosaic .sprocket-mosaic-order li,
  body .sprocket-mosaic .sprocket-mosaic-filter li {
    padding: 10px 4px;
    font-size: 0.75em;
  }
  body .sprocket-mosaic-columns-1 li,
  body .sprocket-mosaic-columns-2 li,
  body .sprocket-mosaic-columns-3 li,
  body .sprocket-mosaic-columns-4 li,
  body .sprocket-mosaic-columns-5 li,
  body .sprocket-mosaic-columns-6 li {
    width: 50%;
  }
  body .promo1 {
    font-size: 250%;
  }
  body .promo2 {
    font-size: 200%;
  }
  body .promo3 {
    font-size: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .title,
  .component-content h2 {
    font-size: 1.3em;
  }
  body .layout-showcase .sprocket-features-pagination {
    display: none;
  }
  body .layout-showcase .sprocket-features-img-container {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  body .layout-showcase .sprocket-features-arrows {
    left: 90%;
    bottom: 25px;
  }
  body .sprocket-tabs-nav {
    float: none;
    margin-left: 0;
  }
  body .sprocket-tabs-nav li {
    float: none;
    display: block;
    width: auto;
    margin: 2px 0;
  }
  body .sprocket-tabs-nav li .sprocket-tabs-inner {
    font-size: 0.9em;
  }
  body .sprocket-mosaic {
    margin: -25px -35px 0 -34px;
  }
  body .sprocket-mosaic .sprocket-mosaic-header {
    padding: 10px 8px;
  }
  body .sprocket-mosaic .sprocket-mosaic-order li,
  body .sprocket-mosaic .sprocket-mosaic-filter li {
    padding: 10px 4px;
    font-size: 0.75em;
  }
  body .sprocket-mosaic .sprocket-mosaic-item .sprocket-padding {
    background-image: none;
  }
  body .sprocket-mosaic-columns-1 li,
  body .sprocket-mosaic-columns-2 li,
  body .sprocket-mosaic-columns-3 li,
  body .sprocket-mosaic-columns-4 li,
  body .sprocket-mosaic-columns-5 li,
  body .sprocket-mosaic-columns-6 li {
    width: 100%;
  }
  body #k2Container h2,
  body #k2Container h2 a,
  body #k2Container h3,
  body #k2Container h3 a {
    font-size: 1.0em !important;
  }
  body #k2Container .subCategoryContainer,
  body #k2Container .itemContainer,
  body #k2Container .latestItemsContainer {
    width: 100% !important;
    float: none;
  }
  body #k2Container.itemListView .itemListCategory h2,
  body #k2Container.latestView .latestItemsCategory h2 {
    margin: 5px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory h2 {
    margin: 5px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory {
    margin-bottom: 5px !important;
  }
  body #k2Container.itemView .itemToolbar,
  body #k2Container.itemView .itemRatingBlock,
  body #k2Container.itemView .itemAuthorLatest,
  body #k2Container.itemView .itemRelated {
    width: 100% !important;
    float: none;
  }
  body .promo1 {
    font-size: 200%;
  }
  body .promo2 {
    font-size: 150%;
  }
  body .promo3 {
    font-size: 100%;
  }
}
