/*
 *  psd2css.css
 *
 *  This is your external CSS style sheet. It defines all of the CSS styles that you
 *  are using in your page.  If you are going to create multiple pages from the same
 *  PSD file (like a template), you will share this CSS style sheet between the various
 *  pages.
 *
 *  This file was originally generated at http://psd2cssonline.com 
 *  January 6, 2014, 1:47 pm with psd2css Online version 1.95
 *
 */

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: small;
}
#outerwrap {
	width: 100%;
	text-align: center;
	
}


#innerwrap {
	
	display: inline-block;
	
	
}

/* You named this layer waybackground 
#Layer-1 {
  position: absolute;
  left: +0px;
  top: +0px;
  width: 1050px;
  height: 587px;
  z-index: 1;
} */

/* You named this layer backgroundbody */
#Layer-2 {
  position: relative;
  left: 5px;
  top: 0px;
  width: 679px;
  height: 522px;
  z-index: 2;
}

/* You named this layer TopmostBanner */
#Layer-3 {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 679px;
  height: 136px;
  z-index: 3;
}

/* You named this layer Watch Your Email */
#Layer-4 {
  position: absolute;
  left: 95px;
  top: 41px;
  width: 475px;
  height: 39px;
  z-index: 4;
}

/* You named this layer leftDottedLines */
#Layer-5 {
  position: absolute;
  left: 413px;
  top: 154px;
  width: 245px;
  height: 349px;
  z-index: 5;
}

/* You named this layer DRELogo */
#Layer-6 {
  position: absolute;
  left: 12px;
  top: 77px;
  width: 222px;
  height: 85px;
  z-index: 6;
}

/* You named this layer By entering our gold giveaway y */
#Layer-7 {
  position: absolute;
  left: 17px;
  top: 178px;
  width: 212px;
  height: 148px;
  z-index: 7;
}

/* You named this layer FREE  Newsletter */
#Layer-8 {
  position: absolute;
  left: 55px;
  top: 18px;
  width: 143px;
  height: 49px;
  z-index: 8;
}

/* You named this layer Copyright 2013 Bonner  Partner */
#Layer-9 {
  position: relative;
  left: 290px;
  top: 30px;
  width: 139px;
  height: 8px;
  z-index: 9;
}

/* You named this layer HandWithCoin */
#Layer-10 {
  position: absolute;
  left: 8px;
  top: 164px;
  width: 119px;
  height: 267px;
  z-index: 10;
}

/* You named this layer Act Now for Your  Chance to Win */
#Layer-11 {
  position: absolute;
  left: 23px;
  top: 152px;
  width: 440px;
  height: 192px;
  z-index: 11;
}

/* You named this layer You will be notified if you win */
#Layer-12 {
  position: absolute;
  left: 128px;
  top: 164px;
  width: 275px;
  height: 258px;
  z-index: 12;
}

/* You named this layer You will be notified if you win */
#Layer-12b {
  position: absolute;
  left: 28px;
  top: 164px;
  width: 615px;
  height: 258px;
  z-index: 12;
}

/* You named this layer Arrow */
#Layer-13 {
  position: relative;
  
  left: 168px;
  top: -45px;
  width: 178px;
  height: 13px;
  z-index: 13;
}

/* Here are some examples of how you might want to change the
 * look and behavior of the links on your page.  Some examples for
 * further customization are included in comments.  */
a {
  cursor: pointer;
  outline: none;
}
a:link { color: #F88; }
a:visited { color: #F88; }
a:hover {
  color: #F00;
  /* text-decoration: underline; */
  /* font-weight: bold; */
}

