/*!
 * LeadPages (http://leadpages.net)
 * Copyright 2014 LeadPages.
 */

body {
  padding: 0px;
  color: #666666;
  background: #f3f3f3;
  font-family: 'Source Sans Pro', sans-serif;
}
a{color: #46639d;text-decoration: underline;}
a:hover{color: #46639d;}

/* Header */
header{background: #46639d;text-align: center;padding:20px 0px;}
header h1{color: #ffffff;font-size: 2.4em;}
header h2{color: #9bb1e0;font-size:1.8em;font-weight: 200;}
.fan-text{max-width: 90px;text-align: center;position: absolute;top: 16px;margin-left: 630px;}
.top-arrow{display: inline;}
.fan-text p{color: #9fadc8;font-family: 'Courgette', cursive;font-size: 1.3em;line-height: 22px;}

/* Facebook Section */
.fb-top{background: #ffffff;color:#424242;border-radius: 4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:15px;margin-bottom:18px;margin-top:-10px;}
.fb-text{font-size: 1.5em;font-weight: 100;float:left;width:50%;}
.fb-code{}

/* Video */
.video-holder{max-width:720px;text-align: center;margin:10px 0;}

/* Buttons */
.btn-section{text-align: center;}
/*
.btn-main{color: #ffffff;background-color: #ff8c3f;font-size:1.8em;font-weight:700;padding:20px 40px;margin:20px auto;}
*/


.btn-link{font-size: 1.2em;margin-bottom: 30px; margin-left:auto; margin-right:auto}

/* List */
.check-list {color:#7a7a7a;margin:10px;font-size: 1.2em;letter-spacing: 0.05em;list-style: none;padding-left: 0px;}
.check-list li{margin:10px 0px 20px;background: url('../img/check.png') no-repeat left center;padding-left: 60px;}
/*.check-img{margin-right: 30px;display: block;float: left;}*/

.btm-arrow{position: absolute;margin-top:230px;margin-left:20px;}

/* Footer */
footer{color:#cbcbcb;font-size:0.9em;font-weight:100;background: #ffffff;padding:48px 0px;}
.fb-code, .legal{float:left;}
.fb-code{width:41.66666666666667%;}
.legal{width:58.333333333333336%}

.video-section {
	float:left;
}
.checklist {
width:440px;
float:right;	
}
.caption {
width:285px;
padding:10px;	
}

.midline {
opacity:.5;	
}
.space { 
line-height: .3 em; 
}
.grayfont {
	
color:#818181; 	
}
.bluefont {
	
color:#304cad	
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
 
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  header,
  footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 720px) {
  .fan-text{display:none;}
  .fb-text, .fb-code, .fb-code, .legal{float:none;width:100%;text-align: center;}
  .fb-code{margin:10px 0;}
  .btm-arrow{display:none;}
  .btn-main{padding: 20px 15px;}
 .video-section {
	float:none;
}
.checklist {
width:auto;
float:none;	
}
.caption {
width:95%;
padding:10px;	
}
 .img-responsive {
	width:95%;  
  }
  	table .fbcomment{
	width:95%;	
	}
	.footerlinks
	{
	width:95%;	
	}
	hr {
	width:95%;	
	}
}
@media screen and (max-width: 600px) {
	.btn-main{
		width:100%;
	}
	table .fbcomment{
	width:95%;	
	}
}