body {
		font-family: 'Open Sans';
		font-size: 15px;
	line-height: 26px;
	font-weight: 400;
	}
.page-template-page-blank-php .l-main {
	font-size: 15px;
	}
	
.l-header .menu-item-language,
.l-header .w-nav-item {
		font-family: 'Open Sans';
		font-weight: 300;
	}
.type_desktop .menu-item-language > a,
.l-header .type_desktop .w-nav-anchor.level_1,
.type_desktop [class*="columns"] .menu-item-has-children .w-nav-anchor.level_2 {
	font-size: 16px;
	}
.type_desktop .submenu-languages .menu-item-language > a,
.l-header .type_desktop .w-nav-anchor.level_2,
.l-header .type_desktop .w-nav-anchor.level_3,
.l-header .type_desktop .w-nav-anchor.level_4 {
	font-size: 15px;
	}
.type_mobile .menu-item-language > a,
.l-header .type_mobile .w-nav-anchor.level_1 {
	font-size: 16px;
	}
.l-header .type_mobile .w-nav-anchor.level_2,
.l-header .type_mobile .w-nav-anchor.level_3,
.l-header .type_mobile .w-nav-anchor.level_4 {
	font-size: 15px;
	}

h1, h2, h3, h4, h5, h6,
.w-counter-number,
.w-logo-title,
.w-pricing-item-title,
.w-pricing-item-price,
.w-shortblog-entry-date-day,
.ult_price_figure,
.ult_countdown-amount,
.ultb3-box .ultb3-title,
.stats-block .stats-desc .stats-number {
		font-family: 'Noto Sans';
		font-weight: 300;
	}
h1 {
	font-size: 38px;
	}
h2 {
	font-size: 32px;
	}
h3 {
	font-size: 26px;
	}
h4,
.widgettitle,
.comment-reply-title,
.ultb3-box .ultb3-title,
.flip-box-wrap .flip-box .ifb-face h3,
.aio-icon-box .aio-icon-header h3.aio-icon-title {
	font-size: 22px;
	}
h5,
.w-portfolio-item-title {
	font-size: 20px;
	}
h6 {
	font-size: 18px;
	}
@media only screen and (max-width: 767px) {
body {
	font-size: 13px;
	line-height: 23px;
	}
h1 {
	font-size: 30px;
	}
h2 {
	font-size: 26px;
	}
h3 {
	font-size: 22px;
	}
h4,
.widgettitle,
.comment-reply-title,
.ultb3-box .ultb3-title,
.flip-box-wrap .flip-box .ifb-face h3,
.aio-icon-box .aio-icon-header h3.aio-icon-title {
	font-size: 20px;
	}
h5,
.w-portfolio-item-title {
	font-size: 18px;
	}
h6 {
	font-size: 16px;
	}
}

.l-body,
.headerpos_fixed .l-header {
	min-width: 1240px;
	}
.l-canvas.type_boxed,
.l-canvas.type_boxed .l-subheader,
.l-canvas.type_boxed ~ .l-footer .l-subfooter {
	max-width: 1240px;
	}
.l-subheader-h,
.l-submain-h,
.l-subfooter-h {
	max-width: 1140px;
	}
.l-sidebar {
	width: 25%;
	}
.l-content {
	width: 70%;
	}
@media only screen and (max-width: 767px) {
.g-cols.type_boxed,
.g-cols.type_boxed > div {
	display: block;
	}
.g-cols > div {
	width: 100% !important;
	margin-left: 0 !important;
	margin-bottom: 30px;
	}
.l-subfooter.at_top .g-cols > div {
	margin-bottom: 10px;
	}
.g-cols.offset_none > div,
.g-cols > div:last-child {
	margin-bottom: 0 !important;
	}
}

@media only screen and (min-width: 900px) {
.w-logo-img {
	height: 30px;
	}
.w-logo.with_transparent .w-logo-img > img.for_default {
	margin-bottom: -30px;
	}
.l-header.sticky .w-logo-img {
	height: 30px;
	}
.l-header.sticky .w-logo.with_transparent .w-logo-img > img.for_default {
	margin-bottom: -30px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
.w-logo-img {
	height: 30px;
	}
.w-logo.with_transparent .w-logo-img > img.for_default {
	margin-bottom: -30px;
	}
}
@media only screen and (max-width: 599px) {
.w-logo-img {
	height: 25px;
	}
.w-logo.with_transparent .w-logo-img > img.for_default {
	margin-bottom: -25px;
	}
}
/*************************** BODY ***************************/

/* Body Background Color */
.l-body {
	background-color: #eee;
	}

/*************************** HEADER ***************************/

/* Header Background Color */
.l-subheader.at_middle,
.l-subheader.at_middle .w-lang-list,
.l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
	background-color: #004761;
	}

/* Header Text Color */
.l-subheader.at_middle,
.transparent .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
	color: #fff;
	}

/* Header Text Hover Color */
.no-touch .w-logo-link:hover,
.no-touch .l-subheader.at_middle .w-contacts-item-value a:hover,
.no-touch .l-subheader.at_middle .w-lang-item:hover,
.no-touch .transparent .l-subheader.at_middle .w-lang.active .w-lang-item:hover,
.no-touch .l-subheader.at_middle .w-cart:hover .w-cart-link,
.no-touch .l-subheader.at_middle .w-search-show:hover,
.l-subheader.at_middle .w-cart-quantity {
	color: #1b98e0;
	}

/* Extended Header Background Color */
.l-subheader.at_top,
.l-subheader.at_top .w-lang-list,
.l-subheader.at_bottom,
.l-subheader.at_bottom .type_mobile .w-nav-list.level_1 {
	background-color: #004761;
	}

/* Extended Header Text Color */
.l-subheader.at_top,
.l-subheader.at_bottom,
.transparent .l-subheader.at_bottom .type_mobile .w-nav-list.level_1,
.w-lang.active .w-lang-item {
	color: #777;
	}

/* Extended Header Text Hover Color */
.no-touch .l-subheader.at_top .w-contacts-item-value a:hover,
.no-touch .l-subheader.at_top .w-lang-item:hover,
.no-touch .transparent .l-subheader.at_top .w-lang.active .w-lang-item:hover,
.no-touch .l-subheader.at_bottom .w-cart:hover .w-cart-link,
.no-touch .l-subheader.at_bottom .w-search-show:hover,
.l-subheader.at_bottom .w-cart-quantity {
	color: #1b98e0;
	}
	
/* Transparent Header Text Color */
.l-header.transparent .l-subheader {
	color: #fff;
	}
	
/* Transparent Header Text Hover Color */
.no-touch .l-header.transparent .type_desktop .menu-item-language > a:hover,
.no-touch .l-header.transparent .type_desktop .menu-item-language:hover > a,
.no-touch .l-header.transparent .w-logo-link:hover,
.no-touch .l-header.transparent .l-subheader .w-contacts-item-value a:hover,
.no-touch .l-header.transparent .l-subheader .w-lang-item:hover,
.no-touch .l-header.transparent .l-subheader .w-search-show:hover,
.no-touch .l-header.transparent .l-subheader .w-cart-link:hover,
.l-header.transparent .l-subheader .w-cart-quantity,
.no-touch .l-header.transparent .type_desktop .w-nav-item.level_1:hover .w-nav-anchor.level_1 {
	color: #fff;
	}
.l-header.transparent .w-nav-title:after {
	background-color: #fff;
	}
	
/* Search Screen Background Color */
.l-subheader .w-search-form:before {
	background-color: #fff;
	}

/* Search Screen Text Color */
.l-subheader .w-search-form {
	color: #1b98e0;
	}

/*************************** MAIN MENU ***************************/

/* Menu Hover Background Color */
.no-touch .l-header .menu-item-language > a:hover,
.no-touch .type_desktop .menu-item-language:hover > a,
.no-touch .l-header .w-nav-item.level_1:hover .w-nav-anchor.level_1 {
	background-color: #ffffff;
	}

/* Menu Hover Text Color */
.no-touch .l-header .menu-item-language > a:hover,
.no-touch .type_desktop .menu-item-language:hover > a,
.no-touch .l-header .w-nav-item.level_1:hover .w-nav-anchor.level_1 {
	color: #004761;
	}
.w-nav-title:after {
	background-color: #004761;
	}

/* Menu Active Background Color */
.l-header .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,
.l-header .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1 {
	background-color: #fff;
	}

/* Menu Active Text Color */
.l-header .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,
.l-header .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1 {
	color: #004761;
	}
	
/* Transparent Menu Active Text Color */
.l-header.transparent .type_desktop .w-nav-item.level_1.active .w-nav-anchor.level_1,
.l-header.transparent .type_desktop .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,
.l-header.transparent .type_desktop .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1 {
	color: #42baff;
	}

/* Dropdown Background Color */
.type_desktop .submenu-languages,
.l-header .w-nav-list.level_2,
.l-header .w-nav-list.level_3,
.l-header .w-nav-list.level_4 {
	background-color: #004761;
	}

/* Dropdown Text Color */
.type_desktop .submenu-languages,
.l-header .w-nav-anchor.level_2,
.l-header .w-nav-anchor.level_3,
.l-header .w-nav-anchor.level_4,
.type_desktop [class*="columns"] .w-nav-item.menu-item-has-children.current-menu-item .w-nav-anchor.level_2,
.type_desktop [class*="columns"] .w-nav-item.menu-item-has-children.current-menu-ancestor .w-nav-anchor.level_2,
.no-touch .type_desktop [class*="columns"] .w-nav-item.menu-item-has-children:hover .w-nav-anchor.level_2 {
	color: #fff;
	}

/* Dropdown Hover Background Color */
.no-touch .type_desktop .submenu-languages .menu-item-language:hover > a,
.no-touch .l-header .w-nav-item.level_2:hover .w-nav-anchor.level_2,
.no-touch .l-header .w-nav-item.level_3:hover .w-nav-anchor.level_3,
.no-touch .l-header .w-nav-item.level_4:hover .w-nav-anchor.level_4 {
	background-color: #fff;
	}

/* Dropdown Hover Text Color */
.no-touch .type_desktop .submenu-languages .menu-item-language:hover > a,
.no-touch .l-header .w-nav-item.level_2:hover .w-nav-anchor.level_2,
.no-touch .l-header .w-nav-item.level_3:hover .w-nav-anchor.level_3,
.no-touch .l-header .w-nav-item.level_4:hover .w-nav-anchor.level_4 {
	color: #004761;
	}

/* Dropdown Active Background Color */
.l-header .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,
.l-header .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,
.l-header .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,
.l-header .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3,
.l-header .w-nav-item.level_4.current-menu-item .w-nav-anchor.level_4,
.l-header .w-nav-item.level_4.current-menu-ancestor .w-nav-anchor.level_4 {
	background-color: #1487ca;
	}

/* Dropdown Active Text Color */
.l-header .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,
.l-header .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,
.l-header .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,
.l-header .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3,
.l-header .w-nav-item.level_4.current-menu-item .w-nav-anchor.level_4,
.l-header .w-nav-item.level_4.current-menu-ancestor .w-nav-anchor.level_4 {
	color: #fff;
	}

/* Menu Button Background Color */
.btn.w-nav-item .w-nav-anchor.level_1,
.headerpos_fixed .transparent .btn.w-nav-item .w-nav-anchor.level_1 {
	background-color: #004761 !important;
	}

/* Menu Button Text Color */
.btn.w-nav-item .w-nav-anchor.level_1 {
	color: #fff !important;
	}

/* Menu Button Hover Background Color */
.no-touch .btn.w-nav-item .w-nav-anchor.level_1:before {
	background-color: #1487ca !important;
	}

/* Menu Button Hover Text Color */
.no-touch .btn.w-nav-item .w-nav-anchor.level_1:hover {
	color: #fff !important;
	}

/*************************** MAIN CONTENT ***************************/

/* Background Color */
.l-canvas,
.w-blog.type_masonry .w-blog-entry-preview:before,
.w-cart-dropdown,
.w-filters-item.active,
.no-touch .w-filters-item.active:hover,
.w-portfolio-item-anchor,
.w-tabs-item.active,
.no-touch .w-tabs-item.active:hover,
.w-timeline-item,
.w-timeline-section-title,
.w-timeline.type_vertical .w-timeline-section-content,
#lang_sel ul ul,
#lang_sel_click ul ul,
#lang_sel_footer,
.woocommerce div.product .woocommerce-tabs .tabs li.active,
.no-touch .woocommerce div.product .woocommerce-tabs .tabs li.active:hover,
.woocommerce .stars span:after,
.woocommerce .stars span a:after,
#bbp-user-navigation li.current,
.gform_wrapper .chosen-container .chosen-drop,
.gform_wrapper .chosen-container-multi .chosen-choices li.search-choice {
	background-color: #fff;
	}
.g-btn.color_contrast,
.no-touch .g-btn.color_contrast:hover,
.no-touch .g-btn.color_contrast.outlined:hover,
.w-icon.color_border.type_solid .w-icon-link,
.w-iconbox.color_contrast.type_solid .w-iconbox-icon {
	color: #fff;
	}

/* Alternate Background Color */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
textarea,
select,
.w-actionbox.color_alternate,
.w-author,
.w-blog.imgpos_atleft .w-blog-entry-preview-icon,
.w-filters,
.w-icon.color_text.type_solid .w-icon-link,
.w-icon.color_fade.type_solid .w-icon-link,
.w-pricing-item-title,
.w-pricing-item-price,
.w-progbar-bar,
.w-tabs-list,
.no-touch .widget_nav_menu .menu-item a:hover,
.no-touch #lang_sel a:hover,
.no-touch #lang_sel_click a:hover,
.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce div.product .woocommerce-tabs .tabs,
.woocommerce table.shop_table .actions .coupon .input-text,
.woocommerce #payment .payment_box,
#bbp-user-navigation,
#subscription-toggle,
#favorite-toggle,
.bbp-row-actions #favorite-toggle a,
.bbp-row-actions #subscription-toggle a,
.gform_wrapper .chosen-container-single .chosen-single,
.gform_wrapper .chosen-container-multi .chosen-choices,
.select2-container a.select2-choice,
.smile-icon-timeline-wrap .timeline-wrapper .timeline-block,
.smile-icon-timeline-wrap .timeline-feature-item.feat-item {
	background-color: #f2f2f2;
	}
.woocommerce #payment .payment_box:after,
.timeline-wrapper .timeline-post-right .ult-timeline-arrow l,
.timeline-wrapper .timeline-post-left .ult-timeline-arrow l,
.timeline-feature-item.feat-item .ult-timeline-arrow l {
	border-color: #f2f2f2;
	}

/* Border Color */
.l-submain,
.g-cols > div,
.w-blog-entry,
.w-bloglist,
.w-blognav,
.w-comments,
.w-comments-item,
.w-pricing-item-h,
.w-profile,
.w-sharing.type_simple .w-sharing-item,
.w-tabs.layout_accordion,
.w-tabs.layout_accordion .w-tabs-section,
.w-timeline.type_vertical .w-timeline-section-content,
#wp-calendar thead th,
#wp-calendar tbody td,
#wp-calendar tfoot td,
.widget_nav_menu .menu-item a,
#lang_sel a,
#lang_sel_click a,
.woocommerce table th,
.woocommerce table td,
.woocommerce .login,
.woocommerce .checkout_coupon,
.woocommerce .register,
.woocommerce .cart.variations_form,
.woocommerce .commentlist,
.woocommerce .commentlist li,
.woocommerce .comment-respond,
.woocommerce .related,
.woocommerce .upsells,
.woocommerce .cross-sells,
.woocommerce .checkout #order_review,
.woocommerce ul.order_details li,
.woocommerce .shop_table.my_account_orders,
.widget_price_filter .ui-slider-handle,
.widget_layered_nav ul,
.widget_layered_nav ul li,
#bbpress-forums .bbp-body ul.forum,
#bbpress-forums .bbp-forums li.bbp-header,
#bbpress-forums .bbp-body ul.topic,
#bbpress-forums .bbp-topics li.bbp-header,
.bbp-replies .bbp-body,
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
.bbp-pagination-links a,
.bbp-pagination-links span.current,
span.bbp-topic-pagination a.page-numbers,
.bbp-logged-in,
fieldset,
.form_saved_message,
.gform_wrapper .gsection,
.gform_wrapper .gf_page_steps,
.gform_wrapper li.gfield_creditcard_warning,
.smile-icon-timeline-wrap .timeline-line,
.ult_pricing_table_wrap.ult_design_6 .ult_pricing_table {
	border-color: #999;
	}
.g-hr-h i,
.w-icon.color_border .w-icon-link,
.w-iconbox.color_light .w-iconbox-icon {
	color: #999;
	}
.g-hr-h:before,
.g-hr-h:after,
.g-btn.color_default,
.g-btn.color_default.outlined:before,
.w-icon.color_border.type_solid .w-icon-link,
.w-iconbox.color_light.type_solid .w-iconbox-icon,
.w-timeline-list:before,
.woocommerce .button,
.no-touch .woocommerce .quantity .plus:hover,
.no-touch .woocommerce .quantity .minus:hover,
.widget_price_filter .ui-slider,
.gform_wrapper .gform_page_footer .gform_previous_button {
	background-color: #999;
	}
.g-btn.color_default.outlined,
.pagination .page-numbers,
.w-iconbox.color_light.type_outlined .w-iconbox-icon,
.w-socials-item-link,
.w-tags-item-link,
.w-team-links-item,
.w-testimonial,
.woocommerce-pagination a,
.woocommerce-pagination span {
	box-shadow: 0 0 0 2px #999 inset;
	}

/* Heading Color */
h1, h2, h3, h4, h5, h6,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
textarea,
select,
.w-form-field > i,
.no-touch .g-btn.color_default:hover,
.no-touch .g-btn.color_default.outlined:hover,
.g-btn.color_contrast.outlined,
.w-blog-entry-title,
.w-counter-number,
.w-iconbox.color_contrast .w-iconbox-icon,
.w-portfolio-item-anchor,
.no-touch a.w-portfolio-item-anchor:hover,
.l-submain.color_primary a.w-portfolio-item-anchor,
.l-submain.color_secondary a.w-portfolio-item-anchor,
.w-pricing-item-title,
.w-pricing-item-price,
.woocommerce .product .price {
	color: #000;
	}
.g-btn.color_contrast,
.g-btn.color_contrast.outlined:before,
.w-iconbox.color_contrast.type_solid .w-iconbox-icon,
.w-progbar.color_contrast .w-progbar-bar-h {
	background-color: #000;
	}
.g-btn.color_contrast.outlined,
.w-iconbox.color_contrast.type_outlined .w-iconbox-icon {
	box-shadow: 0 0 0 2px #000 inset;
	}

/* Text Color */
.l-canvas,
.g-btn.color_default,
.g-btn.color_default.outlined,
.w-cart-dropdown,
.w-icon.color_text .w-icon-link,
.w-iconbox.color_light.type_solid .w-iconbox-icon,
.color_primary .w-icon.color_text.type_solid .w-icon-link,
.woocommerce .button,
.l-subfooter.at_top .woocommerce .button {
	color: #000;
	}

/* Primary Color */
a,
.g-html .highlight,
.g-btn.color_primary.outlined,
.no-touch .w-blog-entry-link:hover .w-blog-entry-title-h,
.no-touch .w-blog-entry-link:hover,
.l-main .w-contacts-item i,
.w-counter.color_primary .w-counter-number,
.w-filters-item.active,
.no-touch .w-filters-item.active:hover,
.w-form-field > input:focus + i,
.w-form-field > textarea:focus + i,
.w-icon.color_primary .w-icon-link,
.w-iconbox.color_primary .w-iconbox-icon,
.no-touch .w-iconbox-link:hover .w-iconbox-title,
.no-touch .w-pagehead-nav-item:hover,
.w-tabs-item.active,
.no-touch .w-tabs-item.active:hover,
.w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-header,
.no-touch .w-tags-item-link:hover,
.w-team-link .w-team-name,
.no-touch .w-clients .slick-prev:hover,
.no-touch .w-clients .slick-next:hover,
.woocommerce .products .product .button,
.no-touch .woocommerce .products .product .button.loading:hover,
.woocommerce .star-rating span:before,
.woocommerce-breadcrumb a,
.woocommerce div.product .woocommerce-tabs .tabs li.active,
.no-touch .woocommerce div.product .woocommerce-tabs .tabs li.active:hover,
.woocommerce .stars span a:after,
#subscription-toggle span.is-subscribed:before,
#favorite-toggle span.is-favorite:before {
	color: #003245;
	}
.l-submain.color_primary,
.w-actionbox.color_primary,
.g-btn.color_primary,
.g-btn.color_primary.outlined:before,
button,
input[type="submit"],
.no-touch .pagination .page-numbers:before,
.pagination .page-numbers.current,
.no-touch .w-iconbox.type_outlined .w-iconbox-icon:before,
.no-touch .w-iconbox.type_solid .w-iconbox-icon:before,
.w-iconbox.color_primary.type_solid .w-iconbox-icon,
.no-touch .w-filters-item:hover,
.w-icon.color_primary.type_solid .w-icon-link,
.w-pricing-item.type_featured .w-pricing-item-title,
.w-pricing-item.type_featured .w-pricing-item-price,
.w-progbar.color_primary .w-progbar-bar-h,
.no-touch .w-team-links,
.w-timeline-item:before,
.w-timeline.type_vertical .w-timeline-section:before,
.w-timeline-section-title:before,
.w-timeline-section.active .w-timeline-section-title:before,
.no-touch .w-toplink.active:hover,
.no-touch .tp-leftarrow.custom:before,
.no-touch .tp-rightarrow.custom:before,
.widget_nav_menu .menu-item.current-menu-item > a,
.no-touch .widget_nav_menu .menu-item.current-menu-item > a:hover,
p.demo_store,
.woocommerce .button.alt,
.woocommerce .button.checkout,
.no-touch .woocommerce .products .product .button:hover,
.no-touch .woocommerce-pagination a:hover,
.woocommerce-pagination span.current,
.woocommerce .onsale,
.widget_price_filter .ui-slider-range,
.widget_layered_nav ul li.chosen,
.widget_layered_nav_filters ul li a,
.no-touch .bbp-pagination-links a:hover,
.bbp-pagination-links span.current,
.no-touch span.bbp-topic-pagination a.page-numbers:hover,
.gform_wrapper .gf_progressbar_percentage,
.gform_wrapper .gform_page_footer .gform_next_button,
.gform_wrapper .chosen-container .chosen-results li.highlighted,
.smile-icon-timeline-wrap .timeline-separator-text .sep-text,
.smile-icon-timeline-wrap .timeline-wrapper .timeline-dot,
.smile-icon-timeline-wrap .timeline-feature-item .timeline-dot {
	background-color: #003245;
	}
.g-html blockquote,
.w-blog-entry.sticky,
.no-touch .w-clients-item-h:hover,
.w-filters-item.active,
.w-tabs-item.active,
.no-touch .w-tabs-item.active:hover,
.widget_nav_menu .menu-item.current-menu-item > a,
.fotorama__thumb-border,
.woocommerce div.product .woocommerce-tabs .tabs li.active,
.widget_layered_nav ul li.chosen,
.no-touch .bbp-pagination-links a:hover,
.bbp-pagination-links span.current,
.no-touch span.bbp-topic-pagination a.page-numbers:hover,
#bbp-user-navigation li.current {
	border-color: #003245;
	}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus,
#bbpress-forums div.bbp-the-content-wrapper textarea:focus {
	box-shadow: 0 0 0 2px #003245;
	}
.g-btn.color_primary.outlined,
.l-main .w-contacts-item i,
.w-iconbox.color_primary.type_outlined .w-iconbox-icon,
.no-touch .w-pagehead-nav-item:hover,
.no-touch .w-tags-item-link:hover,
.no-touch .w-testimonial:hover,
.w-timeline-item,
.w-timeline-section-title,
.no-touch .w-clients .slick-prev:hover,
.no-touch .w-clients .slick-next:hover,
.woocommerce .products .product .button,
.no-touch .woocommerce .products .product .button.loading:hover {
	box-shadow: 0 0 0 2px #003245 inset;
	}

/* Secondary Color */
.no-touch a:hover,
.g-btn.color_secondary.outlined,
.no-touch .w-blog.type_masonry .w-blog-meta a:hover,
.no-touch .w-blognav-prev:hover .w-blognav-title,
.no-touch .w-blognav-next:hover .w-blognav-title,
.w-counter.color_secondary .w-counter-number,
.w-icon.color_secondary .w-icon-link,
.w-iconbox.color_secondary .w-iconbox-icon,
.no-touch .w-team-link:hover .w-team-name,
.no-touch .widget_archive ul li a:hover,
.no-touch .widget_categories ul li a:hover,
.no-touch .widget_tag_cloud .tagcloud a:hover,
.no-touch .woocommerce-breadcrumb a:hover,
.no-touch .widget_product_tag_cloud .tagcloud a:hover,
.no-touch .bbp_widget_login a.button.logout-link:hover {
	color: #447490;
	}
.l-submain.color_secondary,
.w-actionbox.color_secondary,
.g-btn.color_secondary,
.g-btn.color_secondary.outlined:before,
.w-icon.color_secondary.type_solid .w-icon-link,
.w-iconbox.color_secondary.type_solid .w-iconbox-icon,
.w-progbar.color_secondary .w-progbar-bar-h,
.no-touch .button:hover,
.no-touch input[type="submit"]:hover,
.no-touch .woocommerce .button:hover,
.no-touch .woocommerce .button.alt:hover,
.no-touch .woocommerce .button.checkout:hover,
.no-touch .woocommerce .shop_table.cart .product-remove a:hover,
.no-touch .widget_layered_nav_filters ul li a:hover,
.no-touch .bbp-row-actions #favorite-toggle a:hover,
.no-touch .bbp-row-actions #subscription-toggle a:hover {
	background-color: #447490;
	}
.g-btn.color_secondary.outlined,
.w-iconbox.color_secondary.type_outlined .w-iconbox-icon {
	box-shadow: 0 0 0 2px #447490 inset;
	}

/* Fade Elements Color */
.w-blog-meta,
.w-blog-meta a,
.w-icon.color_fade .w-icon-link,
.no-touch .w-icon.color_fade.type_solid .w-icon-link:hover,
.w-profile-link.for_logout,
.widget_tag_cloud .tagcloud a,
.woocommerce-breadcrumb,
.woocommerce .star-rating:before,
.woocommerce .stars span:after,
.woocommerce table.shop_table .product-remove a.remove,
.widget_product_tag_cloud .tagcloud a,
p.bbp-topic-meta,
.bbp_widget_login a.button.logout-link {
	color: #999;
	}
.w-shortblog-entry-date {
	box-shadow: 0 0 0 2px #999 inset;
	}

/*************************** ALTERNATE CONTENT ***************************/

/* Background Color */
.l-submain.color_alternate,
.color_alternate .w-blog.type_masonry .w-blog-entry-preview:before,
.color_alternate .w-filters-item.active,
.no-touch .color_alternate .w-filters-item.active:hover,
.color_alternate .w-tabs-item.active,
.no-touch .color_alternate .w-tabs-item.active:hover,
.color_alternate .w-timeline-item,
.color_alternate .w-timeline-section-title,
.color_alternate .w-timeline.type_vertical .w-timeline-section-content {
	background-color: #f2f2f2;
	}
.color_alternate .g-btn.color_contrast,
.no-touch .color_alternate .g-btn.color_contrast:hover,
.no-touch .color_alternate .g-btn.color_contrast.outlined:hover,
.color_alternate .w-icon.color_border.type_solid .w-icon-link {
	color: #f2f2f2;
	}

/* Alternate Background Color */
.color_alternate input[type="text"],
.color_alternate input[type="password"],
.color_alternate input[type="email"],
.color_alternate input[type="url"],
.color_alternate input[type="tel"],
.color_alternate input[type="number"],
.color_alternate input[type="date"],
.color_alternate input[type="search"],
.color_alternate textarea,
.color_alternate select,
.color_alternate .w-blog.imgpos_atleft .w-blog-entry-preview-icon,
.color_alternate .w-filters,
.color_alternate .w-icon.color_text.type_solid .w-icon-link,
.color_alternate .w-icon.color_fade.type_solid .w-icon-link,
.color_alternate .w-pricing-item-title,
.color_alternate .w-pricing-item-price,
.color_alternate .w-tabs-list {
	background-color: #fff;
	}

/* Border Color */
.color_alternate .w-blog-entry,
.color_alternate .w-bloglist,
.color_alternate .w-comments-item,
.color_alternate .w-pricing-item-h,
.color_alternate .w-tabs.layout_accordion,
.color_alternate .w-tabs.layout_accordion .w-tabs-section,
.color_alternate .w-timeline.type_vertical .w-timeline-section-content {
	border-color: #ddd;
	}
.color_alternate .g-hr-h i,
.color_alternate .page-404 i,
.color_alternate .w-icon.color_border .w-icon-link {
	color: #ddd;
	}
.color_alternate .g-hr-h:before,
.color_alternate .g-hr-h:after,
.color_alternate .g-btn.color_default,
.color_alternate .g-btn.color_default.outlined:before,
.color_alternate .w-icon.color_border.type_solid .w-icon-link,
.color_alternate .w-timeline-list:before {
	background-color: #ddd;
	}
.color_alternate .g-btn.color_default.outlined,
.color_alternate .pagination .page-numbers,
.color_alternate .w-socials-item-link,
.color_alternate .w-tags-item-link,
.color_alternate .w-team-links-item,
.color_alternate .w-testimonial {
	box-shadow: 0 0 0 2px #ddd inset;
	}

/* Heading Color */
.color_alternate h1,
.color_alternate h2,
.color_alternate h3,
.color_alternate h4,
.color_alternate h5,
.color_alternate h6,
.color_alternate input[type="text"],
.color_alternate input[type="password"],
.color_alternate input[type="email"],
.color_alternate input[type="url"],
.color_alternate input[type="tel"],
.color_alternate input[type="number"],
.color_alternate input[type="date"],
.color_alternate textarea,
.color_alternate select,
.color_alternate .w-form-field > i,
.no-touch .color_alternate .g-btn.color_default:hover,
.no-touch .color_alternate .g-btn.color_default.outlined:hover,
.color_alternate .g-btn.color_contrast.outlined,
.color_alternate .w-blog-entry-title,
.color_alternate .w-counter-number,
.color_alternate .w-pricing-item-title,
.color_alternate .w-pricing-item-price {
	color: #444;
	}
.color_alternate .g-btn.color_contrast,
.color_alternate .g-btn.color_contrast.outlined:before {
	background-color: #444;
	}
.color_alternate .g-btn.color_contrast.outlined {
	box-shadow: 0 0 0 2px #444 inset;
	}

/* Text Color */
.l-submain.color_alternate,
.color_alternate .g-btn.color_default,
.color_alternate .g-btn.color_default.outlined,
.color_alternate .w-icon.color_text .w-icon-link {
	color: #666;
	}

/* Primary Color */
.color_alternate a,
.color_alternate .g-btn.color_primary.outlined,
.no-touch .color_alternate .w-blog-entry-link:hover .w-blog-entry-title-h,
.no-touch .color_alternate .w-blog-entry-link:hover,
.color_alternate .l-main .w-contacts-item i,
.color_alternate .w-counter.color_primary .w-counter-number,
.color_alternate .w-filters-item.active,
.no-touch .color_alternate .w-filters-item.active:hover,
.color_alternate .w-icon.color_primary .w-icon-link,
.color_alternate .w-iconbox-icon,
.no-touch .color_alternate .w-iconbox-link:hover .w-iconbox-title,
.no-touch .color_alternate .w-pagehead-nav-item:hover,
.color_alternate .w-tabs-item.active,
.no-touch .color_alternate .w-tabs-item.active:hover,
.color_alternate .w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-header,
.no-touch .color_alternate .w-tags-item-link:hover,
.color_alternate .w-team-link .w-team-name {
	color: #003245;
	}
.color_alternate .g-btn.color_primary,
.color_alternate .g-btn.color_primary.outlined:before,
.color_alternate input[type="submit"],
.no-touch .color_alternate .pagination .page-numbers:before,
.color_alternate .pagination .page-numbers.current,
.no-touch .color_alternate .w-filters-item:hover,
.color_alternate .w-icon.color_primary.type_solid .w-icon-link,
.color_alternate .w-pricing-item.type_featured .w-pricing-item-title,
.color_alternate .w-pricing-item.type_featured .w-pricing-item-price,
.no-touch .color_alternate .w-team-links,
.color_alternate .w-timeline-item:before,
.color_alternate .w-timeline.type_vertical .w-timeline-section:before,
.color_alternate .w-timeline-section-title:before,
.color_alternate .w-timeline-section.active .w-timeline-section-title:before {
	background-color: #003245;
	}
.color_alternate .g-html blockquote,
.color_alternate .w-blog-entry.sticky,
.color_alternate .w-filters-item.active,
.color_alternate .w-tabs-item.active,
.no-touch .color_alternate .w-tabs-item.active:hover {
	border-color: #003245;
	}
.color_alternate input[type="text"]:focus,
.color_alternate input[type="password"]:focus,
.color_alternate input[type="email"]:focus,
.color_alternate input[type="url"]:focus,
.color_alternate input[type="tel"]:focus,
.color_alternate input[type="number"]:focus,
.color_alternate input[type="date"]:focus,
.color_alternate input[type="search"]:focus,
.color_alternate textarea:focus,
.color_alternate select:focus {
	box-shadow: 0 0 0 2px #003245;
	}
.color_alternate .g-btn.color_primary.outlined,
.color_alternate .l-main .w-contacts-item i,
.no-touch .color_alternate .w-pagehead-nav-item:hover,
.no-touch .color_alternate .w-tags-item-link:hover,
.no-touch .color_alternate .w-testimonial:hover,
.color_alternate .w-timeline-item:before,
.color_alternate .w-timeline-section-title:before {
	box-shadow: 0 0 0 2px #003245 inset;
	}

/* Secondary Color */
.no-touch .color_alternate a:hover,
.no-touch .color_alternate a:active,
.color_alternate .g-btn.color_secondary.outlined,
.no-touch .color_alternate .w-blog.type_masonry .w-blog-meta a:hover,
.color_alternate .w-counter.color_secondary .w-counter-number,
.color_alternate .w-icon.color_secondary .w-icon-link,
.no-touch .color_alternate .w-team-link:hover .w-team-name {
	color: #447490;
	}
.color_alternate .g-btn.color_secondary,
.color_alternate .g-btn.color_secondary.outlined:before,
.color_alternate .w-icon.color_secondary.type_solid .w-icon-link {
	background-color: #447490;
	}
.color_alternate .g-btn.color_secondary.outlined {
	box-shadow: 0 0 0 2px #447490 inset;
	}

/* Fade Elements Color */
.color_alternate .w-blog-meta,
.color_alternate .w-blog-meta a,
.color_alternate .w-bloglist-entry-date,
.color_alternate .w-bloglist-entry-author,
.color_alternate .w-icon.color_fade .w-icon-link {
	color: #999;
	}
.color_alternate .w-shortblog-entry-date {
	box-shadow: 0 0 0 2px #999 inset;
	}

/*************************** SUBFOOTER ***************************/

/* Background Color */
.l-subfooter.at_top,
.l-subfooter.at_top #lang_sel ul ul,
.l-subfooter.at_top #lang_sel_click ul ul {
	background-color: #333;
	}
	
/* Alternate Background Color */
.l-subfooter.at_top input[type="text"],
.l-subfooter.at_top input[type="password"],
.l-subfooter.at_top input[type="email"],
.l-subfooter.at_top input[type="url"],
.l-subfooter.at_top input[type="tel"],
.l-subfooter.at_top input[type="number"],
.l-subfooter.at_top input[type="date"],
.l-subfooter.at_top input[type="search"],
.l-subfooter.at_top textarea,
.l-subfooter.at_top select,
.no-touch .l-subfooter.at_top #lang_sel a:hover,
.no-touch .l-subfooter.at_top #lang_sel_click a:hover {
	background-color: #292929;
	}

/* Border Color */
.l-subfooter.at_top,
.l-subfooter.at_top #wp-calendar thead th,
.l-subfooter.at_top #wp-calendar tbody td,
.l-subfooter.at_top #wp-calendar tfoot td,
.l-subfooter.at_top #lang_sel a,
.l-subfooter.at_top #lang_sel_click a,
.l-subfooter.at_top .widget_nav_menu .menu-item a {
	border-color: #444;
	}
.l-subfooter.at_top .w-socials-item-link {
	box-shadow: 0 0 0 2px #444 inset;
	}

/* Text Color */
.l-subfooter.at_top,
.l-subfooter.at_top .w-socials-item-link {
	color: #aaa;
	}

/* Heading Color */
.l-subfooter.at_top h1,
.l-subfooter.at_top h2,
.l-subfooter.at_top h3,
.l-subfooter.at_top h4,
.l-subfooter.at_top h5,
.l-subfooter.at_top h6,
.l-subfooter.at_top .w-form-field > i,
.l-subfooter.at_top input[type="text"],
.l-subfooter.at_top input[type="password"],
.l-subfooter.at_top input[type="email"],
.l-subfooter.at_top input[type="url"],
.l-subfooter.at_top input[type="tel"],
.l-subfooter.at_top input[type="number"],
.l-subfooter.at_top input[type="date"],
.l-subfooter.at_top input[type="search"],
.l-subfooter.at_top textarea,
.l-subfooter.at_top select {
	color: #ddd;
	}

/* Link Color */
.l-subfooter.at_top a,
.l-subfooter.at_top .widget_tag_cloud .tagcloud a,
.l-subfooter.at_top .widget_product_tag_cloud .tagcloud a {
	color: #ddd;
	}

/* Link Hover Color */
.no-touch .l-subfooter.at_top a:hover,
.no-touch .l-subfooter.at_top .widget_tag_cloud .tagcloud a:hover,
.no-touch .l-subfooter.at_top .widget_product_tag_cloud .tagcloud a:hover {
	color: #003245;
	}

/*************************** FOOTER ***************************/

/* Background Color */
.l-subfooter.at_bottom {
	background-color: #fff;
	}

/* Text Color */
.l-subfooter.at_bottom {
	color: #999;
	}

/* Link Color */
.l-subfooter.at_bottom a {
	color: #666;
	}

/* Link Hover Color */
.no-touch .l-subfooter.at_bottom a:hover {
	color: #003245;
	}
