/**
 * Stylesheet for font faces
 *
 * @package         NoNumber Framework
 * @version         13.7.8
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

@font-face {
  font-family: 'NNIcoMoon';
  src: url('NNIcoMoon.eot');
  src: url('NNIcoMoon.eot?#iefix') format('embedded-opentype'),
  url('NNIcoMoon.woff') format('woff'),
  url('NNIcoMoon.ttf') format('truetype'),
  url('NNIcoMoon.svg#NNIcoMoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="nnicon-"],
[class*=" nnicon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  .ie7-restore-right-whitespace();
  line-height: 14px;
  font-size: 16px;
  &:before {
    font-family: 'NNIcoMoon';
    font-style: normal;
    speak: none;
  }
}

.nnicon-paragraph-left:before {
  content: "\e000";
}
.nnicon-paragraph-center:before {
  content: "\e001";
}
.nnicon-paragraph-right:before {
  content: "\e002";
}
.nnicon-paragraph-justify:before {
  content: "\e003";
}
.nnicon-undo:before {
  content: "\e004";
}
.nnicon-redo:before {
  content: "\e005";
}
.nnicon-spinner:before {
  content: "\e006";
}
.nnicon-lock:before {
  content: "\e007";
}
.nnicon-unlocked:before {
  content: "\e008";
}
.nnicon-cog:before {
  content: "\e009";
}
.nnicon-arrow-up:before {
  content: "\e00a";
}
.nnicon-arrow-right:before {
  content: "\e00b";
}
.nnicon-arrow-down:before {
  content: "\e00c";
}
.nnicon-arrow-left:before {
  content: "\e00d";
}
.nnicon-top:before {
  content: "\e00e";
}
.nnicon-bottom:before {
  content: "\e00f";
}
.nnicon-simple:before {
  content: "\e010";
}
.nnicon-normal:before {
  content: "\e011";
}
.nnicon-advanced:before {
  content: "\e012";
}

@font-face {
  font-family: 'NoNumber';
  src: url('nonumber.eot');
  src: url('nonumber.eot?#iefix') format('embedded-opentype'),
  url('nonumber.woff') format('woff'),
  url('nonumber.ttf') format('truetype'),
  url('nonumber.svg#nonumber') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-nonumber {
  width: 16px !important;
  &:before {
    font-family: 'NoNumber' !important;
    font-style: normal;
    speak: none;
    font-size: 16px !important;
    content: "";
    line-height: 16px;
  }
}
.btn .icon-nonumber {
  text-indent: -2px;
}

.icon-nonumber:before {
  content: "\e000";
}
.icon-addtomenu:before {
  content: "\e001";
}
.icon-adminbardocker:before {
  content: "\e002";
}
.icon-advancedmodulemanager:before {
  content: "\e003";
}
.icon-articlesanywhere:before {
  content: "\e004";
}
.icon-betterpreview:before {
  content: "\e005";
}
.icon-cachecleaner:before {
  content: "\e006";
}
.icon-cdnforjoomla:before {
  content: "\e007";
}
.icon-contenttemplater:before {
  content: "\e008";
}
.icon-dbreplacer:before {
  content: "\e009";
}
.icon-modalizer:before,
.icon-modals:before{
  content: "\e00a";
}
.icon-modulesanywhere:before {
  content: "\e00b";
}
.icon-rereplacer:before {
  content: "\e00c";
}
.icon-slider:before,
.icon-sliders:before{
  content: "\e00d";
}
.icon-snippets:before {
  content: "\e00e";
}
.icon-sourcerer:before {
  content: "\e00f";
}
.icon-taber:before,
.icon-tabs:before{
  content: "\e010";
}
.icon-timedstyles:before {
  content: "\e011";
}
.icon-tooltips:before {
  content: "\e012";
}
.icon-whatnothing:before {
  content: " ";
  width: 16px;
  display: inline-block;
}

.icon-src-sourcetags:before {
  content: "\e013";
}
.icon-src-nosourcetags:before {
  content: "\e014";
}
.icon-src-tagstyle:before {
  content: "\e015";
}
.icon-src-tagstylebrackets:before {
  content: "\e016";
}
