<div>&nbsp;</div>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="initial-scale=1.0" name="viewport" /><!-- So that mobile webkit will display zoomed in -->
<meta content="true" name="HandheldFriendly" />
<meta content="width=device-width" name="viewport" />
<meta content="telephone=no" name="format-detection" /><!-- disable auto telephone linking in iOS -->
<title></title>
<style type="text/css">/* Resets: see reset.css for details */
        .ReadMsgBody { width: 100%; background-color: #ebebeb;}
        .ExternalClass {width: 100%; background-color: #ebebeb;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {margin:0; padding:0;}
        table {border-spacing:0;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}
.headline {
font-size:50px;	
}
.headline2 {
font-size:36px;	
}
.subhead {
font-size:18px;	
}
	body[yahoo] #mastheadcontainer {

padding-bottom:36px;
}
body[yahoo] #space {
	height:56px;
}

        /* Constrain email width for small screens */
        @media screen and (max-width: 599px) {
      
		 
		   /* [class="container"] */ 
		   
			body[yahoo] table {
                width: 95% !important;
				float:none;
				
            }
			body[yahoo] img {
			float:none;	
			display:block;
			
			}
			body[yahoo] .mobilepic {
				width:100%;
			}
			body[yahoo] .mobilepic95 {
			width:95%;	
			}
			body[yahoo] .hidepic {
			display:none;	
			float:none;
			}
			
			body[yahoo] .block {
			width:90%;	
			}
			
			body[yahoo] hr {
			width:95%;	
			}
			body[yahoo] .headline {
			font-size:24px;	
			}
			body[yahoo] .headline2 {
			font-size:24px;	
			}
			body[yahoo] .subhead {
font-size:15px;	
}
body[yahoo] .masthead {
zoom:150%;	
}
body[yahoo] #mastheadcontainer {
overflow:hidden;
width:auto;
padding-bottom:20px;
position:relative;
left:10px;
}
body[yahoo] #space {
display:none;	
}
        }
	

        /* Give content more room on mobile */
        @media screen and (max-width: 480px) {
            body[yahoo] td[class="container-padding"] {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
			body[yahoo] img {
			float:none;	
			}
			body[yahoo] .hidepic {
			display:none;	
			}
        }


        /* Styles for forcing columns to rows */
        @media only screen and (max-width : 600px) {

            /* force container columns to (horizontal) blocks */
            body[yahoo] td[class="force-col"] {
                display: block;
                padding-right: 0 !important;
            }
            body[yahoo] table[class="col-3"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 100% !important;

                /* change left/right padding and margins to top/bottom ones */
                margin-bottom: 12px;
                padding-bottom: 12px;
                border-bottom: 1px solid #eee;
            }

            /* remove bottom border for last column/row */
            body[yahoo] table[id="last-col-3"] {
                border-bottom: none !important;
                margin-bottom: 0;
            }

            /* align images right and shrink them a bit */
            body[yahoo] img[class="col-3-img"] {
                float: right;
                margin-left: 6px;
                max-width: 130px;
            }
			body[yahoo] img {
			float:none;	
			}
			body[yahoo] .hidepic {
			display:none;	
			}
        }
</style>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="container" width="650">
	<tbody>
		<tr>
			<td>
			<table bgcolor="#FFFFFF" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" width="650">
				<tbody>
					<tr>
						<td>
						<table border="0" cellpadding="0" cellspacing="0" class="container" width="650">
							<tbody>
								<tr>
									<td>
									<div id="mastheadcontainer" style="background-image:url(http://www.billbonnersdiary.com/templates/e-letter/img/bbdre-header.jpg); background-repeat:no-repeat; background-position:center; height:80px; background-size: 480px 100%;"><img alt="Diary of a Rogue Economist" class="hidepic" height="136" src="http://www.billbonnersdiary.com/templates/e-letter/img/bbdre-header.jpg" title="Diary of a Rogue Economist" width="650" /></div>

									<div id="space">&nbsp;</div>
									</td>
								</tr>
							</tbody>
						</table>

						<table align="left" border="0" cellpadding="0" cellspacing="0" width="650">
							<tbody>
								<tr>
									<td style="padding:14px"><!--
<p style="margin-bottom:1em" align="right"><font face="Arial, Helvetica, sans-serif" color="#555555" style="font-size:12px">[%= :date(%B %d, %Y) %]</font></p>
--><font color="#000000" face="Verdana, Geneva, sans-serif" style="font-size:13px">Dear reader,<br />
									<br />
									As promised, <a href="http://www.bonnerandpartners.com/wp-content/uploads/2014/06/fbreports.html">here</a> is the page where you can view your video from Bill and three free reports.<br />
									<br />
									You will start receiving daily essays from Bill&#39;s <em>Diary of a Rogue Economist</em> right away. Please add bill@billbonnersdiary.com to your contact list to ensure you don&#39;t miss an issue!<br />
									<br />
									Sincerely,<br />
									<br />
									Will Bonner,<br />
									Publisher,<br />
									Bonner &amp; Partners </font></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			&nbsp;

			<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="650">
				<tbody>
					<tr>
						<td style="padding:5px">
						<p align="left"><font color="#000000" face="Verdana, Arial, Helvetica, sans-serif, Impact" style="font-size:11px"><font color="#000000" face="Verdana, Arial, Helvetica, sans-serif, Impact" style="font-size:11px">This e-mail was sent to [%= :emailAddress %] because you subscribed to this service. It&#39;s not our intention to send e-mail to anyone who doesn&#39;t want it.<br />
						<br />
						To cancel <em>Bill Bonner&#39;s Diary of a Rogue Economist</em>, [%= :Unsub(click here to unsubscribe) %].<br />
						<br />
						To cancel by mail or for any other subscription issues, write us at:<br />
						Diary of a Rogue Economist, 1119 St Paul St., Baltimore, MD 21202, USA<br />
						<br />
						Please <a href="[%= LINK('2166', 1, 'http://www.bonnerandpartners.com/contact-us/', 'click here', 'Tracking', 0, 0) %]">click here</a> for information on how to contact us.<br />
						<br />
						Having trouble getting your e-mails? Add us to your address book. <a href="[%= LINK('2159', 1, 'http://www.bonnerandpartners.com/whitelist-us/', 'Get Instructions here...', 'Tracking', 0, 0) %]" target="_blank">Get Instructions here...</a><br />
						<br />
						Copyright 2014 Bonner &amp; Partners LLC and Bill Bonners&rsquo; Diary of a Rogue Economist, 1119 St Paul St., Baltimore, MD 21202, USA. All rights reserved. No part of this report may be reproduced or placed on any electronic medium without written permission from the publisher. Information contained herein is obtained from sources believed to be reliable, but its accuracy cannot be guaranteed. Bill Bonner&#39;s Diary of a Rogue Economist or its editors and publications do not advocate the purchase or sale of any security or investment. Investments recommended in this publication should be made only after consulting with your investment advisor and only after reviewing the prospectus or financial statements of the company in question. Bill Bonner&#39;s Diary of a Rogue Economist expressly forbids its writers from having a financial interest in any security that they recommend to their readers. Furthermore, all other employees and agents of Bill Bonner&#39;s Diary of a Rogue Economist and its affiliate companies must wait 24 hours before following an initial recommendation published on the Internet, or 72 hours after a printed publication is mailed.</font></font></p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
