/**
 * Main stylesheet
 *
 * @package         NoNumber Framework
 * @version         13.7.8
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="checkbox"],
input[type="radio"] {
  border: 0;
}
div.nn_panel {
  clear: both;
  margin-bottom: 8px !important;
  border: 1px solid #CCCCCC;
}
div.nn_panel_top {
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
  font-size: 1.091em;
}
div.nn_panel_title {
  background-color: #F0F0F0;
  font-weight: bold;
  margin-top: 5px;
}
div.nn_panel_toggle {
  background-color: #FAFAFA;
  font-size: 1.091em;
}
div.nn_panel_toggle:hover {
  background-color: #F0F0F0;
}
div.nn_panel_toggle input.checkbox {
  margin: 0 8px 0 0;
}
div.nn_panel_toggle.nn_panel_include,
div.nn_panel_toggle.nn_panel_exclude {
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
  background-color: #437b1d;
  color: #FFFFFF;
}
div.nn_panel_toggle.nn_panel_exclude {
  background-color: #ac1f1f;
}
ul.config-option-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nn_block {
  display: block;
  padding: 4px 8px 0 8px;
}
.nn_block_notitle,
.nn_title {
  padding: 4px 8px;
}
label.nn_title {
  float: none !important;
  padding: 5px 8px 3px 8px !important;
  margin: 0 !important;
  pointer: cursor;
}
.nn_title ul {
  margin: 0 !important;
  margin-left: 2em !important;
}
.nn_title ul li {
  list-style: disc outside !important;
}
.nntoggler ul {
  margin: 0;
}
div.nn_hr {
  height: 2px;
  border-left: 0 !important;
  border-right: 0 !important;
}
button.nn_close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  margin: 2px 4px 0 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
button.nn_close:hover {
  border: 0;
  background: transparent;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
span.nn_code {
  font-family: monospace;
  font-size: 12px;
  color: #666666;
}
input.nn_codefield {
  font-family: monospace;
  font-size: 2em;
  padding: 2px 5px;
  text-align: center;
}
textarea.nn_textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.toolbar .icon-32-export {
  background-image: url(../images/icon-32-export.png);
}
.toolbar .icon-32-import {
  background-image: url(../images/icon-32-import.png);
}
/* AP template */
#ap-wrapper .icon-32-export {
  background-image: url(../images/icon-32-export2.png);
}
#ap-wrapper .icon-32-import {
  background-image: url(../images/icon-32-import2.png);
}
/* APLite template */
.ap-main .icon-32-export,
.ap-main .icon-32-import {
  display: block;
  float: left;
  height: 20px;
  width: 20px;
  background: transparent url(../../../administrator/templates/aplite/images/menu/yellow/star_16x16.png) no-repeat 0 0;
}
.ap-main .icon-32-export {
  background-image: url(../../../administrator/templates/aplite/images/menu/green/save_16x16.png);
}
.ap-main .icon-32-import {
  background-image: url(../../../administrator/templates/aplite/images/menu/blue/save_16x16.png);
}
/* Mission Control */
div#mc-component fieldset.assignment-options ul {
  margin: 0;
}
div#mc-component fieldset.assignment-options ul.adminformlist ul {
  padding: 0;
}
div#mc-component .nntoggler ul li {
  padding: 5px 0;
  /* Undo override input MC stylesheet */

}
div#mc-component div.nn_panel {
  margin-bottom: 0 !important;
}
/**
 * Stylesheet for font faces
 *
 * @package         NoNumber Framework
 * @version         13.7.8
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@font-face {
  font-family: 'NNIcoMoon';
  src: url('NNIcoMoon.eot');
  src: url('NNIcoMoon.eot?#iefix') format('embedded-opentype'), url('NNIcoMoon.woff') format('woff'), url('NNIcoMoon.ttf') format('truetype'), url('NNIcoMoon.svg#NNIcoMoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="nnicon-"],
[class*=" nnicon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  font-size: 16px;
}
[class^="nnicon-"]:before,
[class*=" nnicon-"]:before {
  font-family: 'NNIcoMoon';
  font-style: normal;
  speak: none;
}
.nnicon-paragraph-left:before {
  content: "\e000";
}
.nnicon-paragraph-center:before {
  content: "\e001";
}
.nnicon-paragraph-right:before {
  content: "\e002";
}
.nnicon-paragraph-justify:before {
  content: "\e003";
}
.nnicon-undo:before {
  content: "\e004";
}
.nnicon-redo:before {
  content: "\e005";
}
.nnicon-spinner:before {
  content: "\e006";
}
.nnicon-lock:before {
  content: "\e007";
}
.nnicon-unlocked:before {
  content: "\e008";
}
.nnicon-cog:before {
  content: "\e009";
}
.nnicon-arrow-up:before {
  content: "\e00a";
}
.nnicon-arrow-right:before {
  content: "\e00b";
}
.nnicon-arrow-down:before {
  content: "\e00c";
}
.nnicon-arrow-left:before {
  content: "\e00d";
}
.nnicon-top:before {
  content: "\e00e";
}
.nnicon-bottom:before {
  content: "\e00f";
}
.nnicon-simple:before {
  content: "\e010";
}
.nnicon-normal:before {
  content: "\e011";
}
.nnicon-advanced:before {
  content: "\e012";
}
@font-face {
  font-family: 'NoNumber';
  src: url('nonumber.eot');
  src: url('nonumber.eot?#iefix') format('embedded-opentype'), url('nonumber.woff') format('woff'), url('nonumber.ttf') format('truetype'), url('nonumber.svg#nonumber') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-nonumber {
  width: 16px !important;
}
.icon-nonumber:before {
  font-family: 'NoNumber' !important;
  font-style: normal;
  speak: none;
  font-size: 16px !important;
  content: "";
  line-height: 16px;
}
.btn .icon-nonumber {
  text-indent: -2px;
}
.icon-nonumber:before {
  content: "\e000";
}
.icon-addtomenu:before {
  content: "\e001";
}
.icon-adminbardocker:before {
  content: "\e002";
}
.icon-advancedmodulemanager:before {
  content: "\e003";
}
.icon-articlesanywhere:before {
  content: "\e004";
}
.icon-betterpreview:before {
  content: "\e005";
}
.icon-cachecleaner:before {
  content: "\e006";
}
.icon-cdnforjoomla:before {
  content: "\e007";
}
.icon-contenttemplater:before {
  content: "\e008";
}
.icon-dbreplacer:before {
  content: "\e009";
}
.icon-modalizer:before,
.icon-modals:before {
  content: "\e00a";
}
.icon-modulesanywhere:before {
  content: "\e00b";
}
.icon-rereplacer:before {
  content: "\e00c";
}
.icon-slider:before,
.icon-sliders:before {
  content: "\e00d";
}
.icon-snippets:before {
  content: "\e00e";
}
.icon-sourcerer:before {
  content: "\e00f";
}
.icon-taber:before,
.icon-tabs:before {
  content: "\e010";
}
.icon-timedstyles:before {
  content: "\e011";
}
.icon-tooltips:before {
  content: "\e012";
}
.icon-whatnothing:before {
  content: " ";
  width: 16px;
  display: inline-block;
}
.icon-src-sourcetags:before {
  content: "\e013";
}
.icon-src-nosourcetags:before {
  content: "\e014";
}
.icon-src-tagstyle:before {
  content: "\e015";
}
.icon-src-tagstylebrackets:before {
  content: "\e016";
}
/**
 * Stylesheet for font faces
 *
 * @package         NoNumber Framework
 * @version         13.7.8
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
.button-nonumber > a:after {
  font-family: 'NoNumber' !important;
  font-style: normal;
  speak: none;
  font-size: 16px !important;
  line-height: 14px;
  content: "\e000";
  margin-left: 4px;
  vertical-align: -3px;
}
.button-addtomenu > a:after {
  content: "\e001";
}
.button-adminbardocker > a:after {
  content: "\e002";
}
.button-advancedmodulemanager > a:after {
  content: "\e003";
}
.button-articlesanywhere > a:after {
  content: "\e004";
}
.button-betterpreview > a:after {
  content: "\e005";
}
.button-cachecleaner > a:after {
  content: "\e006";
}
.button-cdnforjoomla > a:after {
  content: "\e007";
}
.button-contenttemplater > a:after {
  content: "\e008";
}
.button-dbreplacer > a:after {
  content: "\e009";
}
.button-modalizer > a:after,
.button-modals > a:after {
  content: "\e00a";
}
.button-modulesanywhere > a:after {
  content: "\e00b";
}
.button-rereplacer > a:after {
  content: "\e00c";
}
.button-slider > a:after,
.button-sliders > a:after {
  content: "\e00d";
}
.button-snippets > a:after {
  content: "\e00e";
}
.button-sourcerer > a:after {
  content: "\e00f";
}
.button-taber > a:after,
.button-tabs > a:after {
  content: "\e010";
}
.button-timedstyles > a:after {
  content: "\e011";
}
.button-tooltips > a:after {
  content: "\e012";
}
.button-whatnothing > a:after {
  content: " ";
  width: 16px;
  display: inline-block;
}
.button-src-sourcetags > a:after {
  content: "\e013";
}
.button-src-nosourcetags > a:after {
  content: "\e014";
}
.button-src-tagstyle > a:after {
  content: "\e015";
}
.button-src-tagstylebrackets > a:after {
  content: "\e016";
}
.button_view_state {
  margin: 10px 0;
  background-image: url(../images/button_left.png) !important;
  float: left !important;
}
.button_view_state > div {
  float: left !important;
  height: 26px !important;
  background: url(../images/button_blank.png) no-repeat 100% 0;
}
.button_view_state > div > a {
  padding: 0 11px 0 5px;
  color: #999;
}
.button_view_state > div > a:before {
  font-family: 'NNIcoMoon';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 16px !important;
  line-height: 14px;
  content: "";
  margin-right: 5px;
  vertical-align: -3px;
}
.button_view_state.simple > div > a:before {
  content: "\e010";
}
.button_view_state.normal > div > a:before {
  content: "\e011";
}
.button_view_state.advanced > div > a:before {
  content: "\e012";
}
.view_state_0 .button_view_state.simple,
.view_state_1 .button_view_state.normal,
.view_state_2 .button_view_state.advanced {
  background-position: 0 100%;
}
.view_state_0 .button_view_state.simple > div,
.view_state_1 .button_view_state.normal > div,
.view_state_2 .button_view_state.advanced > div {
  background-position: 100% 100%;
}
.view_state_0 .button_view_state.simple > div > a,
.view_state_1 .button_view_state.normal > div > a,
.view_state_2 .button_view_state.advanced > div > a {
  color: #333;
}
.button_view_state > div > a:hover {
  color: #0B55C4;
}
