/*
 * @author ( Angie Radtke )
*/ /* not ready */
	/* ##########################  general  ########################### */
@font-face {
	font-family: 'Titillium Maps';
	src: url("../fonts/TitilliumMaps29L002.eot");
	src: local('Titillium Maps'), local('TitilliumMaps'),
		url("../fonts/TitilliumMaps29L002.otf") format("opentype"),
		url("../fonts/TitilliumMaps29L002.woff") format("woff");
}

body {
	background: #ccc;
	color: #333;
	font-family: arial, helvetica, sans-serif;
}

#all {
	color: #333;
	border: solid 0px;
	padding-top: 7px;
	background: #fff url(../images/personal/grey_bg.png) repeat-x
}

a:link,a:visited {
	color: #333
}

a:hover,a:active,a:focus {
	background: #990000;
	color: #FFF;
}

ul li a.u2:focus,p a.u2:active {
	background-color: #000;
	color: #FFF;
}

input:focus {
	border: solid 2px;
}

fieldset {
	border: solid 0px #ccc
}

.article-info {
	color: #444
}

.article-info dd span {
	color: #444;
	border-right: solid 0px;
	background: #eee
}

/* ##########################  back  ########################### */
#back {

}

/* ##########################  logo  ########################### */
#logo span {
	color: #fff
}

#all #header {
	padding-top: 2.8em;
}

.logoheader {
	background: #171818 URL(../images/personal/personal2.png) no-repeat top
		left;
	color: #fff;
	min-height: 159px;
	margin: 0em 10px 0 10px;
}

* html .logoheader {
	height: 168px;
}

h1#logo {
	font-family: 'Titillium Maps', Arial;
	padding: 1em 20px 20px 10px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 0;
}

h1#logo span {
	margin-top: 10px;
	text-transform: none;
}

#line {
	top: 110px
}

/* ##########################  header  ########################### */
#header {
	background: #fff;
}

/* ++++++++++++++  lists, skiplinks  ++++++++++++++ */
#header ul {
	width: 600px;
}

#header ul {
	max-width: 1030px;
	right: 10px
}

#header ul li a:link,#header ul li a:visited {
	background: #fff;
	color: #333;
	border: 0;
	border-left: solid 1px #eee;
}

#header ul li a:hover,#header ul li a:active,#header ul li a:focus {
	background: #990000;
	color: #fff;
}

#header ul li.active a:link,#header ul li.active a:visited {
	background: #222;
	color: #fff;
}

#header ul li.active a:hover,#header ul li.active a:active,#header ul li.active a:focus
	{
	background: #990000;
	color: #fff;
}

#header ul.skiplinks {
	width: 100%
}

.skiplinks,.skiplinks li {
	border: solid 0px #000;
}

.skiplinks li a.u2:active,.skiplinks li a.u2:focus {
	background: #990000 !important;
	color: #fff !important;
	border: solid 1px;
	top: 0
}

/* ++++++++++++++  fontsize  ++++++++++++++ */
#fontsize {
	background: #171818;
	color: #eee
}

#fontsize p a:link,#fontsize p a:visited {
	color: #eee
}

#fontsize p a:hover,#fontsize p a:active,#fontsize p a:focus {
	background: #900;
	color: #fff
}

#fontsize h3 {
	color: #fff;
}

/* ++++++++++++++  search  ++++++++++++++ */
#header form .inputbox {
	background: url(../images/header-bg.gif) repeat-x;
}

#header form .inputbox:focus {
	border: solid 2px #000;
}

#header form .button {
	border: solid 1px #ddd;
	background: #fff;
	color: #171818
}

/* ##########################  contentarea  ########################### */
#contentarea,#contentarea2 {
	background: #fff
}

/* ##########################  breadcrumbs  ########################### */
#breadcrumbs {
	color: #333;
}

#breadcrumbs span {
	color: #333;
}

#breadcrumbs span a:link,#breadcrumbs span a:visited {
	background: #fff;
	color: #333;
}

#breadcrumbs span a:hover,#breadcrumbs span a:active,#breadcrumbs span a:focus
	{
	background: #990000;
	color: #fff;
}

/* ##########################  navigation column  ########################### */
.module_content {
	border: solid 1px #ddd;
	/*background:#f8f8f8*/
}

.moduletable_js {
	border: solid 0px #ddd;
}

#right .moduletable_js {
	border: 0
}

#nav h3 {
	border-bottom: solid 1px #ddd;
	font-family: 'Titillium Maps', Arial;
}

h3.js_heading {
	border-bottom: solid 1px #ddd;
	color: #333 !important;
	background: #eee;
	font-family: 'Titillium Maps', Arial;
}

h3.js_heading span.backh {
	border: solid 0px #000
}

h3.js_heading span.backh1 {

}

h3.js_heading a {
	border: 0
}

h3.js_heading a img {
	border: 0
}

h3.js_heading a.opencloselink:hover,h3.js_heading a.opencloselink:active,h3.js_heading a.opencloselink:focus
	{
	background: none
}

#right h3 {
	color: #fff;
}

#right h3 span.backh {

}

#right h3 span.backh2 {
	background: #fff;
	color: #222;
	border-bottom: solid 1px #ddd
}

#right h3 span.backh3 {

}

h3.js_heading a:link,h3.js_heading a:visited,h3.js_heading a:hover,h3.js_heading a:active,h3.js_heading a:focus
	{

}

#nav h3.js_heading a:focus {

}

#nav form {
	color: #000;
}

#nav form a:hover,#nav form a:active,#nav form a:focus {
	color: #fff;
	background: #990000;
	text-decoration: none
}

/* ++++++++++++++  first level  ++++++++++++++ */
#nav .moduletable-example ul.menu {
	background: #fff;
	border: 0;
}

ul.menu {
	border: 0;
	background: #fff /* url(../images/nature/nav_level_1.gif) repeat-x */;
	border: solid 0px #eee;
}

.module_content ul.menu {
	border: 0;
}

ul.menu li {
	border-bottom: solid 1px #ddd;
}

ul.menu li a {

}

ul.menu li a:link,ul.menu li a:visited {
	color: #444;
	background: url(../images/nature/karo.gif) 5px 12px no-repeat
}

ul.menu li.active a:link,ul.menu li.active a:visited {
	color: #444;
}

ul.menu li a:hover,ul.menu li a:active,ul.menu li a:focus,ul.menu li.active a:hover,ul.menu li.active a:active,ul.menu li.active a:focus
	{
	background: #990000;
	color: #fff;
}

/* ++++++++++++++  second level  ++++++++++++++ */
ul.menu li ul {
	border: solid 0px #eee;
}

ul.menu li ul li {
	border: solid 0px #000;
	background: #fff;
}

ul.menu li.active ul li a:link,ul.menu li.active ul li a:visited {
	color: #000;
	border: 0;
	border-bottom: solid 1px #fff;
	background: #e8e8e8;
}

ul.menu li.active ul li.active a:link,ul.menu li.active ul li.active a:visited
	{
	border: 0;
	color: #333;
	border-bottom: solid 1px #fff;
}

ul.menu li.active ul li a:hover,ul.menu li.active ul li a:active,ul.menu li.active ul li a:focus
	{
	background: #990000 !important;
	color: #fff !important;
}

/* ++++++++++++++  third level  ++++++++++++++ */
ul.menu li ul li ul {
	border: 0 !important;
	background: #f5f5f5 !important;
}

ul.menu li.active ul li.active ul li a:link,ul.menu li.active ul li.active ul li a:visited
	{
	background: #f5f5f5;
	border-bottom: solid 1px #fff;
	color: #444
}

ul.menu li.active ul li.active ul li.active a:link,ul.menu li.active ul li.active ul li.active a:visited
	{
	color: #333;
}

/* ++++++++++++++  fourth level  ++++++++++++++ */
ul.menu li ul li ul li ul {
	border: solid 1px #eee !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	background: #fff url(../images/nature/level4.png) repeat-x !important;
}

ul.menu li.active  ul li.active  ul li.active  ul li  a:link,ul.menu li.active  ul li.active  ul li.active  ul li a:visited
	{
	font-weight: normal;
	padding: 3px 2px 3px 40px;
	font-size: 0.9em;
	background: #fff url(../images/nature/arrow_small.png) no-repeat 30px
		5px;
	color: #444
}

ul.menu li.active  ul li.active  ul li.active  ul li.active  a:link,ul.menu li.active  ul li.active  ul li.active  ul li.active a:visited
	{
	font-weight: bold
}

/* ##########################  content - main   ########################### */
#main {

}

#main a:link,#main a:visited {

}

#main a:hover,#main a:active,#main a:focus {
	background: #990000;
	color: #fff;
}

#main th a:hover,#main th a:active,#main th a:focus {
	background: #333;
	color: #fff;
}

.items-row {
	background: #fff
}

.items-row h2 {
	border-bottom: solid 1px #ddd;
	border-top: solid 1px #ddd;
	color: #000
}

.column-1,.column-2 {
	border: solid 0px;
}

.item-separator {
	border: solid 0px #333333;
}

#main ul li {

}

.small {
	border: solid 0;
}

ul#archive-items li {
	border-bottom: solid 1px #ddd
}

/* ++++++++++++++  images  ++++++++++++++ */
.image-left {
	border: solid 1px #ddd;
	padding: 2px
}

.image-right {
	border: solid 1px #ddd;
	padding: 2px
}

/* ++++++++++++++  leading  ++++++++++++++ */
.items-leading {

}

/* ++++++++++++++++++++ headings +++++++++++++ */
#main h1 {
	color: #444;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	font-family: 'Titillium Maps', Arial;
}

/* h1 on frontpage */
#main .blog-featured h1 {
	border-top: solid 0px #ddd;
	border-bottom: solid 0px #ddd;
}

.items-row h2 {
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}

.items-leading h2 {
	color: #333;
}

#main h2 {
	color: #333;
	font-family: 'Titillium Maps', Arial;
}

#main h2 a {
	color: #333
}

/* ++++++++++++++  readmore  ++++++++++++++ */
.readmore a:link,.readmore a:visited,a.readmore:link,a.readmore:visited
	{
	color: #444;
	background: #eee url(../images/nature/arrow1.gif) repeat-x left top;
	border: solid 1px #ddd;
}

.readmore a:hover,.readmore a:active,.readmore a:focus,a.readmore a:hover,a.readmore a:active,a.readmore a:focus
	{
	background: #555 url(../images/nature/arrow2.gif) no-repeat left 6px
		!important;
	color: #fff;
}

a.readmore:hover,a.readmore:active,a.readmore:focus {
	background: #555;
	color: #fff;
}

/* ++++++++++++++  icons  ++++++++++++++ */
.actions img {
	border: 0;
}

/* ++++++++++++++  items-more  ++++++++++++++ */
#main .items-more h3 {
	border-bottom: solid 1px #ddd;
	border-top: solid 1px #ddd;
	color: #444;
}

#main .items-more ol {
	color: #000;
}

#main .items-more ol li a {
	background: #FFFFFF url(../images/personal/arrow2_grey.png) no-repeat
		0px center;
	color: #990000
}

#main .items-more ol li a:hover,#main .items-more ol li a:active,#main .items-more ol li a:focus
	{
	background: #990000;
	color: #fff;
}

/* ++++++++++++++  pagination  ++++++++++++++ */
#main .pagination {
	border-top: solid 1px #ddd;
}

/* ++++++++++++++  article index  ++++++++++++++ */
table.contenttoc {
	border: solid 1px #ccc;
}

/* ##########################  right column   ########################### */
#right {
	border: solid 0px #e6e6e6;
	background: #fff
}

#right .moduletable {
	color: #000;
	border: solid 0px #ccc
}

#right h3 {

}

#right h4 {
	color: #000;
	border: solid 0;
}

#right ul {
	border: solid 0 #ccc;
	color: #000;
}

#right ul li a:link,#right ul li a:visited {
	color: #000;
}

#right ul li a:hover,#right ul li a:active,#right ul li a:focus {
	background: #990000;
	color: #fff;
}

/* ++++++++++++++  button for closing right column  ++++++++++++++ */
#close span {
	color: #000;
}

/* ##########################  modules  ########################### */
	/* ++++++++++++++  mostread, latest news ++++++++++++++ */
.mostread li a:link,.mostread li a:visited,.latestnews li a:link,.latestnews li a:visited
	{
	background: url(../images/personal/arrow2_grey.png) 2px 7px no-repeat;
}

.mostread li a:hover,.latestnews li a:hover,.mostread li a:active,.latestnews li a:active,.mostread li a:focus,.latestnews li a:focus
	{
	background: #555 url(../images/arrow_white_grey.png) 2px 7px no-repeat
		!important;
}

/* ++++++++++++++  newsfeed  ++++++++++++++ */
ul.newsfeed {
	border: solid 0px #000;
}

.newsfeed-item {
	border-bottom: solid 1px #ddd;
}

.newsfeed-item h5 a {

}

/* ++++++++++++++  newsflash  ++++++++++++++ */
	/* newsflash horizontal */
ul.newsflash-horiz {
	background: #F5F5F5 url(../images/nature/box.png) repeat-x;
	border: 1px solid #EEEEEE;
}

ul.newsflash-horiz li {
	border: solid 0px #eee;
	background: #f5f5f5;
}

ul.newsflash-horiz li h4 {
	font-family: 'Titillium Maps', Arial;
}

/* newsflash vertical */
.newsflash-vert {

}

/* ++++++++++++++  banner  ++++++++++++++ */
.banneritem {
	border: 0
}

.banneritem a {
	background: none
}

.banneritem a img {
	background: none;
	border: 0
}

/* ++++++++++++++  login  ++++++++++++++ */
fieldset.input {
	border: 0;
}

input.button,button.button { /* background:#990000 ;
        color:#fff;*/
	background: #FFFFFF url(../images/nature/arrow1.gif) no-repeat left top;
	border: 1px solid #DDDDDD;
	color: #444444;
}

/* ++++++++++++++  tabs/ slide  ++++++++++++++ */
ul.tabs {
	border: solid 1px #ddd;
	border-bottom: 0;
	background: #f5f5f5 url(../images/nature/box.png) repeat-x;
}

ul.tabs li {
	background: #f5f5f5 url(../images/nature/box.png) repeat-x;
	border-right: solid 1px #ddd
}

ul.tabs li a:link,ul.tabs li a:visited {
	color: #333;
}

ul.tabs li a:hover,ul.tabs li a:active,ul.tabs li a:focus {
	color: #000
}

.tabcontent {
	border: solid 1px #ddd;
	background: #fff;
	color: #000;
}

.tabcontent .linkclosed {
	color: #000;
	border-bottom: solid 1px #e5e5e5;
}

ul.tabs li a.linkopen {
	background: #fff;
	color: #333;
	border: 0
}

ul.tabs li a.linkclosed:hover,ul.tabs li a.linkclosed:active,ul.tabs li a.linkclosed:focus,ul.tabs li a.linkopen:hover,ul.tabs li a.linkopen:active,ul.tabs li a.linkopen:focus
	{
	background: #555;
	color: #fff
}

/* ++++++++++++++  category-module  ++++++++++++++ */
#right .category-module h4 a:link,#right .category-module h4 a:visited {
	color: #330000
}

#right .category-module h4 a:hover,#right .category-module h4 a:active,#right .category-module h4 a:focus
	{
	color: #fff
}

.category-module li {
	border-bottom: solid 1px #ddd;
}

.category-module li li {
	border: 0
}

/* ##########################  search   ########################### */
.searchintro img {
	border: 0px
}

.inputbox:focus {
	border: solid 2px #000;
}

.word {
	background: #fff;
	border: solid 0px #ccc;
}

.word input {
	background: #fff;
	border: solid 1px #999;
	color: #333;
}

.only {
	border: solid 1px #ccc;
}

.phrases {
	color: #000;
	border: solid 1px #ccc;
}

/* ++++++++++++++  selects  ++++++++++++++ */
.phrases .inputbox {
	background: #fff;
	color: #000;
}

.phrases .inputbox option {
	background: #f5f5f5;
	border-bottom: solid 1px #ccc;
}

.phrases .inputbox option a:hover {
	background: #C00;
	border-color: #CFD0D6;
	color: #fff;
}

/* ++++++++++++++   search results    ++++++++++++++++++ */
dl.search-results {
	background: #f5f5f5;
}

dl.search-results dt.result-title {
	border-top: dotted 1px #ddd
}

dl.search-results dd.result-created {
	border-bottom: solid 5px #fff;
}

/* ##########################  forms   ########################### */
	/* ++++++++++++++  form validation  ++++++++++++++ */
.invalid {
	border-color: red !important;
}

label.invalid {
	color: red;
}

/* ##########################  user profile  ########################### */
#users-profile-core,#users-profile-custom {
	border: solid 1px #ccc;
}

#member-profile fieldset {
	border: solid 1px #ccc;
}

/* ##########################  tables   ########################### */
table {
	border: solid 1px #ddd
}

tbody {

}

tr.odd,.cat-list-row1 {
	background: url(../images/news.gif) repeat-x;
}

table.newsfeeds td,table.weblinks td {

}

table.weblinks th,table.newsfeeds th,table.category th,table.jlist-table th
	{
	background: #444;
}

table.weblinks th a,table.newsfeeds th a,table.category th a,table.jlist-table th a
	{
	color: #fff
}

td.table_footer {
	background: #ddd url(../images/table_footer.gif) bottom left repeat-x;
}

td.counter {

}

td.num,td.hits {

}

td p {

}

table.category th a img {
	border: solid 0px;
}

/* for opera */
tr,td {
	border: solid 1px #ddd
}

fieldset.filters {
	border: 0;
}

/* ##########################  contacts   ########################### */
.contact form {
	background: #fff;
	color: #000;
}

.contact input {
	background: #fff;
	color: #000;
}

.contact .button {

}

.contact input.invalid,.contact textarea.invalid {
	border: solid 2px red;
}

.contact label.invalid {
	color: red;
}

/* ++++++++++++++  Error Message contact form  ++++++++++++++ */
p.error {
	color: #044b63;
	background: #eee;
	border-top: 3px solid #044b63;
	border-bottom: 3px solid #044b63;
}

body.contentpane {
	background: #fff;
}

/* ##########################  footer   ########################### */
#footer { /*  background:url(../images/footer_bg.gif) repeat-x;*/
	background: #333333 url(../images/personal/tabs_back.png) repeat-x;
	color: #fff;
	border-top: solid 0px #ccc;
}

#footer-inner {
	background: #f5f5f5 url(../images/personal/footer.jpg) repeat-x left
		bottom;
	border-top: solid 1px #ddd
}

#footer a {
	color: #fff;
}

#bottom a img {
	border: 0
}

.box h3 {
	font-family: 'Titillium Maps', Arial;
}

/* ##########################  editor  ########################### */
.contentpaneopen_edit img {
	border: 0
}

form.editor fieldset {
	border: solid 1px #ccc;
}

/* ++++++++++++++  edit  ++++++++++++++ */
form#adminForm {
	border: solid 0px #000
}

form#adminForm fieldset {
	border: solid 1px #ddd
}

/* ++++++++++++++  tooltip  ++++++++++++++ */
.tip {
	border: solid 1px #333;
	background: #ffffcc;
}

/*-------------------------------*/
.australia {
	background: #f5f5f5 url(../images/nature/koala.png) top right no-repeat;
	border: solid 1px #ddd
}

.australia h3 {
	font-family: 'Titillium Maps', Arial;
}

table.pagenav,table.pagenav tr,table.pagenav td {
	border: 0 !important
}

/* ++++++++++++++  flashupload  ++++++++++++++ */
.hide {
	display: none;
}