/**



 * @author ( Angie Radtke )

 * @package Joomla

 * @subpackage Accessible-Template-Beez

 * @copyright Copyright (C) 2005 - 2009 Open Source Matters. All rights reserved.

 * @license GNU/GPL, see LICENSE.php

 * Joomla! is free software. This version may have been modified pursuant to the

 * GNU General Public License, and as distributed it includes or is derivative

 * of works licensed under the GNU General Public License or other free or open

 * source software licenses. See COPYRIGHT.php for copyright notices and

 * details.

 */



/* not ready */



*

{

        margin: 0;

        padding: 0;

}



body

{

    font-size: 100.01%;

    padding: 0px;

    text-align: center;

    position:relative;

}



/* ###################### general ###################### */

#all

{

    margin: 0 auto;

    max-width:970px;

    padding: 0px;

    text-align: left;

}



#header

{

    display:block !important;

    position:relative;

    padding:0px;

    overflow:hidden;

}



#back

{

        margin: 0;

        padding:0px;

}



#contentarea,

#contentarea2

{

    position:relative;

    overflow:hidden;

    padding:0px 10px !important;

    margin:0;



}



#wrapper

{

        width:99%;

        float:left;

        position:relative;

        padding-right:10px;



}



#wrapper2

{

    width:72%;

    float:left;

    position:relative;

 



}

#wrapper2 .item-page

{

/*    max-width:660px */

}

#main

{

    padding: 10px 0px 20px 0px;

    position: relative;

    min-height:420px;

}



#right

{
/*
    float:right;

    width: 33%;

    margin:0px;

    padding:0px;

    position:relative;*/
    display:none;

}



.unseen,

.hidelabeltxt

{

    display: inline;

    height: 0px;

    left: -3000px;

    position: absolute;

    top: -2000px;

    width: 0px;

}



/* ++++++++++++++  nav after content  ++++++++++++++ */

.left

{

        padding-top:0px;

        float:right;

        margin:10px 0px 10px 0%;

        width: 22%;

        position:relative;



}



/* ++++++++++++++  nav before content  ++++++++++++++ */

.left1

{

    padding:0px 0 0 0px;

    float: left;

    margin:10px 3% 10px 0px;

    width: 21%;

    position:relative

}



.leftbigger

{

     width:25%

}





/* ###################### header ###################### */



.skiplinks,

.skiplinks li

{

    display: inline;

    height: 0px;

    line-height:0;

    padding:0 !important;

}



.skiplinks li a.u2

{

    display: inline;

    height: 0px;

    left: -3000px;

    position: absolute;

    top: -2000px;

    width: 0px;



}



.skiplinks li a.u2:active,

.skiplinks li a.u2:focus

{

    position:absolute;

    width:13em;

    top:10px;

    left:10px;

    line-height:1.5em;

    padding:5px;

    font-weight:bold;

    height:3em;



}



.wrap

{

    border: 0;

    clear: both;

    float: none;

    font-size: 1px;

    height: 0;

    line-height: 1px;

    margin: 0;

    padding: 0;

    visibility: hidden;

}



h1#logo

{

        font-size:3.5em;

        line-height:1.0em;

}



#logo

{

       /*  margin-top:0.6em;

        margin-left:10px;

        position:absolute;

        display:block;

        padding:20px 20px 20px 10px;

        width:425px;

        padding-top:0.6em;

        font-weight:normal;

        line-height:1em;

        font-size:3em;*/

}



#logo img

{

        display: block;

}



#logo span

{

        padding-left:2px

}



#logo span.header1

{

        font-size:0.4em;

        display:block;

        top:0em;

        line-height:0.8em

}



.logoheader

{

        margin:0;

        padding:0;

        text-align:left;

        font-weight:normal;

        line-height:1.5em;

        min-height:105px;



}



#line

{       padding:5px 0px 2px 2px;

        position:absolute;

        right :20px;

        top:5em;

        max-width:38em;



}





/* ++++++++++++++  button for closing right column  ++++++++++++++ */



#close

{display: none

}

/*

{

        margin-right:0px;

        font-size:0.85em;

        text-transform:uppercase;

}



#close span

{

    position:absolute;

    right: 20px;

    z-index:10000;

    top:5px;

    width:7em;

    font-weight:bold;

    text-align:right;

    line-height:1.5em;

    padding:5px 2px 5px 5px

}

*/

/* ###################### main ###################### */



/* ++++++++++++++  position  ++++++++++++++ */



.blog-featured

{

        padding: 0;

}



.items-leading

{

        padding:0px 5px 10px 5px;

        overflow:hidden;

        margin-bottom:10px

}



.row-separator

{

        display: block;

        clear: both;

        margin: 0;

        border: 0px;

        height:1px

}



.item-separator

{

        display: none;

        margin: 0px;

}



.shownocolumns

{

        width:98% !important;

}



#top

{

        margin:0 0 20px 0;

        overflow:hidden

}



/* ++++++++++++++  blog  ++++++++++++++ */



.cols-1

{

        display: block;

        float: none !important;

        margin: 0 !important;

}



.cols-2 .column-1

{

        width:46%;

        float:left;

}



.cols-2 .column-2

{

        width:46%;

        float:right;

        margin:0

}



.cols-3 .column-1

{

        float:left;

        width:29%;

        padding:0px 5px;

        margin-right:4%



}

.cols-3 .column-2

{

        float:left;

        width:29%;

        margin-left:0;

        padding:0px 5px

}

.cols-3 .column-3

{

        float:right;

        width:29%;

        padding:0px 5px

}



.items-row

{

        overflow:hidden;

        margin-bottom:10px !important;

}



.column-1,

.column-2,

.column-3

{

        padding:10px 5px

}



.column-2

{

        width:55%;

        margin-left:40%;

}



.column-3

{

        width:30%

}



.blog-more

{

        padding:10px 5px

}



/* ++++++++++++++  footer  ++++++++++++++ */



#bottom

{

        overflow:hidden

}



.box

{

        width:27%;

        float:left;

        margin-right:10px;

}



.box1

{

        width:35%

}



.box2

{

        width:32%

}



.box3

{

        float:right

}



#footer-inner

{

        max-width:1025px;

        margin:0 auto;

        font-size:0.8em;

        padding:10px 15px 15px 10px;





}