/**
* @version   $Id: tabs.css 4028 2012-10-01 16:04:33Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Tabs Core */
.sprocket-tabs {position: relative;overflow: hidden;}
.sprocket-tabs:before, .sprocket-tabs:after {display: table;content: "";*zoom: 1;}
.sprocket-tabs:after {clear: both;}

/* Tabs Nav */
.sprocket-tabs-nav {margin: 0;padding: 0;list-style: none !important;position: relative;z-index: 2;}
.sprocket-tabs-nav {*zoom: 1;}
.sprocket-tabs-nav:before, .sprocket-tabs-nav:after {display: table;content: "";}
.sprocket-tabs-nav:after {clear: both;}
.sprocket-tabs-nav li {float: left;margin-right: 5px;}
.sprocket-tabs-nav > li {margin-bottom: -1px;}
.sprocket-tabs-nav > li > .sprocket-tabs-inner {display: block;}
.sprocket-tabs-nav > .active > a {cursor: default;}
.sprocket-tabs-nav li .sprocket-tabs-inner {cursor: pointer;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;display: block;padding: 10px 14px;line-height: 1.2em;font-size: 110%;}
.sprocket-tabs-nav .dropdown-menu {margin-top: 1px;border-width: 1px;}
.sprocket-tabs-nav .sprocket-tabs-icon {float: left;margin-right: 5px;}
.layout-top .sprocket-tabs-nav {padding: 10px 5px 15px 5px !important;margin-bottom: 20px;}

/* Tabs Nav - Layout Bottom */
.layout-bottom .sprocket-tabs-nav {border-bottom: 0;padding: 0 5px 5px 5px !important;}
.layout-bottom .sprocket-tabs-nav > li {margin-top: -1px;margin-bottom: 0;}
.layout-bottom .sprocket-tabs-nav > li > .sprocket-tabs-inner {-webkit-border-radius: 0 0 4px 4px;-moz-border-radius: 0 0 4px 4px;border-radius: 0 0 4px 4px;}

/* Tabs Nav - Layout Left / Right  */
.layout-left .sprocket-tabs-nav, .layout-right .sprocket-tabs-nav {border-bottom: 0;}
.layout-left .sprocket-tabs-nav {float: left;margin-right: 20px;padding: 5px 0 5px 5px !important;}
.layout-right .sprocket-tabs-nav {float: right;margin-left: 20px;padding: 5px 5px 5px 0 !important;}
.layout-left .sprocket-tabs-nav > li, .layout-right .sprocket-tabs-nav > li {float: none;}
.layout-left .sprocket-tabs-nav > li > .sprocket-tabs-inner, .layout-right .sprocket-tabs-nav > li > .sprocket-tabs-inner {min-width: 70px;margin-right: 0;margin-bottom: 0;}
.layout-left .sprocket-tabs-nav > li > .sprocket-tabs-inner {margin-right: -1px;-webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;border-radius: 4px 0 0 4px;}
.layout-right .sprocket-tabs-nav > li > .sprocket-tabs-inner {margin-left: -1px;-webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;}

/* Tabs Content */
.sprocket-tabs-panels > .sprocket-tabs-panel {position: absolute;opacity: 0;height: 0;width: 0;visibility: hidden;-webkit-transform: translateZ(0); -webkit-font-smoothing: subpixel-antialiased;}
.sprocket-tabs-panels > .sprocket-tabs-panel.active {position: static;opacity: 1;height: auto;width: 100%;visibility: visible;}
.layout-top.animation-slideandfade .sprocket-tabs-panel, .layout-bottom.animation-slideandfade .sprocket-tabs-panel {margin-left: 200px;}
.layout-top.animation-slideandfade .sprocket-tabs-panel.active, .layout-bottom.animation-slideandfade .sprocket-tabs-panel.active {margin-left: 0;}
.layout-left.animation-slideandfade .sprocket-tabs-panel, .layout-right.animation-slideandfade .sprocket-tabs-panel {margin-top: -200px;}
.layout-left.animation-slideandfade .sprocket-tabs-panel.active, .layout-right.animation-slideandfade .sprocket-tabs-panel.active {margin-top: 0;}

/* Tabs - Colors */
.sprocket-tabs-nav {border-bottom: 1px solid #ddd;}
.layout-bottom .sprocket-tabs-nav {border-top: 1px solid #ddd;}
.layout-bottom .sprocket-tabs-nav li.active > .sprocket-tabs-inner, .layout-bottom .sprocket-tabs-nav li.active > .sprocket-tabs-inner:hover {border-color: transparent #ddd #ddd #ddd;}
.layout-bottom .sprocket-tabs-nav > li > .sprocket-tabs-inner:hover {border-bottom-color: transparent;border-top-color: #ddd;}
.layout-left .sprocket-tabs-nav {border-right: 1px solid #ddd;}
.layout-right .sprocket-tabs-nav {border-left: 1px solid #ddd;}
.layout-left .sprocket-tabs-nav li.active > .sprocket-tabs-inner, .layout-left .sprocket-tabs-nav li.active > .sprocket-tabs-inner:hover {border-color: #ddd transparent #ddd #ddd;*border-right-color: #ffffff;}
.layout-right .sprocket-tabs-nav li.active > .sprocket-tabs-inner, .layout-right .sprocket-tabs-nav li.active > .sprocket-tabs-inner:hover {border-color: #ddd #ddd #ddd transparent;*border-left-color: #ffffff;}

/* Transitions */
.sprocket-tabs-nav li .sprocket-tabs-inner {transition: background 0.1s ease-in;-webkit-transition: background 0.1s ease-in;-moz-transition: background 0.1s ease-in;-o-transition: background 0.1s ease-in;}
.animation-slideandfade .sprocket-tabs-panel.active {-webkit-transition: margin 0.3s ease-out, opacity 0.4s ease-in;-moz-transition: margin 0.3s ease-out, opacity 0.4s ease-in;-o-transition: margin 0.3s ease-out, opacity 0.4s ease-in;transition: margin 0.3s ease-out, opacity 0.4s ease-in;}
.animation-fade .sprocket-tabs-panel.active {-webkit-transition: opacity 0.4s ease-in;-moz-transition: opacity 0.4s ease-in;-o-transition: opacity 0.4s ease-in;transition: opacity 0.4s ease-in;}
