/**
 * DB Replacer Admin CSS
 *
 * @package     DB Replacer
 * @version     1.3.2
 *
 * @author      Peter van Westen <peter@nonumber.nl>
 * @link        http://www.nonumber.nl
 * @copyright   Copyright © 2011 NoNumber! All Rights Reserved
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

div.dbr_select {
	float: left;
}
	div.dbr_select select {
		width: 400px;
		height: 100px;
	}
	fieldset.adminform textarea.dbr_element {
		width: 398px;
		height: 60px;
	}
	fieldset.adminform textarea.dbr_element_full {
		width: 830px;
		height: 40px;
	}
div.dbr_100 {
	width: 864px;
}
div.dbr_50 {
	width: 432px;
}
td.db_value {
	vertical-align: top;
	font-family: monospace;
	font-size: 12px;
}
th.ghosted,
td.ghosted {
	color: #AAAAAA;
}
td.has_search {
	background-color: #FFFFDD !important;
}
	span.search_string {
		padding: 0 1px;
		background-color: #FFDDDD;
		border: 1px dashed #CC3333;
		color: #CC3333;
		text-decoration: line-through;
	}
	span.replace_string {
		padding: 0 1px;
		background-color: #DDFFDD;
		border: 1px dashed #339933;
		color: #339933;
	}
div#dbr_rows {
	min-width: 832px;
	min-height: 20px;
}
span.null {
	font-style: italic;
	color: #CCCC99;
}


.icon-48-dbreplacer {
	background: transparent url(../images/dbreplacer.png) no-repeat 10px 9px !important;
	padding-left: 154px !important; /* width + 20 */
}

/* AP template */
#ap-wrapper .icon-48-dbreplacer {
	background: transparent url(../images/dbreplacer.png) no-repeat 10px 13px !important;
	padding-left: 154px; /* width + 20 */
	font-size: 22px ;
	color: #000000;
}

/* APLite template */
.ap-main .icon-48-dbreplacer {
	background: #FFFFFF url(../images/dbreplacer.png) no-repeat -27px -7px !important;
	padding-left: 114px !important; /* width - 20 */
	padding-right: 5px !important;
	color: #000000 !important;
}