@charset "UTF-8";
/* CSS Document */

.off{
			visibility: hidden;
		}
		.on {
			visibility: visible;
		}	
	
   /* Resets: see reset.css for details */
        .ReadMsgBody { width: 100%; background-color: #ebebeb;}
        .ExternalClass {width: 100%; background-color: #ebebeb;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {margin:0; padding:0;}
        table {border-spacing:0;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}
		
		body {
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
		font-size:18px;
		color:#444444;
		}
		table {
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
		}
		body[yahoo] .email {
		height:36px; 
		width:90%; 
		max-width:522px; 
		font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; 
		font-size:36px;
		color:#777777;
			
		}
		body[yahoo] .bodyarea {
height:400px;	
padding-right:100px;
padding-left:100px;
background-color:#ffffff;

}
		#magglasslabel {
			position:relative; 
			width:200px; 
			top:50px; 
			float:left;
			z-index:20;
		}
		#magglass {
		position:relative;
		top:-100px;	
		z-index:19;
		}
		#boywill {
		margin-right:20px;
		width:300px;
		margin-bottom:0px;
		margin-top:0px;
		margin-left:0px;	
		float:left;
		}
		#redbannerright {
		margin-left:20px;
		width:300px;
		margin-bottom:0px;
		margin-top:0px;
		margin-right:0px;	
		float:right;
		}
		#redbannerleft {
		margin-left:0px;
		width:300px;
		margin-bottom:0px;
		margin-top:20px;
		margin-right:20px;	
		float:left;
		}
		#increase {
		margin-left:20px;
		width:300px;
		margin-bottom:0px;
		margin-top:20px;
		margin-right:0px;	
		float:right;
		}
			#chicagonews {
		margin-right:0px;
		width:300px;
		margin-bottom:0px;
		margin-top:0px;
		margin-left:20px;	
		float:right;
		}
		
		.darkred {
		color:#67251f;	
		}
		
		.subhead {
		font-size:1.2em;	
		font-weight:bold;
		
		}
		 /* Constrain email width for small screens */
        @media screen and (max-width: 599px) {
      	#boywill {
		margin-right:0px;
		margin-bottom:20px;
		margin-top:0px;
		margin-left:0px;	
		float:none;
		width:100%;
		}
			#increase {
		margin-left:0px;
		width:100%;
		margin-bottom:20px;
		margin-top:0px;
		margin-right:0px;	
		float:none;
		}
			#redbannerleft {
		margin-left:0px;
		width:100%;
		margin-bottom:20px;
		margin-top:0px;
		margin-right:0px;	
		float:none;
		}
			#redbannerright {
		margin-left:0px;
		width:100%;
		margin-bottom:20px;
		margin-top:0px;
		margin-right:0px;	
		float:none;
		}
		#chicagonews {
		margin-right:0px;
		margin-bottom:20px;
		margin-top:0px;
		margin-left:0px;	
		float:none;
		width:100%;
		}
		 #magglasslabel {
			width:100%;
			top:0px;
			float:none; 
		 }
		 #magglass {
		position:relative;
		top:0px;
		}
		   /* [class="container"] */ 
		   
			body[yahoo] table {
                width: 95% !important;
				float:none;
				height:auto;
				
            }
			body[yahoo] img {
			float:none;	
			}
			body[yahoo] .mobilepic {
				width:100%;
				height:auto;
			}
			body[yahoo] .mobilepic95 {
			width:95%;	
			}
			body[yahoo] .hidepic {
			display:none;	
			float:none;
			}
			
			body[yahoo] .block {
			width:90%;	
			}
			
			body[yahoo] hr {
			width:95%;	
			}
			body[yahoo] .headline {
			font-size:18px;	
			}
			body[yahoo] .headline2 {
			font-size:24px;	
			}
			body[yahoo] .subhead {
font-size:15px;	
}
body[yahoo] .masthead {
zoom:150%;	
}
body[yahoo] #mastheadcontainer {
overflow:hidden;
width:auto;
padding-bottom:20px;
position:relative;
left:10px;
}
body[yahoo] .bodyarea {
height:400px;	
padding-left:10px;
padding-right:10px;
}

        }
	

        /* Give content more room on mobile */
        @media screen and (max-width: 480px) {
            body[yahoo] td[class="container-padding"] {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
			body[yahoo] img {
			float:none;	
			}
			body[yahoo] .hidepic {
			display:none;	
			}
        }


        /* Styles for forcing columns to rows */
        @media only screen and (max-width : 600px) {

            /* force container columns to (horizontal) blocks */
            body[yahoo] td[class="force-col"] {
                display: block;
                padding-right: 0 !important;
            }
            body[yahoo] table[class="col-3"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 100% !important;

                /* change left/right padding and margins to top/bottom ones */
                margin-bottom: 12px;
                padding-bottom: 12px;
                border-bottom: 1px solid #eee;
            }

            /* remove bottom border for last column/row */
            body[yahoo] table[id="last-col-3"] {
                border-bottom: none !important;
                margin-bottom: 0;
            }

            /* align images right and shrink them a bit */
            body[yahoo] img[class="col-3-img"] {
                float: right;
                margin-left: 6px;
                max-width: 130px;
            }
			body[yahoo] img {
			float:none;	
			}
			body[yahoo] .hidepic {
			display:none;	
			}