/**
 * Cache Cleaner stylesheet
 *
 * @package			Cache Cleaner
 * @version			1.11.3
 *
 * @author			Peter van Westen <peter@nonumber.nl>
 * @link			http://www.nonumber.nl
 * @copyright		Copyright © 2011 NoNumber! All Rights Reserved
 * @license			http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

span.nn_status.cachecleaner_status a.nn_status_link span.nn_status_text {
	background-image: url(../images/icon.png);
}
#mc-status span.nn_status.cachecleaner_status a.nn_status_link span.nn_status_text {
	background-image: url(../images/icon2.png);
}

/* message */
#cachecleaner_msg,
#cachecleaner_msg.visible {
	display: none;
}
body>#cachecleaner_msg {
	position: fixed;
	top: 0;
	right: 0;
	padding: 5px 20px;
	width: 100%;
	height: 16px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666666;
	z-index: 200;
}
body>#cachecleaner_msg a {
	color: #CCCCCC;
}
body>#cachecleaner_msg.visible {
	display: inline;
}
body>#cachecleaner_msg.success {
	background-color: #4e8858;
}
body>#cachecleaner_msg.warning {
	background-color: #ba8045;
}
body>#cachecleaner_msg.failure {
	background-color: #884e4e;
}
body>#cachecleaner_msg img {
	vertical-align: sub;
}