/**
 * Articles Anywhere editor button stylesheet
 *
 * @package         Articles Anywhere
 * @version         3.1.6a
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

.button2-left div.articlesanywhere {
	background: transparent url(../images/button_right.png) no-repeat 100% 0;
}
.button2-left .blank.blank_articlesanywhere a {
	padding: 0 6px;
}
