/**
 * DB Replacer Admin CSS
 *
 * @package         DB Replacer
 * @version         3.0.8
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.dbr_select {
  float: left;
  width: 100%;
}
div.dbr_select fieldset.adminform select,
div.dbr_select fieldset.adminform textarea {
  width: 100%;


  height: 40px;

}
div.dbr_select fieldset.adminform textarea {
  width: 98%;
}
div.dbr_tables fieldset.adminform select {
  height: 340px;
}
div.dbr_columns fieldset.adminform select {
  height: 320px;
}
td.db_value {
  vertical-align: top;
  font-family: monospace;
  font-size: 12px;
}
table.adminlist thead th.ghosted,
table.adminlist thead td.ghosted {
  color: #AAAAAA;
}
td.has_search {
  background-color: #fcf8e3 !important;
}
span.search_string {
  padding: 0 1px;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  color: #b94a48;
  text-decoration: line-through;
}
span.replace_string {
  padding: 0 1px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #468847;
}
div#dbr_rows {
  min-width: 832px;
  min-height: 20px;
}
span.null {
  font-style: italic;
  color: #CCCC99;
}
.icon-48-dbreplacer {
  background: transparent url(../images/dbreplacer.png) no-repeat 10px 9px !important;
  padding-left: 183px !important;
  /* width + 20 */

}
/* AP template */
#ap-wrapper .icon-48-dbreplacer {
  background: transparent url(../images/dbreplacer.png) no-repeat 10px 13px !important;
  padding-left: 183px;
  /* width + 20 */

  font-size: 22px;
  color: #000000;
}
/* APLite template */
.ap-main .icon-48-dbreplacer {
  background: #ffffff url(../images/dbreplacer.png) no-repeat -27px -7px !important;
  padding-left: 143px !important;
  /* width - 20 */

  padding-right: 5px !important;
  color: #000000 !important;
}
