/**
* @version   $Id: error.less 2970 2012-08-31 22:45:34Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

.rt-error-content {
	margin-top: 15px;
}
.unsupported {
	color: @white;
	h1, a:hover {
		color: @white;
	}
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	.error-title {
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.error-title {
		font-size: 1.8em;
	}
}

@media only screen and (max-width: 480px) {
	.error-title {
		font-size: 1.6em;
	}
}