/**
* @version   $Id: joomla-core.less 3109 2012-09-03 17:52:26Z rhuk $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

// Columns Layout
.component-content {
	.row-separator {
		display: block;
		clear: both;
		margin: 0;
		border: 0;
		height: 1px;
	}
	.item-separator {
		display: none;
		margin: 0;
	}
	.shownocolumns {
		width: 98%;
	}
	.column-1, .column-2, .column-3, .column-4, .page-header {
		padding: 10px 0;
	}
	.column-2 {
		width: 55%;
		margin-left: 40%;
	}
	.column-3 {
		width: 30%;
	}
	.cols-1 {
		display: block;
		float: none !important;
		margin: 0 !important;
	}
	.cols-2 {
		.column-1 {
			width: 48%;
			float: left;
		}
		.column-2 {
			width: 48%;
			float: right;
			margin: 0;
		}
	}
	.cols-3 {
		.column-1 {
			float: left;
			width: 29%;
			margin-right: 7%;
		}
		.column-2 {
			float: left;
			width: 29%;
			margin-left: 0;
		}
		.column-3 {
			float: right;
			width: 29%;
			padding: 10px 0;
		}
	}
	.cols-4 {
		.column-1 {
			float: left;
			width: 23%;
			margin-right: 2%;
		}
		.column-2 {
			float: left;
			width: 23%;
			margin-left: 0;
			margin-right: 2%;
		}
		.column-3 {
			float: left;
			width: 23%;
			margin-right: 2%;
		}
		.column-4 {
			float: right;
			width: 23%;
			margin-right: 2%;
		}
	}
	.items-row {
		margin-bottom: 10px;
	}
	.blog-more {
		padding: 10px 5px;
	}
}

// Categories List
.categories-list {
	padding: 0 5px;
	ul {
		margin: 0 0 0 20px;
		padding: 0;
		li {
			padding: 5px;
			list-style-type: none;
			margin: 0;
		}
		ul {
			margin-left: 15px;
		}
	}
	dl {
		dt, dd {
			display: inline;
		}
	}
}
.category-desc {
	line-height: 1.7em;
	margin: 10px 0;
	padding-left: 0;
}

// Article Details
.component-content {
	.actions {
		float: right;
		li {
			list-style: none;
			display: inline-block;
			a {
				display: block;
				font-size: 1em;
				margin-left: 2px;
			}
		}
		.print-icon {
			img {
				display: none;
			}
			a:before {
				font-family: FontAwesome;
				content: "\f02f";
			}
		}
		.email-icon {
			img {
				display: none;
			}
			a:before {
				font-family: FontAwesome;
				content: "\f0e0";
			}
		}
		.edit-icon {
			img {
				display: none;
			}
			a:before {
				font-family: FontAwesome;
				content: "\f044";
			}
		}
	}
	.article-info {
		display: block;
		margin-bottom: 15px;
		dd {
			margin-right: 15px;
			margin-left: 0;
			display: inline-block;
			vertical-align: top;
		}
		dd:before, > div:before {
			font-family: FontAwesome;
			margin-right: 2px;
		}
		.category-name:before {
			content: "\f0c9";
		}
		/*create:before {
			content: "\f017";
		}*/
		.modified:before {
			content: "\f017";
		}
		.published:before {
			content: "\f017";
		}
		.createdby:before {
			content: "\f040";
		}
		.hits:before {
			content: "\f019";
		}
		.article-info-term {
			display: none;
		}
	}
	.content_vote {
		margin: 10px 0;
	}
	.content_rating {
		display: block;
	}
}

// Article
.component-content {
	.blog-featured, .blog, .item-page {
		h2 {
			margin-top: 0;
		}
		a {
			text-decoration: underline;
		}
		a:hover {
			background:#333333;
			color:@white;
		}
	}
	.pagenav {
		padding: 2px;
		clear: both;
		margin-top: 20px;
		margin-left: 0;
		overflow: hidden;
		li {
			list-style: none;
			.border-radius(4px);
			a {
				padding: 6px 10px;
				font-size: 1em;
			}
		}
		.pagenav-prev {
			float: left;
		}
		.pagenav-next {
			float: right;
		}
	}
	.items-leading {
		margin-bottom: 25px;
	}
	.img-intro-right, .img-fulltext-right {
		float: right;
		margin-left: 10px;
		margin-bottom: 10px;
		margin-top: 25px;
		clear: both;
	}
	.img-intro-left, .img-fulltext-left {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		margin-top: 25px;
		clear: both;
	}
}

// Editing
.component-content {
	.edit {
		#editor-xtd-buttons {
			a {
				&:link, &:hover, &:visited {
					color: #323232;
				}
			}
		}
		legend {
			font-size: 150%;
		}
		#adminForm {
			fieldset {
				padding: 20px 15px;
				margin: 10px 0 15px 0;
			}
			.formelm-area {
				padding: 5px 0;
				label {
					vertical-align: top;
					display: inline-block;
					width: 7em;
				}
			}
		}
	}
	.formelm {
		margin: 5px 0;
		label {
			width: 9em;
			display: inline-block;
			vertical-align: top;
		}
	}
	.formelm-buttons {
		text-align: right;
		margin-bottom: 10px;
	}
	.button2-left {
		float: left;
		margin-right: 5px;
		margin-top: 10px;
		.readmore {
			background-image: none;
			background-color: transparent;
			border: none;
			padding: 0;
			text-shadow: none;
			font-size: inherit;
			text-transform: inherit;
			font-family: inherit;
			&:before {
				content: '';
			}
		}
	}
}

// Calendar
.calendar {
	td.button {
		background-image: none;
		background-color: transparent;
		border: none;
		padding: 0;
		text-shadow: none;
		font-size: inherit;
		text-transform: inherit;
		color: @black;
		display: table-cell;
		.border-radius(0);
		&:before, &:after {
			content: '';
			position: relative;
		}
	}
	tbody {
		td.hilite, td.selected {
			border: none;
			padding: 2px 4px 2px 2px;
		}
	} 
	td.title {
		font-size: 1.4em;
		display: table-cell;
	}
}

// Items More
.component-content {
	.items-more {
		padding-top: 10px;
		h3 {
			font-weight: normal;
			margin: 0;
			padding: 0;
			font-size: 1.4em;
		}
		ol {
			line-height: 1.3em;
			list-style-type: none;
			margin: 0;
			padding: 10px 0 10px 2px;
			li {
				margin-bottom: 5px;
				a {
					display: inline;
					font-weight: normal;
					padding: 4px 0 4px 15px;
					background-position: 2px -572px;
					background-repeat: no-repeat;
					&:hover {
						background-position: 2px -78px;
					}
				}
			}
		}
	}
}

// Pagination
.component-content {
	.pagination {
		margin: 10px 0;
		padding: 10px 0;
		clear: both;
		.counter {
			text-align: center;
			margin: 0;
			font-weight: bold;
			margin-bottom: 5px;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			li {
				display: inline;
				text-align: center;
				a, span {
					margin: 0 1px;
					padding: 2px 5px;
					font-size: 1.1em;
					line-height: 1.3em;
					.border-radius(3px);
				}
			}
		}
	}
	.pagination-start, .pagination-next, .pagination-end, .pagination-prev {
		border: 0;
	}
	.pagination-start {
		padding: 0;
		span {
			padding: 0;
		}
	}
}

// Member Access
.component-content {
	#password-lbl, #username-lbl {
		width: 130px;
		display: block;
		float: left;
		font-size: 1.2em;
		line-height: 2em;
	}
}
.component-content .login-fields #username, .login-fields #password, #contact-form dd input, #contact-form dd textarea, #modlgn-username, #modlgn-passwd, #jform_email, #member-registration dd input, #search-searchword, .finder .inputbox {padding: 4px;.border-radius(3px);line-height: 1.6em;}
.component-content .login fieldset div {margin-bottom: 8px;}
.component-content .login + div {margin-top: 12px;}
.component-content .login + div ul li, #login-form li {list-style: none;}
.component-content .login + div ul li a, #login-form a {padding: 4px 0 4px 15px;margin-bottom: 8px;line-height: 100%;font-weight: normal;font-size: 100%;display: inline-block;background-repeat: no-repeat;background-position: 2px -572px;}
.component-content .login + div ul li a:hover, #login-form a:hover {background-position: 2px -78px;}
.component-content .login + div ul {padding: 0;margin-left: 0;}
.component-content .login-description {margin: 10px 0;}

// Login Module
#login-form {
	.userdata {
		margin: 12px 0;
	}
	ul {
		padding: 0;
		margin-left: 0;
	}
	input[type="text"], input[type="password"] {
		width: 94%;
	}
}

// Breadcrumbs Module
.breadcrumbs {
	img[src $="arrow.png"] {
		display: none;
	}
	a {
		&:after {
			font-family: FontAwesome;
			content: "\f054";
			margin: 0 5px 0 10px;
		}
	}
	.showHere {
		font-weight: bold;
		margin-right: 5px;
	}
}
#rt-breadcrumbs {
	.rt-block {
		padding: 0 15px;
	}
}

// Tables
.component-content {
	table {
		border-collapse: collapse;
	}
	table.weblinks {
		font-size: 1em;
		margin: 10px 10px 20px 0;
		width: 99%;
		td {
			border-collapse: collapse;
			padding: 7px;
			p {
				margin: 0;
				line-height: 1.3em;
			}
		}
		th {
			padding: 7px;
			text-align: left;
		}

	}
	table.category {
		font-size: 1em;
		margin: 10px 10px 20px 0;
		width: 99%;
		td {
			padding: 3px 7px;
		}
		th {
			padding: 7px;
			text-align: left;
			a {
				img {
					padding: 2px 10px;
				}
			}
		}
	}
	.weblink-category {
		p {
			font-size: 12px;
		}
		td.title {
			font-size: 16px;
		}
	}
	.num {
		vertical-align: top;
		text-align: left;
	}
	.hits {
		vertical-align: top;
		text-align: center;
	}
	.filter {
		margin: 10px 0;
		text-align: right;
		margin-right: 7px;
	}
	.display-limit {
		text-align: right;
		margin-right: 7px;
	}
	.filter-search {
		float: left;
		.inputbox {
			width: 6em;
		}
	}
	.element-invisible {
		position: absolute;
		margin-left: -3000px;
		margin-top: -3000px;
		height: 0;
	}
	.cat-items {
		margin-top: 20px;
	}
}

// Forms
.component-content #member-registration {padding: 0 5px;}
.component-content form fieldset dt {clear: left;float: left;width: 12em;padding: 3px 0;}
.component-content form fieldset dd {float: left;padding: 3px 0;}
.invalid, .login-fields #username.invalid, .login-fields #password.invalid, #contact-form dd input.invalid, #contact-form dd textarea.invalid, #modlgn-username.invalid, #modlgn-passwd.invalid, #jform_email.invalid, #member-registration dd input.invalid, #search-searchword.invalid, .finder .inputbox.invalid, .inputbox.invalid, #k2Container .inputbox.invalid, div.k2SearchBlock form input.inputbox.invalid, div.k2LoginBlock fieldset.input p input.invalid {border-color: #ff0000;}
label.invalid {color: #ff0000 !important;}
input[type="radio"], input[type="checkbox"] {margin-right: 5px;}

// Search
.component-content .searchintro {font-weight: normal;margin: 20px 0 20px;}
.component-content #searchForm, .component-content #finder-search {padding: 0 5px;}
.component-content .form-limit {margin: 20px 0 0;text-align: right;padding: 0 10px 0 20px;}
.component-content .highlight {font-weight: bold;}
.component-content .ordering-box {width: 40%;float: right;}
.component-content .phrases-box {width: 60%;float: left;}
.component-content .only, .component-content .phrases {margin: 10px 0 0 0;line-height: 1.3em;}
.component-content label.ordering {display: block;margin: 10px 0 10px 0;}
.component-content .word {padding: 10px 10px 10px 0;}
.component-content .word input {font-weight: bold;padding: 4px;font-size: 1em;}
.component-content .word label {font-weight: bold;}
.component-content fieldset.only label, .component-content fieldset.phrases label {margin: 0 10px 0 0;}
.component-content .ordering-box label.ordering {margin: 0 10px 5px 0;}
.component-content form .search label, .component-content form .finder label {display: none;}
.component-content form #finder-filter-select-list label {display: block;margin-top: 10px;margin-bottom: 2px;}
.component-content .search legend {font-weight: bold;}
.component-content .search-results .result-title {padding: 15px 15px 0 5px;font-weight: bold;}
.component-content .search-results dd {padding: 2px 15px 2px 5px;}
.component-content .search-results .result-text {padding: 10px 15px 10px 5px;line-height: 1.7em;}
.component-content .search-results .result-url {font-size: 90%;padding: 2px 15px 15px 5px;}
.component-content .search-results .result-created {padding: 2px 15px 15px 5px;}
.component-content .search-results .result-category {padding: 10px 15px 5px 5px;}

/* Contacts */
.component-content .contact {padding: 0;}
.component-content .contact-category {padding: 0 10px;}
.component-content .contact-category #adminForm .filters {border: 0;padding: 0;}
.component-content .contact-image {margin: 10px 0;overflow: hidden;display: block;}
.component-content .contact-image img {max-width: 100%;}
.component-content address {font-style: normal;margin: 10px 0;}
.component-content address span {display: block;}
.component-content .contact-address {margin: 20px 0 10px 0;}
.component-content .contact-email div {padding: 2px 0;margin: 0 0 10px 0;}
.component-content .contact-email label {width: 17em;float: left;}
.component-content #contact-textmsg {padding: 2px 0 10px 0;}
.component-content #contact-email-copy {float: left;margin-right: 10px;}
.component-content .contact .button {float: none !important;clear: left;display: block;margin: 20px 0 0 0;}
.component-content dl.tabs {float: left;margin: 50px 0 0 0;z-index: 50;clear: both;}
.component-content dl.tabs dt {float: left;padding: 4px 10px;border-left: 1px solid #ccc;border-right: 1px solid @light-grey;border-top: 1px solid @light-grey;margin-right: 3px;background: #f0f0f0;color: #666666;}
.component-content dl.tabs .open {background: #F9F9F9;border-bottom: 1px solid #F9F9F9;z-index: 100;color: @black;}
.component-content .current {clear: both;border: 1px solid @light-grey;padding: 10px 10px;}
.component-content .current dd {padding: 0;margin: 0;}
.component-content #content-pane.tabs {margin: 1px 0 0 0;}
.component-content .contact .title {font-size: 1.3em;margin: 0 0 2px 0;border: 0;box-shadow: none;padding: 0;.border-radius(3px);}
.component-content .contact .title a {display: block;padding: 10px;}
.component-content .contact .title a span {line-height: 1em;}
.component-content .contact .title a span:before {font-family: FontAwesome;content: "\f055";margin: 0 10px 0 0;font-size: 1.3em;display: inline;vertical-align: middle;}
.component-content .contact .pane-toggler-down a span:before {content: "\f056";}

/* User Profile */
.component-content #users-profile-core, .component-content #users-profile-custom {margin: 10px 0 15px 0;padding: 15px;}
.component-content #users-profile-core dt, .component-content #users-profile-custom dt {float: left;width: 12em;padding: 3px 0;}
.component-content #users-profile-core dd, .component-content #users-profile-custom dd {padding: 3px 0;}
.component-content #member-profile fieldset, .component-content .registration fieldset {margin: 10px 0 15px 0;padding: 15px;}
.component-content #users-profile-core legend, .component-content #users-profile-custom legend, .component-content .profile-edit legend, .component-content .registration legend {font-weight: bold;}
.component-content .profile-edit #member-profile fieldset dd, .component-content .registration #member-registration fieldset dd {float: none;padding: 5px 0;}
.component-content .profile-edit #member-profile fieldset dd input, .component-content .profile-edit #member-profile fieldset dd select, .component-content .registration #member-registration fieldset dd input {width: 17em;}
.component-content .profile-edit #member-profile fieldset dt, .component-content .registration #member-registration fieldset dt {padding: 5px 5px 5px 0;width: 13em;}
.component-content .optional {font-size: 0.9em;}

/* Editor */
.component-content .contentpaneopen_edit {float: left;}
.component-content .mceButton:hover {background: none !important;}
.component-content .edit #adminForm fieldset {padding: 20px 15px;margin: 10px 0 15px 0;}
.component-content .formelm {margin: 5px 0}
.component-content .formelm label {width: 13em;display: inline-block;vertical-align: top;}
.component-content #adminForm .formelm-area {padding: 5px 0}
.component-content #adminForm .formelm-area label {vertical-align: top;display: inline-block;width: 7.9em}
.component-content .formelm-buttons {text-align: right;margin-bottom: 10px}
.component-content .modal-button, .component-content .button2-left .blank a, .component-content .button2-left a, .component-content .button2-left .readmore a {background: #eee;padding: 4px !important;margin: 0 !important;line-height: 1.2em;border: solid 1px #ddd;font-weight: bold;text-decoration: none;display: inline;}

/* Pagebreak */
.component-content table.contenttoc {padding: 10px;margin: 10px;}
.component-content table.contenttoc tr td {padding: 1px 0;}
.component-content .pagenavcounter {font-weight: bold;}

/* Tooltip */
.component-content {
	.tip {font-size: 0.8em;text-align: left;padding: 3px;max-width: 400px;}
	.tip-title {font-weight: bold;}
}
.tip-wrap {padding: 8px;.border-radius(4px);z-index: 1000;}

/* Unpublished */
.system-unpublished .system-unpublished {margin: -10px;padding: 10px;border-top: 16px solid;border-bottom: 5px solid;position: relative;}
.system-unpublished .system-unpublished:before {content: 'Unpublished';text-transform: uppercase;top: -19px;left: 10px;position: absolute;font-size: 0.8em;font-weight: bold;}

/* System Messages */
#system-message {margin-bottom: 10px;padding: 0;}
#rt-drawer #system-message {margin-bottom: 36px;}
#system-message dt {font-weight: bold; }
#system-message dd {margin: 0;font-weight: bold; }
#system-message dd ul {background: #BFD3E6;color: #0055BB;margin: 10px 0 10px 0;list-style: none;padding: 10px;border: 2px solid #84A7DB;}

/* System Error Messages */
#system-message dt.error {display: none;}
#system-message dd.error ul {color: #c00;background-color: #EBC8C9;border: 2px solid #DE7A7B;}

/* System Notice Messages */
#system-message dd.notice {background: none;border: 0;}
#system-message dt.notice {display: none;}
#system-message dd.notice ul {color: #A08B4C;background: #F5ECC1;border: 2px solid #F0DC7E;}

/* Debug */
#system-debug {color: @light-grey;background-color: @white;padding: 10px;margin: 10px;}
#system-debug div {font-size: 11px;}
