/**
* @version   $Id: main-style.less 4002 2012-09-30 23:12:52Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

// Core
body {
	color: @bodyText;
	a {
		color: darken(@main-accent, 15%);
		&:hover {
			color: @bodyText;
		}
	}
	h1, h2, h3 {
		color: @bodyTitle;
	}
}

// Background
.main-bg-brown {
	background-image: url(../images/backgrounds/brown/top-bg-texture.jpg);
	background-color: @backgroundBrownColor;
	.rt-bg {
		background-image: url(../images/backgrounds/brown/bottom-bg-texture.jpg);
	}
}
.main-bg-blue {
	background-image: url(../images/backgrounds/blue/top-bg-texture.jpg);
	background-color: @backgroundBlueColor;
	.rt-bg {
		background-image: url(../images/backgrounds/blue/bottom-bg-texture.jpg);
	}
}
.main-bg-red {
	background-image: url(../images/backgrounds/red/top-bg-texture.jpg);
	background-color: @backgroundRedColor;
	.rt-bg {
		background-image: url(../images/backgrounds/red/bottom-bg-texture.jpg);
	}
}
.main-bg-green {
	background-image: url(../images/backgrounds/green/top-bg-texture.jpg);
	background-color: @backgroundGreenColor;
	.rt-bg {
		background-image: url(../images/backgrounds/green/bottom-bg-texture.jpg);
	}
}
.main-bg-purple {
	background-image: url(../images/backgrounds/purple/top-bg-texture.jpg);
	background-color: @backgroundPurpleColor;
	.rt-bg {
		background-image: url(../images/backgrounds/purple/bottom-bg-texture.jpg);
	}
}
.main-bg-gray {
	background-image: url(../images/backgrounds/gray/top-bg-texture.jpg);
	background-color: @backgroundGreenColor;
	.rt-bg {
		background-image: url(../images/backgrounds/gray/bottom-bg-texture.jpg);
	}
}
.main-bg-light-brown {
	background-image: url(../images/backgrounds/lightbrown/top-bg-texture.jpg);
	background-color: @backgroundLightBrownColor;
	.rt-bg {
		background-image: url(../images/backgrounds/lightbrown/bottom-bg-texture.jpg);
	}
}

// Navigation
.menutop {
	li.root, &.level1 > li {
		background: url(../images/main/menu-separator.png) no-repeat 100% 50%;
	}
	.item {
		color: @navText;
	}
	.item:hover, li.active .item {
		color: @navTextHover;
	}
	.fusion-js-subs{
		li > .item:hover, li.active > .item {
			background: @btnHover;color: @white;
		}
		li > .fusion-modules:hover {
			color: @black;
		}
	}
	.rt-arrow-pointer {border-top-color: @main-accent;}
}
.fusion-submenu-wrapper { #gradient > .vertical-three-colors(@main-accent, @main-accent, 60%, lighten(@main-accent, 5%));}
.module-content {
	.menu {
		.item, a, .no-link {color: @navText;}
	}
}

// Menu Module
ul.menu {
	li {
		&#current.active, &.active.current {
			> a, > .item, > .separator {
				background-image: url(../images/main/arrows.png);
				color: @black;
			}
		}
		&:hover {
			a, .item, .separator {
				color: @black;
			}
		}
	}
}

// Header
#rt-header {
	.rt-container {
		border-bottom: 6px solid @main-accent;
		//#gradient > .vertical-three-colors(@topbackground, @topbackground2, 25%, @topbackground2);
		background: @white url(../images/main/top-overlay.png) repeat-x;
		.box-shadow(0 0 30px @black);
	}
}

// Feature 
#rt-feature {
	background-image: -webkit-linear-gradient(to top, @white, @white, 30px, @bodyGradient);
}

// Main 
#rt-mainbody-surround {
	background-color: @mainBodyBackground;
	border-bottom: 4px solid @main-accent;
	.box-shadow(0 0 35px rgba(0,0,0,0.8));
	#rt-main {
		background-image: url(../images/main/block-overlay.png);
		border-top: 1px solid @bodyBorder;
		border-bottom: 1px solid @bodyBorder;
	}
	#rt-sidebar-a, #rt-sidebar-b, #rt-sidebar-c {
		background-image: url(../images/main/separator-overlay.png);
	}
	#rt-extension {
		[class*="rt-grid"] {
			background-image: url(../images/main/separator-overlay.png);
		}
	}
}

// Background Modules
#rt-footer, #rt-bottom, #rt-showcase, #rt-top, #rt-drawer {
	color: @showcaseText;
	h1, h2, h3 {
		color: @white;
	}
	a:hover {
		color: @white;
	}
	.title2 {
		.module-title {
			background: url(../images/main/block-overlay-dark.png) repeat-x scroll 0 100%;
			border-bottom: 1px solid @black;
		}
	}
	.title3, .title4 {
		.module-title {
			.title {
				color: @black;
			}
		}
	}
	.box1, .box2 {
		color: @bodyText;
		h1, h2, h3 {
			color: @black;
		}
		a:hover {
			color: @white;
		}
	}
	.box1 {
		a {
			color: @black;
			&:hover {
				color: @white;
			}
		}
	}
	.box4 {
		border: 1px solid #555555;
	}
}

// Copyright
#rt-copyright {
	.rt-container {
		background: @white;
		.box-shadow(0 0 30px @black);
	}
}

// Showcase
.layout-showcase{
	.sprocket-features-title {
			border-bottom: 1px solid @main-accent;
			a {color: @white;}
		}
}

// Article
.component-content {
	.actions, .print-icon, .email-icon {
		a {
			color: @articleIcon;
			&:hover {
				color: darken(@articleIcon, 20%);
			}
		}
	}
	h2 {
		color: @bodyText;
		border-bottom: 1px solid @main-accent;
		a {
			color: @bodyText;
			&:hover {
				color: @main-accent;
			}
		}
	}
}

// Error Page
.rt-error-content, .error-title {
	color: @white;
}

// Module Variations 
.title1 {
	.module-title {
		border-bottom: 1px solid @main-accent;
	}
}
.title2 {
	.module-title {
		background: url(../images/main/block-overlay.png) repeat-x scroll 0 100%;
		border-bottom: 1px solid @bodyBorder;
	}
}
.title3 {
	.module-title {
		#gradient > .vertical-three-colors(lighten(@main-accent,15%), @main-accent, 75%, @main-accent);
		.box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.2));
	}
}
.title4 {
	.module-title {
		#gradient > .vertical-three-colors(lighten(@listsButtons,10%), @listsButtons, 75%, @listsButtons);
		.box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.2));
	}
}
.box1 {
	#gradient > .vertical-three-colors(lighten(@main-accent,15%), @main-accent, 75%, @main-accent);
	border: 1px solid darken(@main-accent, 10%);
	a {
		color: @bodyText;
		&:hover {
			color: @black;
		}
	}
	&.title4 {
		.module-title {
			border: 1px solid rgba(0,0,0,0.2);
		}
	}
	.readon, .button {
		border: 1px solid darken(@main-accent, 15%);
		&:hover {
			color: @white;
		}
	}
	input[type="text"], input[type="password"] {
		border: 1px solid darken(@main-accent, 15%);
	}
}
.box2 {
	#gradient > .vertical-three-colors(lighten(@listsButtons,5%), @listsButtons, 75%, @listsButtons);
	border: 1px solid @bodyBorder;
	.box-shadow(0 2px 3px rgba(0,0,0,0.1));
}
.box3 {
	box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.6);
	#gradient > .vertical-three-colors(lighten(@btnHover,10%), @btnHover, 75%, @btnHover);
	color: @white;
	h1, h2, h3 {
		color: @white;
	}
	a:hover {
		color: @white;
	}
	&.title2 {
		.module-title {
			background: url(../images/main/block-overlay-dark.png) repeat-x scroll 0 100%;
			border-bottom: 1px solid @black;
		}
	}
}
.box4 {
	border: 1px solid #ccc;
	border-bottom: 4px solid @main-accent;
	.box-shadow(0 2px 5px rgba(0,0,0,0.2));
}

// Logo
.logo-type-graffito #rt-logo {
	background-image: url(../images/logo/logo.png);
}
.logo-block {
	.logo-color {
		background-color: @main-accent;
	}
}

// Buttons and Inputs
.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .sprocket-mosaic-loadmore, #gantry-totop, body .btn-primary {
	color: @white;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	border: 1px solid darken(@main-accent, 5%);
	position: relative;
	text-shadow: none;
	#gradient > .vertical-three-colors(lighten(@main-accent,5%), @main-accent, 45%, @main-accent);
	&:hover { 
		color: @white;
		border: 1px solid darken(@btnHover,5%);
		#gradient > .vertical-three-colors(lighten(@btnHover,5%), @btnHover, 45%, @btnHover);
	}
	&:active {
		box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.6);
		border: 1px solid darken(@btnHover,8%);
		#gradient > .vertical-three-colors(lighten(@btnHover,5%), @btnHover, 45%, @btnHover);
	}
}
.readmore {
	&:hover a {
		color: @white;
	}
	a {
		color: @white;
	}
}
.component-content .login + div ul li a, #login-form a, .component-content .items-more ol li a {
	background-image: url(../images/main/arrows.png);
}

// Weblinks
.component-content {
	.weblink-category {
		tr {
			border-bottom: 1px solid @bodyBorder;
			&.cat-list-row1 {
				background-color: @weblinksBackground;
			}
		}
	}
}

// RokSprocket - Features - Showcase
.layout-showcase {
	.sprocket-features-content {
		text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	}
	.sprocket-features-img-container {
		img {
			.box-shadow(-2px -2px 10px rgba(0,0,0,0.3));
		}
	}
	.sprocket-features-arrows {
		.arrow {
			color: @white;
		}
	}
	.sprocket-features-pagination{
		li {
			color: @black;
			background: @white;
			&.active {
				#gradient > .vertical-three-colors(lighten(@main-accent,5%), @main-accent, 45%, @main-accent);
			}
		}
	}
}

// RokSprocket - Lists
.sprocket-lists {
	.sprocket-lists-title {
		border-bottom: 1px solid @main-accent;
	}
	li.active, li:hover {
		background-color: #EEEEEE;
		color: @black;
	}
	.sprocket-lists-arrows {
		.arrow {
			background-color: @listsButtons;
			background-image: url(../images/main/arrows.png);
			.box-shadow(inset 0 1px 3px rgba(0,0,0,0.3));
			&:hover {
				background-color: @main-accent;
			}
		}
	}
	.sprocket-lists-pagination {
		li {
			background-color: @listsButtons;
			.box-shadow(inset 0 1px 3px rgba(0,0,0,0.3));
			&:hover, &.active {
				background-color: @main-accent;
			}
		}
	}
}

// RokSprocket - Tabs
.sprocket-tabs {
	.sprocket-tabs-nav {
		li.active {
			.sprocket-tabs-inner {
				#gradient > .vertical-three-colors(lighten(@main-accent,5%), @main-accent, 45%, @main-accent);
				.box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.2));
				color: @black;
			}
		}
		li:hover {
			.sprocket-tabs-inner{
				box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.6);
				#gradient > .vertical-three-colors(lighten(@btnHover,5%), @btnHover, 45%, @btnHover);
				color: @white;
			}	
		}
	}
}

// RokSprocket - Mosaic
.sprocket-mosaic {
	.sprocket-mosaic-header, .sprocket-mosaic-container {
		/*border-bottom: 1px solid @bodyBorder;
		background-image: url(../images/main/block-overlay.png);*/
	}
	.sprocket-mosaic-container {
		li {
			#gradient > .vertical-three-colors(darken(@mainBodyBackground,1%), rgba(255,255,255,0), 90%, rgba(255,255,255,0));
		}
	}
	.sprocket-mosaic-item {
		&:hover {
			background-color: #EEEEEE;
			color: @black;
		}
		.sprocket-padding {
			background-image: url(../images/main/separator-overlay.png);
		}
		.sprocket-mosaic-title{
			border-bottom: 1px solid @main-accent;
			a {
				color: @bodyTitle;
			}
		}
		.sprocket-mosaic-image-container img {
			border-bottom: 2px solid @main-accent;
		}
		.sprocket-mosaic-tags li {
			border-bottom: 1px solid @main-accent;
		}
		.sprocket-mosaic-hovercontent {
			#gradient > .vertical-three-colors(lighten(@main-accent,5%), @main-accent, 45%, @main-accent);
			color: @black;
			box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
		}
	}
	.sprocket-mosaic-filter, .sprocket-mosaic-order {
		li.active {
			#gradient > .vertical-three-colors(lighten(@main-accent,5%), @main-accent, 45%, @main-accent);
			.box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.2));
			color: @black;
		}
		li:hover {
			box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.6);
			#gradient > .vertical-three-colors(lighten(@btnHover,5%), @btnHover, 45%, @btnHover);
			color: @white;
		}
	}
}

// Extra's
#gantry-totop {
	background-image: url(../images/main/arrows.png);
	&:hover {
		background-image: url(../images/main/arrows.png);
		background-color: @btnHover;
	}
}
.rt-social-buttons {
	.social-button {
		background-image: url(../images/main/social-icons.png);
	}
}
#rocket {
	background: url(../images/main/rocket.png) no-repeat;
}
.tip-wrap {
	border: 1px solid @bodyborder;
	background-color: @bodybackground3;
	.box-shadow(0 1px 4px rgba(0,0,0,0.2));
}
.btn {#gradient > .vertical(@bodycontrast, @bodyborder2);}
#rt-offline-body {
	.sitename {
		color: @showcaseText;
	}
	.offline {
		color: @showcaseText;
		h1 {
			color: @showcaseText;
		}
	}
}

