/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

// Large Mode
@media only screen and (min-width: 1200px) {
	.visible-large {display: inherit !important;}
	.hidden-large {display: none !important;}
}

// Desktop Modes
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.visible-large {display: none !important;}
	.hidden-large {display: inherit !important;}
	.visible-desktop {display: inherit !important;}
	.hidden-desktop {display: none !important;}

	// RokSprocket - Features - Showcase
	body .layout-showcase {
		.sprocket-features-content {
			width: 45%;
		}
		.sprocket-features-img-container {
			width: 50%;
		}
		.sprocket-features-title {
			font-size: 260%;
		}
		.sprocket-features-desc {
			margin-top: 15px;
			> span {
				font-size: 1em;
			}
		}
		.sprocket-features-pagination {
			li {
				width: 24px;
				height: 24px;
				span {
					line-height: 24px;
				}
			}
			li.active {
				width: 38px;
				height: 38px;
				span {
					font-size: 1.6em;
					line-height: 38px;
				}
			}
		}
		.sprocket-features-arrows {
			bottom: 55px;
		}
	}

	// RokSprocket - Tabs
	body .sprocket-tabs-nav li .sprocket-tabs-inner {
		padding: 10px;
		font-size: 100%;
	}

	// RokSprocket- Mosaic
	body .sprocket-mosaic .sprocket-mosaic-order li, body .sprocket-mosaic .sprocket-mosaic-filter li {
		font-size: 1em;
		padding: 10px;
	}

	// K2
	body #k2Container h2, body #k2Container h2 a, body #k2Container h3, body #k2Container h3 a {font-size: 1.7em !important;}

	// Demo Styles
	body .promo1 {font-size: 350%;}
	body .promo2 {font-size: 300%;}
	body .promo3 {font-size: 150%;}
}

@media (min-width: 768px) and (max-width: 959px) {
	.visible-tablet {display: inherit !important;}
	.hidden-tablet {display: none !important;}
	.hidden-desktop {display: inherit !important;}
	.visible-desktop {display: none !important;}
	.visible-large {display: none !important;}
	.hidden-large {display: inherit !important;}

	// Core
	.component-content {
		h1,h2,h3 {
			font-size: 200%;
			&.title {
				font-size: 200%;
			}
		}
	}
	body {
		h1,h2,h3 {
			font-size: 200%;
		}
	}

	// Logo
	.logo-type-graffito {
		.logo-block {
			margin: 10px 10px 7px 10px;
			.logo-color {
				width: 37px;
				height: 37px;
				top: 4px;
				right: 1px;
			}
			.rt-logo-container {
				width: 170px;
				height: 42px;
			}
		}
		#rt-logo {
			width: 170px;
			height: 42px;
			background-size: 170px;
			background-repeat: no-repeat;
		}
	}

	.rt-social-buttons {
		.social-button {
			display: none;
		}
	}

	// RokSprocket - Features - Showcase
	body .layout-showcase {
		.sprocket-features-title {
			font-size: 195%;
		}
		.sprocket-features-pagination {
			li {
				width: 24px;
				height: 24px;
				span {
					line-height: 24px;
				}
			}
			li.active {
				width: 38px;
				height: 38px;
				span {
					font-size: 1.6em;
					line-height: 38px;
				}
			}
		}
		.sprocket-features-arrows {
			bottom: 55px;
		}
	}
	// RokSprocket - Mosaic
	body {
		.sprocket-mosaic-columns-1, .sprocket-mosaic-columns-2, .sprocket-mosaic-columns-3, .sprocket-mosaic-columns-4, .sprocket-mosaic-columns-5, .sprocket-mosaic-columns-6 {
			li {
				width: 50%;
			}
		}
	}

	// K2
	body #k2Container h2, body #k2Container h2 a, body #k2Container h3, body #k2Container h3 a {font-size: 1.5em !important;}
	body #k2Container .subCategoryContainer, body #k2Container .itemContainer, body #k2Container .latestItemsContainer {width: 100% !important; float: none;}
	body #k2Container.itemListView .itemListCategory h2, body #k2Container.latestView .latestItemsCategory h2 {margin: 10px 0;}
	body #k2Container.itemListView .itemListSubCategories .subCategory h2 {margin: 10px 0;}
	body #k2Container.itemListView .itemListSubCategories .subCategory {margin-bottom: 5px !important;}
	body #k2Container.itemView .itemToolbar, body #k2Container.itemView .itemRatingBlock, body #k2Container.itemView .itemAuthorLatest, body #k2Container.itemView .itemRelated {width: 100% !important; float: none;}

	// Demo Styles
	body .promo1 {font-size: 300%;}
	body .promo2 {font-size: 250%;}
	body .promo3 {font-size: 120%;}	
}

@media only screen and (min-width: 768px) {
	.rt-menu-mobile {display: none;}
}

// Mobile Modes
@media (max-width: 767px) {
	.visible-phone {display: inherit !important;}
	.hidden-phone {display: none !important;}
	.hidden-desktop {display: inherit !important;}
	.visible-desktop {display: none !important;}
	.hidden-large {display: inherit !important;}
	.visible-large {display: none !important;}

	// Logo
	.rt-logo-container {margin: 0 auto;}

	// Menu
	.menu-block {display: none;}

	// Joomla Core
	body .component-content {
		.column-1, .column-2, .column-3 {width: 100% !important;float: none !important;margin: 0 !important;}
	}

	// Features

	.rt-social-buttons {
		.social-button {
			display: none;
		}
	}
	
	.side-panel-container {
		display: none;
	}

	// RokSprocket - Features - Showcase
	body .layout-showcase {
		margin-bottom: 20px;
		.sprocket-features-title {
			font-size: 170%;
		}
		.sprocket-features-pagination {
			display: none;
		}
		.sprocket-features-content {
			float: none;
			width: auto;
			margin-top: 10px;
		}
		.sprocket-features-img-container {
			float: none;
			width: 100%;
			margin-left: 0;
			position: static;
		}
		.sprocket-features-desc {
			display: none;
		}
		.sprocket-features-arrows {
			left: 90%;
			bottom: 25px;
		}
	}
	body #rt-showcase {
		.layout-showcase {
			margin: -30px -25px 0 -25px;
		}
	}

	// Extras
	.gantry-width-20, .gantry-width-25, .gantry-width-30, .gantry-width-33, .gantry-width-40, .gantry-width-50, .gantry-width-60, .gantry-width-66, .gantry-width-70, .gantry-width-75, .gantry-width-80 {width: 100%;}
	.gantry-width-spacer {margin: 5px;}

	.row {
		margin: 0;
		display: block;

		.cell {
			display: block;
			width: 100%;
		}
	}

	.form-horizontal {
		.control-group {
			.control-label {
				float:none;
				width: auto;
				text-align:left;
			}
			.controls {
				margin-left: 0;
			}
		}
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	// K2
	body #k2Container h2, body #k2Container h2 a, body #k2Container h3, body #k2Container h3 a {font-size: 1.3em !important;}
	body #k2Container .subCategoryContainer, body #k2Container .itemContainer, body #k2Container .latestItemsContainer {width: 100% !important; float: none;}
	body #k2Container.itemListView .itemListCategory h2, body #k2Container.latestView .latestItemsCategory h2 {margin: 5px 0;}
	body #k2Container.itemListView .itemListSubCategories .subCategory h2 {margin: 5px 0;}
	body #k2Container.itemListView .itemListSubCategories .subCategory {margin-bottom: 5px !important;}
	body #k2Container.itemView .itemToolbar, body #k2Container.itemView .itemRatingBlock, body #k2Container.itemView .itemAuthorLatest, body #k2Container.itemView .itemRelated {width: 100% !important; float: none;}	

	// Typography
	.title, .component-content h2 {
		font-size: 1.3em;
	}

	// RokSprocket - Showcase 
	body .layout-slideshow {
		.sprocket-features-pagination {
			display: none;
		}
		.sprocket-features-img-container {
			width: 100%;
			float: none;
			margin-left: 0;
		}
		.sprocket-features-arrows {
			left: 90%;
			bottom: 25px;
		}
	} 

	// RokSprocket - Mosaic
	body {
		.sprocket-mosaic {
			.sprocket-mosaic-title {
				font-size: 125%;
				a {
					font-size: 125%;
				}
			}
			.sprocket-mosaic-header {
				padding: 10px 8px;
			}
			.sprocket-mosaic-order, .sprocket-mosaic-filter {
				li {
					padding: 10px 4px;
					font-size: 0.75em;
				}
			}
		}
		.sprocket-mosaic-columns-1, .sprocket-mosaic-columns-2, .sprocket-mosaic-columns-3, .sprocket-mosaic-columns-4, .sprocket-mosaic-columns-5, .sprocket-mosaic-columns-6 {
			li {
				width: 50%;
			}
		}
	}
	// Demo Styles
	body .promo1 {font-size: 250%;}
	body .promo2 {font-size: 200%;}
	body .promo3 {font-size: 100%;}			
}
@media only screen and (max-width: 480px) {

	// Typography
	.title, .component-content h2 {
		font-size: 1.3em;
	}

	// RokSprocket - Features - Showcase
	body .layout-showcase {
		.sprocket-features-pagination {
			display: none;
		}
		.sprocket-features-img-container {
			width: 100%;
			float: none;
			margin-left: 0;
		}
		.sprocket-features-arrows {
			left: 90%;
			bottom: 25px;
		}
	}

	// RokSprocket - Tabs
	body {
		.sprocket-tabs-nav {
			float: none;margin-left: 0;
			li {
				float: none;
				display: block;
				width: auto;
				margin: 2px 0;
				.sprocket-tabs-inner {
					font-size: 0.9em;
				}
			}
		}
	}

	// RokSprocket - Mosaic
	body {
		.sprocket-mosaic {
			margin: -25px -35px 0 -34px;
			.sprocket-mosaic-header {
				padding: 10px 8px;
			}
			.sprocket-mosaic-order, .sprocket-mosaic-filter {
				li {
					padding: 10px 4px;
					font-size: 0.75em;
				}
			}
			.sprocket-mosaic-item {
				.sprocket-padding {
					background-image: none;
				}
			}
		}
		// RokSprocket - Mosaic
		.sprocket-mosaic-columns-1, .sprocket-mosaic-columns-2, .sprocket-mosaic-columns-3, .sprocket-mosaic-columns-4, .sprocket-mosaic-columns-5, .sprocket-mosaic-columns-6 {
			li {
				width: 100%;
			}
		}
	}

	// K2
	body #k2Container h2, body #k2Container h2 a, body #k2Container h3, body #k2Container h3 a {font-size: 1.0em !important;}
	body #k2Container .subCategoryContainer, body #k2Container .itemContainer, body #k2Container .latestItemsContainer {width: 100% !important; float: none;}
	body #k2Container.itemListView .itemListCategory h2, body #k2Container.latestView .latestItemsCategory h2 {margin: 5px 0;}
	body #k2Container.itemListView .itemListSubCategories .subCategory h2 {margin: 5px 0;}
	body #k2Container.itemListView .itemListSubCategories .subCategory {margin-bottom: 5px !important;}
	body #k2Container.itemView .itemToolbar, body #k2Container.itemView .itemRatingBlock, body #k2Container.itemView .itemAuthorLatest, body #k2Container.itemView .itemRelated {width: 100% !important; float: none;}

	// Demo Styles
	body .promo1 {font-size: 200%;}
	body .promo2 {font-size: 150%;}
	body .promo3 {font-size: 100%;}		
}