/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

#rt-offline-body {

	h1.sitename {
		font-size: 500%;
	}

	.offline {
		h1 {
			font-size: 300%;
		}
		p {
			font-size: 150%;
		}

	}

	.offline-image {
		text-align: center;
	}

	.row {
		text-align: center;
		.cell {
			margin: 0 auto;
			text-align: left;
		}
	}
}
