/**
* @version   $Id: sidepanel.less 3997 2012-09-30 19:13:26Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/
@import "mixins/index.less";
@import "variables.less";

.side-panel-container {
	position: absolute;
	left: 0;
	top: 120px;
	z-index: 10;
}

.side-panel-toggle {
	position: absolute;
	width: 22px;
	height: 35px;
	right: -22px;
	top: 10px;
	.border-radius(0 3px 3px 0);
	cursor: pointer;
	z-index: 10;
	background-color: @bodybackground;
	border-top: 1px solid @white;
	border-right: 1px solid @white;
	border-bottom: 1px solid @white;
	.box-shadow(2px 0 3px rgba(0,0,0,0.5));
}

.side-panel-toggle:before {
	position: absolute;
	content: "\f053";
	font-family: FontAwesome;
	width: 22px;
	height: 35px;
	text-align: center;
	font-size: 1.2em;
	line-height: 39px;
	font-weight: normal;
}

.side-panel-toggle.turkey:before {
	content: "\f054";
}

.side-panel {
	.box-shadow(0 0 7px rgba(0,0,0,0.5));
	background-color: @bodybackground;
	border-top: 1px solid @white;
	border-right: 1px solid @white;
	border-bottom: 1px solid @white;
	padding: 10px;
	.border-radius(0 3px 3px 0);
}