/**
 * @version   $Id: splitmenu.less 2589 2012-08-21 17:50:42Z kevin $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
 
// Global
.menutop {margin: 0;
	li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;
		.item {display: block;margin: 0;padding: 0;text-decoration: none;float: none;width: auto;white-space: nowrap;cursor: pointer;position: relative;outline: none;}
		&:hover {
			ul {top: 0;}
			li {
				ul {top: -999em;}
			}
		}
	}
	em {font-size: 80%;font-weight: normal;display: block;font-style: normal;}
}

// Root Items
.rt-splitmenu {float: left;}
.menutop {padding: 0 10px;line-height: 1em;
	li {float: left;&:last-child {background: none;}
		.item {font-size: 1.1em;z-index: 100;height: 36px;padding: 25px 0;margin: 0 15px 0 0;
			span {display: block;margin: 0;outline: none;padding: 5px 15px 5px 5px;width: auto;.border-radius(5px);line-height: 1.8em;}
			em {font-size: 10px;display: block;text-transform: lowercase;line-height: 0.3em;}
			img {margin: 0 4px 0 0;vertical-align: text-bottom;}
		}
		.subtext {
				span {line-height: 1.9em;}
		}
	}
	li.active, li:hover, li.f-mainparent-itemfocus {
		.rt-arrow-pointer {border-left: 11px solid transparent;border-right: 11px solid transparent;border-top-width: 10px;border-top-style: solid;content: "";height: 0;width: 0;position: absolute;bottom: -15px;left: 50%;margin-left: -11px;}
	}
}

// RTL
body.rtl {
	.menutop {
		li {float: right;
			.item {
				img {margin: 0 0 0 4px;}
			}
		}
		li.parent {
			.item {
				span {padding-right: 15px;padding-left: 20px;}
			}
		}
	}
}
