/**
 * @version   $Id: template.less 3109 2012-09-03 17:52:26Z rhuk $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

// Core
body {
	background-repeat: no-repeat;
	background-position: 100% 0;
	.rt-bg {
		background-repeat: no-repeat;
		background-position: 50% 100%;
	}
}
a {
	.transition(color 0.1s ease-out);
}
#rt-transition.rt-hidden {
	opacity: 0;
}
#rt-transition.rt-visible {
	opacity: 1;
	.transition(opacity 0.3s ease-in);
}
.module-title {
	margin-bottom: 12px;
}

// Fonts
@font-face {
	font-family: 'ArvoRegular';src: url('../fonts/Arvo-Regular-webfont.eot');src: url('../fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/Arvo-Regular-webfont.woff') format('woff'),url('../fonts/Arvo-Regular-webfont.ttf') format('truetype'),url('../fonts/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
	font-weight: normal;
	font-style: normal;}
.font-family-graffito {
	.module-title, .sprocket-tabs-inner, .sprocket-mosaic-title, .component-content .blog h2, .component-content .item-page h2, .component-content .blog-featured h2, .sprocket-lists .sprocket-lists-title, .sprocket-lists-item h4, .sprocket-headlines-badge span, .rt-totop, .weblink-category h2, .contact h2, .login h1, .component-content h1, .menutop a, .menutop .item, .button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .module-content .menu .item, .module-content .menu a, .sprocket-features.layout-showcase, .sprocket-lists-pagination li span, .sprocket-mosaic-item, .sprocket-mosaic-loadmore, .sprocket-mosaic-header {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif;}
}

// Logo
.logo-block {
	padding: 12px 15px;
	margin: 7px 10px;
	.logo-color {
		display: block;
		width: 41px;
		height: 41px;
		position: absolute;
		top: 5px;
		right: 2px;
		z-index: 0;
	}
	.rt-logo-container {
		position: relative;
		width: 190px;
		height: 48px;
		display: block;
	}
}
#rt-logo {
	margin: 0;
	width: 190px;
	height: 48px;
	display: block;
	position: relative;
	z-index: 1;
}

// Header
#rt-top-surround {
	position: relative;
	margin: 0 0 15px;
}
#rt-top-surround:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}
#rt-header, #rt-top {
	z-index: 2;
	position: relative;
}

#rt-header {
	.rt-container {
		.border-radius(0 0 4px 4px);
	}
}

// Navigation
.menu-block {
	padding: 0;
	margin: 0;
	float: right;
}
.rt-menu-mobile {text-align: center;padding: 0 0 15px 0;}

// Side Menu
.module-content {
	ul.menu { 
		margin: 0;
		padding: 0;
		li {
			list-style: none;margin-bottom: 0;
			a, .separator, .item {
				padding: 8px 0;
				display: block;
				font-size: 1.1em;
				font-weight: bold;
			}
			a:before, .item:before, .separator:before {
				content: "\2022";
				font-family: FontAwesome;
				margin-right: 10px;
				display: inline;
				vertical-align: middle;
				font-size: 1.6em;
				font-weight: normal;
			}
			&.parent {
				ul {
					margin-left: 15px;
					ul {
						margin-left: 15px;
					}
				}
				li a, li .item, li .separator {
					font-size: 13px;
					background-repeat: no-repeat;
					background-position: -5px -135px;
				}
				li.active.current, li#current.active {
					> a, > .item, > .separator {
						padding: 5px 21px;
					}
				}
				li a, li .item, li .separator {
					font-size: 0.9em;
				}
			}
		}
		li.active.current, li#current.active {
			> a, > .item, > .separator {
				padding: 5px 21px;
				background-repeat: no-repeat;
				background-position: 2px -74px;
			}
			> a:before, > .item:before, > .separator:before {content: "";margin: 0;display: none;}
		}
	}
}


// Main
.main-surround {
	margin: 0 auto;
}
#rt-maintop {
	padding-top: 20px;
}
#rt-main {
	background-repeat: repeat-x;
	background-position: 0 100%;
}
#rt-mainbody-surround {
	position: relative;
	z-index: 10;
	.border-radius(0 0 4px 4px);
	#rt-sidebar-a, #rt-sidebar-b, #rt-sidebar-c {
		background-repeat: no-repeat;
		overflow: hidden;
	}
	[class*="rt-grid"] {
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	.rt-alpha {
		background-image: none !important;
	}
}
// Footer 
#rt-footer-surround {
	margin-top: 20px;
}

// Modules
.title, .component-content h2 {
	font-size: 2em;
	font-weight: normal;
	letter-spacing: normal;
	margin-top: 0;
	padding-bottom: 10px;
	margin-bottom: 15px;
	display: inline-block;
}
.component-content h2 {
	font-size: 2.4em;
}
#rt-top-surround .title, #rt-showcase .title {
	border: none;
	box-shadow: none;
}
.title1 {
	.module-title {
		margin: 0 0 15px;
		.title {
			margin-bottom: 0;
			padding-bottom: 8px;
		}
	}
}
.title2 {
	.module-title {
		margin: 0 -15px 15px;
		padding: 0 10px;
		.title {
			margin-bottom: 0;
			padding-bottom: 8px;
		}
	}
}
.title3 {
	.module-title {
		.border-radius(6px);
		padding: 10px 10px 0;
		.title {
			margin-bottom: 0;
		}
	}
}
.title4 {
	.module-title {
		.border-radius(6px);
		padding: 10px 10px 0;
		.title {
			margin-bottom: 0;
		}
	}
}
.box4 {
	.border-radius(4px);
}

// Buttons and Inputs
.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .sprocket-mosaic-loadmore {
	display: inline-block;
	padding: 3px 25px 3px 10px;
	line-height: 1.7em;
	font-size: 0.9em;
	.border-radius(4px);
	border: 1px solid;
	.transition(none);
	&:before {
		content: '+';
		position: absolute;
		width: 23px;
		height: 23px;
		background-position: 0 -604px;
		top: 3px;
		right: -5px;
		font-size: 1em;
		font-weight: 100;
		font-family: Verdana, Geneva, sans-serif;
		text-align: inherit;
	}
}
.readmore a, {
	margin: -5px -12px;
	padding: 5px 12px;
	display: inline-block;
}
.rt-center {
	.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .sprocket-mosaic-loadmore {
			&:before {

			}
	}
}
a.readon:before {
	right: 0;
}
input.button {
	padding: 3px 10px;
	&:hover {
		cursor: pointer;
	}
}
button.button:before {
	padding-right: 5px;
}
.readon.promo1 {
	padding: 3px 65px 3px 25px;
	&:before {
		right: 28px;
	}
}

/* Social Icons - Feature */
#rt-header {
	.rt-social-buttons {
		margin-top: 10px;
	}
}
.rt-social-buttons {
	float: right;
	.social-button {
		height: 18px;
		width: 18px;
		display: inline-block;
		background-repeat: no-repeat;
		opacity: 0.9;
		&:hover {
			opacity: 1;
		}
	}
	.rt-facebook-btn {
		background-position: 4px 0;
		&:hover {
			background-position: 4px -26px;
		}
	}
	.rt-twitter-btn {
		background-position: -25px -2px;
		&:hover {
			background-position: -25px -28px;
		}
	}
	.rt-google-btn {
		background-position: -91px 0;
		&:hover {
			background-position: -91px -26px;
		}
	}
	.rt-rss-btn {
		background-position: -58px 0;
		&:hover {
			background-position: -58px -26px;
		}
	}
}

/* Branding */
#developed-by {
	overflow: hidden;
}
#rocket {
	display: block;
	width: 120px;
	height: 18px;
	margin: 2px 0 0 0;
}

/* Popup/Login Module Feature */
#rt-popup, #rt-popuplogin {
	display: none;
	.module-content {
		margin: 0;
		text-shadow: none;
	}
	.rt-block {
		margin: 0;
		padding: 0;
	}
	.title {
		padding: 0;
		margin-bottom: 0;
		margin-top: 0;
	}
}
#rt-popuplogin {
	#form-login-username, #form-login-password {
		label {
			display: none;
		}
	}
	#modlgn-passwd, #modlgn-username {
		width: 175px;
	}
	input.button {
		clear: both;
		display: block;
	}
	p {
		float: left;
		margin-bottom: 10px;
		&:first-child {
			margin-right: 10px;
		}
	}
	.readon {
		float: right;
	}
	ul li {
		float: none;
		display: inline-block;
		margin-right: 10px;
	}
}
#rt-controls {
	.rt-popupmodule-button {
		.buttontext {
			font-weight: normal;
			line-height: 20px;
		}
	}
}

// Extras
#gantry-totop {
	width: 30px;
	height: 30px;
	padding: 0;
	float: right;
	background-position: 10px -263px;
	background-repeat: no-repeat;
	&:hover {
		background-position: 10px -377px;
	}
}
.powered-by {
	display: block;
	width: 120px;
	height: 32px;
	margin: 0 auto;
	opacity: 0.8;
	.transition(opacity 0.1s ease-in);
	&:hover {
		opacity: 1;
	}
}
#rt-copyright {
	ul.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			list-style: none;
			a, .item, .separator {
				padding: 0;
				margin: 0 5px;
			}
			a:before, .item:before, .separator:before {
				content: none;
			}
			a:after, .item:after, .separator:after {
				font-weight: normal;
				content: "/";
				margin: 0 0 0 10px;
			}
			&:last-child a:after {
				content: "";
			}
		}
	}
}

// Sprocket
.sprocket-mosaic-item {
	.transition(background-color 0.1s ease-in);
}
.sprocket-lists {
	li {
		.transition(background-color 0.1s ease-in);
	}
}




.this-is-for-j3 {
	display: none;
}
 // Core
 .pull-right {
 	float: right;
 }
 .pull-left {
 	float: left;
 }

 // Article
 .dropdown-menu {
 	float: right;
 	li {
 		list-style: none;
 		float: right;
 	}
 }
 .article-info {
 	i {
 		display: none;
 	}
 	> div {
 		display: inline-block;
 		float: left;
 		margin-right: 15px;
 	}
 }
 .createdby {
 	display: block;
 	font-size: inherit;
 	&:before {
 		content: "\f040";
 		font-family: FontAwesome;
 	}
 }
 .component-content {
 	.hits {
 		text-align: left;
 	}
 	.content_rating {
 		display: inline-block;
 	}
 	.print-icon {

 	}
 	.email-icon {

 	}
 }
// Buttons and Inputs
body {
	.btn [class^="icon-"], .btn [class*=" icon-"] {
		display: none;
	}
}
// Core
body {
	background-repeat: no-repeat;
	background-position: 100% 0;
	.rt-bg {
		background-repeat: no-repeat;
		background-position: 50% 100%;
	}
}
a {
	.transition(color 0.1s ease-out);
}
#rt-transition.rt-hidden {
	opacity: 0;
}
#rt-transition.rt-visible {
	opacity: 1;
	.transition(opacity 0.3s ease-in);
}
.module-title {
	margin-bottom: 12px;
}