/**
 * @version   $Id: thirdparty-k2.css 2733 2012-08-25 22:37:01Z arifin $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Latest View (Latest Items from one or more users or categories) */
body #k2Container.latestView {
	.k2FeedIcon {position: absolute; margin: 5px 0 0 5px; padding: 0;}
	.latestItemsCategory {
		background: none; margin: 0; padding: 0; border: 5px solid transparent;

		img {background: none; margin: 0; padding: 0; border: 0; max-width: 100%;}
		h2 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.2em; font-weight: normal; line-height: 1.3em; margin: 15px 0;}
		h2 a {padding: 10px 0;}		
	}
	.latestItemList {
		background: none; margin: 0 0 20px 0; padding: 0; border: 5px solid transparent;

		h2 {display: block; font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 1.8em; font-weight: normal; line-height: 1.2em; margin: 0 0 10px 0;}
		.latestItemDateCreated {
			&:before {font-family: FontAwesome; content: "";}
			display: block; font-size: 0.9em; margin-bottom: 10px;
		}
		.latestItemBody {margin: 0; padding: 0;}
		.latestItemImageBlock {margin:0; padding: 0; float: none;}
		.latestItemImage {background: none; margin: 0; padding: 0;}
		.latestItemImage img {background: none; margin: 0 0 5px 0; padding: 0; border: 0; max-width: 100%; width: 100% !important;}
		.latestItemIntroText {margin: 0; padding: 0;}
		.latestItemCategory {
			font-size: 0.9em; line-height: 1.0em; border: 0;
			span {
				&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
				display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
			}
			a {font-size: 1.0em;}
		}
		.latestItemTagsBlock {
			font-size: 0.9em; line-height: 1.0em; border: 0;
			span {
				&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
				display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
			}
			a {font-size: 1.0em;}
		}
		.latestItemLinks {margin: 0 0 15px 0;}
		.latestItemReadMore {
			display: block;

			.k2ReadMore {				
				display: inline-block;	
			}
		}
	}
}

/* Item List View (Categories) */
body #k2Container.itemListView {
	.k2FeedIcon {position: absolute; margin: 10px 0 0 10px; padding: 0;}
	.itemListCategory {
		background: none; margin: 0; padding: 0; border: 5px solid transparent;

		img {background: none; margin: 0; padding: 0; border: 0; max-width: 100%; float: none;}
		h2 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.2em; font-weight: normal; line-height: 1.2em; margin: 15px 0; padding: 10px 0; position: relative; width: 46%;}
	}
	.itemListSubCategories {
		h3 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; text-transform: uppercase; font-size: 1.5em; font-weight: normal; line-height: 1.5em; margin: 0 0 5px 5px; padding: 0;}	

		.subCategory {
			background: none; margin: 0 0 15px 0; padding: 0; border: 5px solid transparent;
			img {background: none; margin: 0; padding: 0; border: 0; max-width: 100%;}
			h2 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.2em; font-weight: normal; line-height: 1.2em; margin: 15px 0;}
			h2 a {padding: 10px 0;}
		}	
	}

	.itemList {
		#itemListLeading {
			.catItemView {background: none; margin: 0; padding: 0; border: 5px solid transparent;}
			.catItemDateCreated {
				&:before {font-family: FontAwesome; content: "";}
				display: block; font-size: 0.9em; margin: 15px 0 0 0;			
			}
			h3 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.6em; margin: 0 0 10px 0; padding: 0; border-bottom: 1px solid @main-accent;}
			.catItemAuthor {
				&:before {font-family: FontAwesome; content: "";}
				display: block; font-size: 0.9em; margin: 0px;				
			}
			.catItemBody {margin: 0; padding: 0;}
			.catItemImageBlock {margin: 0; padding: 0; float: none;}
			.catItemIntroText {margin: 0; padding: 0;}
			.catItemLinks {margin: 0; padding: 0;}
			.catItemImage img {border: 0; margin: 10px 0 5px 0; padding: 0; max-width: 100%; width: 100% !important;}
			.catItemCategory {
				font-size: 0.9em; line-height: 1.0em; border: 0;
				span {
					&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
					display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
				}
				a {font-size: 1.0em;}
			}
			.catItemTagsBlock {
				font-size: 0.9em; line-height: 1.0em; border: 0;
				span {
					&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
					display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
				}
				a {font-size: 1.0em;}
			}
			.catItemCommentsLink {
				font-size: 0.9em; line-height: 1.0em; border: 0; margin: 0; padding: 0; display: block;
				a {
					&:before {font-family: FontAwesome; content: ""; margin-right: 2px;}
					display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 4px;				
				}
			}
			.catItemReadMore {
				display: block; margin: 15px 0;

				.k2ReadMore {					
					display: inline-block;		
				}
			}			
		}

		#itemListPrimary {
			.catItemView {background: none; margin: 0; padding: 0; border: 5px solid transparent;}

			.catItemDateCreated {
				&:before {font-family: FontAwesome; content: "";}
				display: block; font-size: 0.9em; margin: 15px 0 0 0;			
			}
			h3 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.2em; margin: 0; padding: 0;}
			.catItemAuthor {
				&:before {font-family: FontAwesome; content: "";}
				display: block; font-size: 0.9em; margin: 0px;				
			}
			.catItemBody {margin: 0; padding: 0;}
			.catItemImageBlock {margin: 0; padding: 0; float: none;}
			.catItemIntroText {margin: 0; padding: 0;}
			.catItemLinks {margin: 0; padding: 0;}
			.catItemImage img {border: 0; margin: 10px 0 5px 0; padding: 0; max-width: 100%; width: 100% !important;}
			.catItemCategory {
				font-size: 0.9em; line-height: 1.0em; border: 0;
				span {
					&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
					display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
				}
				a {font-size: 1.0em;}
			}
			.catItemTagsBlock {
				font-size: 0.9em; line-height: 1.0em; border: 0;
				span {
					&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
					display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
				}
				a {font-size: 1.0em;}
			}		
			.catItemCommentsLink {
				font-size: 0.9em; line-height: 1.0em; border: 0; margin: 0; padding: 0; display: block;
				a {
					&:before {font-family: FontAwesome; content: ""; margin-right: 2px;}
					display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 4px;				
				}
			}
			.catItemReadMore {
				display: block; margin: 15px 0;

				.k2ReadMore {					
					display: inline-block;		
				}
			}					
		}

		#itemListSecondary {
			.catItemView {background: none; margin: 0; padding: 0; border: 5px solid transparent;}
			
			.catItemDateCreated {
				&:before {font-family: FontAwesome; content: "";}
				display: block; font-size: 0.9em; margin: 15px 0 0 0;		
			}
			h3 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.2em; margin: 0; padding: 0;}
			.catItemAuthor {
				&:before {font-family: FontAwesome; content: "";}
				display: block; font-size: 0.9em; margin: 0px;			
			}
			.catItemBody {margin: 0; padding: 0;}
			.catItemImageBlock {margin: 0; padding: 0; float: none;}
			.catItemIntroText {margin: 0; padding: 0;}
			.catItemLinks {margin: 0; padding: 0;}
			.catItemImage img {border: 0; margin: 10px 0 5px 0; padding: 0; max-width: 100%; width: 100% !important;}
			.catItemCategory {
				font-size: 0.9em; line-height: 1.0em; border: 0;
				span {
					&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
					display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
				}
				a {font-size: 1.0em;}
			}
			.catItemTagsBlock {
				font-size: 0.9em; line-height: 1.0em; border: 0;
				span {
					&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
					display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
				}
				a {font-size: 1.0em;}
			}		
			.catItemCommentsLink {
				font-size: 0.9em; line-height: 1.0em; border: 0; margin: 0; padding: 0; display: block;
				a {
					&:before {font-family: FontAwesome; content: ""; margin-right: 2px;}
					display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 4px;				
				}
			}
			.catItemReadMore {
				display: block; margin: 15px 0;

				.k2ReadMore {					
					display: inline-block;				
				}
			}					
		}

	}
}

/* Tag View (Tag Page) */
body #k2Container.tagView {
	.k2FeedIcon {position: absolute; margin: 0; padding: 0; right: 0;}
	.tagItemBody {margin: 0; padding: 0;}
	.tagItemView {
		background: none; margin: 0; padding: 0; border: 5px solid transparent;
		.tagItemDateCreated {
			&:before {font-family: FontAwesome; content: "";}
			display: block; font-size: 0.9em; margin: 0 0 5px 0;		
		}
		h2 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.2em; margin: 0; padding: 0;}	
		.tagItemImageBlock {margin: 0; padding: 0; float: none;}
		.tagItemImage {margin: 0;}
		.tagItemImage img {border: 0; margin: 10px 0 5px 0; padding: 0; max-width: 100%; width: 100% !important;}
		.tagItemCategory {
			font-size: 0.9em; line-height: 1.0em; border: 0;
			span {
				&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
				display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
			}
			a {font-size: 1.0em;}
		}
		.tagItemReadMore {
			display: block; margin: 15px 0;

			.k2ReadMore {				
				display: inline-block;			
			}
		}		
	}
}

/* User View (User Page) */
body #k2Container.userView {
	.k2FeedIcon {position: absolute; margin: 0; padding: 0; right: 0;}
	.userBlock {
		background: none; margin: 0 0 15px 0; padding: 0; border: 5px solid transparent;
		h2 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.2em; margin: 0; padding: 0;}	
	}
	.userItemList {
		background: none; margin: 0; padding: 0; border: 5px solid transparent;
		.userItemView {margin-bottom: 25px;}
		.userItemDateCreated {
			&:before {font-family: FontAwesome; content: "";}
			display: block; font-size: 0.9em; margin: 0 0 5px 0;		
		}
		h3 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.2em; margin: 0; padding: 0;}	
		.userItemImage {margin: 0;}
		.userItemBody {margin: 0; padding: 0;}
		.userItemImageBlock {margin: 0; padding: 0; float: none;}
		.userItemIntroText {margin: 0; padding: 0;}
		.userItemLinks {margin: 0; padding: 0;}		
		.userItemImage img {border: 0; margin: 5px 0; padding: 0; max-width: 100%; width: 100% !important;}
		.userItemCategory {
			font-size: 0.9em; line-height: 1.0em; border: 0;
			span {
				&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
				display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
			}
			a {font-size: 1.0em;}
		}		
		.userItemTagsBlock {
			font-size: 0.9em; line-height: 1.0em; border: 0;
			span {
				&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
				display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
			}
			a {font-size: 1.0em;}
		}		
		.userItemCommentsLink {
			font-size: 0.9em; line-height: 1.0em; border: 0; margin: 0; padding: 0; display: block;
			a {
				&:before {font-family: FontAwesome; content: ""; margin-right: 2px;}
				display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 4px;				
			}
		}
		.userItemReadMore {
			display: block; margin: 15px 0;

			.k2ReadMore {				
				display: inline-block;			
			}
		}	
	}
}

/* Generic View (Generic Page, e.g: Calendar Page) */
body #k2Container.genericView {
	.k2FeedIcon {position: absolute; margin: 0; padding: 0; right: 0;}
	.genericItemBody {margin: 0; padding: 0;}
	.genericItemView {
		background: none; margin: 0; padding: 0; border: 5px solid transparent;
		.genericItemDateCreated {
			&:before {font-family: FontAwesome; content: "";}
			display: block; font-size: 0.9em; margin: 0 0 5px 0;		
		}
		h2 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.2em; margin: 0; padding: 0;}	
		.genericItemImageBlock {margin: 0; padding: 0; float: none;}
		.genericItemImage {margin: 0;}
		.genericItemImage img {border: 0; margin: 10px 0 5px 0; padding: 0; max-width: 100%; width: 100% !important;}
		.genericItemCategory {
			font-size: 0.9em; line-height: 1.0em; border: 0;
			span {
				&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
				display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
			}
			a {font-size: 1.0em;}
		}
		.genericItemReadMore {
			display: block; margin: 15px 0;

			.k2ReadMore {				
				display: inline-block;			
			}
		}		
	}
}

/* Item View (Single Item) */
body #k2Container.itemView {
	background: none; margin: 0; padding: 0; border: 5px solid transparent;
	.itemDateCreated {
		&:before {font-family: FontAwesome; content: "";}
		display: block; font-size: 0.9em; margin: 0;		
	}
	h2 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.6em; margin: 0; padding: 0;}	
	.itemAuthor {
		&:before {font-family: FontAwesome; content: "";}
		display: block; font-size: 0.9em; margin: 15px 0 0;				
	}
	.itemToolbar .clr, .itemRatingBlock .clr {display: none;}
	.itemToolbar {
		background: none; margin: 10px 0; padding: 0; border: 0; width: 50%; float: left;
		ul {text-align: left;}
		ul li {margin: 0; padding: 0 10px 0 0; border: 0;}
		.itemTextResizerTitle {
			text-transform: capitalize;
			&:before {font-family: FontAwesome; content: ""; margin-right: 4px;}	
		}
		.itemPrintLink:before {font-family: FontAwesome; content: ""; margin-right: 2px;}
		.itemEmailLink:before {font-family: FontAwesome; content: ""; margin-right: 2px;}
		.itemCommentsLink:before {font-family: FontAwesome; content: ""; margin-right: 2px;}		
		a#fontDecrease {
			img {display: none; background: none;}
			&:after {font-family: FontAwesome; content: ""; margin: 0 2px;}
		}
		a#fontIncrease {
			img {display: none; background: none;}
			&:after {font-family: FontAwesome; content: ""; margin: 0 2px;}
		}	
	}
	.itemRatingBlock {
		margin: 10px 0; padding: 0; border: 0; width: 50%; float: left;
		.itemRatingList, .itemRatingList a:hover, .itemRatingList .itemCurrentRating {background-image: url(../images/main/k2-transparent-star.png)}
	}
	.itemBody {margin: 0; padding: 0; clear: both;}
	.itemImageBlock {margin:0; padding: 0; float: none;}
	.itemImage {margin: 0;}
	.itemImage img {border: 0; margin: 10px 0 5px 0; padding: 0; max-width: 100%; width: 100% !important;}
	.itemIntroText {font-size: 1.0em; color: inherit; line-height: 1.7em; padding: 0;}
	.itemContentFooter {font-size: 0.9em; line-height: 1.0em; border: 0;}
	.itemLinks {margin: 0 0 15px 0;}
	.itemCategory {
		font-size: 0.9em; line-height: 1.0em; border: 0;
		span {
			&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
			display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
		}
		a {font-size: 1.0em;}
	}		
	.itemTagsBlock {
		font-size: 0.9em; line-height: 1.0em; border: 0;
		span {
			&:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
			display: inline-block; font-size: 1.0em; font-weight: normal; line-height: 1.2em; padding: 0; width: 100px;
		}
		a {font-size: 1.0em;}
	}	
	.itemAuthorBlock {
		background: none; margin: 0 0 15px 0; padding: 0; border: 1px solid transparent;
		h3 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0;}	
	}	
	.itemAuthorLatest{
		float: left; width: 50%;
		h3 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0;}	
		ul li a {font-size: 1.0em; line-height: 1.5em;}
		.even {background: none; border: 0;}
		.odd {background: none; border: 0;}
	}
	.itemRelated{
		float: left; width: 50%;
		h3 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0;}	
		ul li a {font-size: 1.0em; line-height: 1.5em;}
		.even {background: none; border: 0;}
		.odd {background: none; border: 0;}
	}	
	.itemNavigation {background: none; margin: 0 0 25px 0; padding: 0; border: 0;}
	.itemComments {
		clear: both; background: none; margin: 0; padding: 0; border: 0;
		h3 {font-family: 'ArvoRegular',Helvetica,Arial,sans-serif; font-size: 2.0em; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0;}
		h3:before {font-family: FontAwesome; content: ""; margin-right: 10px;}
		.itemCommentsFormNotes {border: 0; margin: 5px 0;}
		textarea {padding: 5px; width: 100%;}
		input.inputbox {padding: 5px; width: 50%;}
		#submitCommentButton {display: block; padding: 10px 15px 5px 15px; border: 0; margin: 15px 0;}		
		#formLog {margin: 15px 0; padding: 0}
		.even {background: none;}
		.odd {background: none;}	
		.itemCommentsCounter:before {font-family: FontAwesome; content: ""; margin-right: 5px;}
		ul.itemCommentsList li {
			padding: 10px 0;
			img {padding: 0; margin: 0 10px 15px 0; border: 0;}
			p {margin: 0;}
			.commentDate {font-size: 1.0em;}
			.commentAuthorName {font-size: 1.0em;}
			.commentAuthorName a {font-size: 1.0em;}
		}	
	}
}

/* K2 Tools (Calendar) */
body .k2CalendarBlock {height: 100%;}
body .k2CalendarBlock table.calendar {background: none; margin: 0; width: 100%;}

/* K2 Comments */
body .k2LatestCommentsBlock {
	ul {
		list-style-type: none; margin-left: 0; padding-left: 0;
		li {padding: 5px 0;}
		a {font-size: 1.0em;}
		.even {background: none;}
		.odd {background: none;}
		img {padding: 0; margin: 0 10px 15px 0; border: 0;}
		.lcComment {display: block;}
		.lcUsername {font-size: 0.9em;}
		.lcCommentDate {font-size: 0.9em;}
	}
}

/* K2 Light Style */
body #k2Container .latestItemDateCreated, 
body #k2Container .latestItemCategory span, 
body #k2Container .latestItemTagsBlock span,
body #k2Container .catItemDateCreated,
body #k2Container .catItemAuthor,
body #k2Container .catItemCategory span,
body #k2Container .catItemTagsBlock span,
body #k2Container .tagItemDateCreated,
body #k2Container .tagItemCategory span,
body #k2Container .userItemDateCreated,
body #k2Container .userItemCategory span,
body #k2Container .userItemTagsBlock span,
body #k2Container .itemDateCreated,
body #k2Container .itemAuthor,
body #k2Container .itemTextResizerTitle,
body #k2Container .itemRatingBlock,
body #k2Container .itemContentFooter,
body #k2Container .itemCategory span,
body #k2Container .itemTagsBlock span {color: #999999;}

body #k2Container .k2ReadMore:hover, body #k2Container #submitCommentButton:hover {background: #000000; color: #ffffff;}

body #k2Container input.inputbox {border: 1px solid #999999;}

body #k2Container ul li.even, 
body #k2Container ul li.odd, 
body .k2LatestCommentsBlock ul li.even, 
body .k2LatestCommentsBlock ul li.odd {border-bottom: 1px dotted #999999;}

/* Extras */
body #k2Container .k2ReadMore, body #k2Container #submitCommentButton {background-color: @main-accent;}
body #k2Container .k2ReadMore {.transition(background-color 0.1s ease-in);color: #000000;padding: 8px 35px 7px 12px;text-transform: uppercase;display: inline-block;line-height: 1.8em;background-repeat: repeat-x;position: relative;font-weight: normal;border-radius: 4px;font-family:ArvoRegular,Helvetica,Arial,sans-serif;font-size: 100%;}
body #k2Container .k2ReadMore:before {content: "+";position: absolute;width: 23px;height: 23px;background-position: 0 -604px;top: 6px;right: 0;font-size: 1em;font-weight: 100;font-family: Verdana, Geneva, sans-serif;}
body .k2TagCloudBlock.box3, body .k2LatestCommentsBlock.box3 {background: none; box-shadow: none;}
body .k2CalendarBlock table.calendar tr td.calendarToday {color: #000000;background-color: @main-accent;}