/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Basic Reseting Classes */
body {

	.noitalic {font-style: normal !important;}

	.nobold {font-weight: normal !important;}

	.nomarginall {margin-left: 0 !important;margin-right: 0 !important;margin-top: 0 !important;margin-bottom: 0 !important;}

	.nopaddingall {padding-left: 0 !important;padding-right: 0 !important;padding-top: 0 !important;padding-bottom: 0 !important;}

	.nomargintop {margin-top: 0 !important;}

	.nomarginbottom {margin-bottom: 0 !important;}

	.nomarginleft {margin-left: 0 !important;}

	.nomarginright {margin-right: 0 !important;}

	.nopaddingtop {padding-top: 0 !important;}

	.nopaddingbottom {padding-bottom: 0 !important;}

	.nopaddingleft {padding-left: 0 !important;}

	.nopaddingright {padding-right: 0 !important;}

}
