// COLOR VARIABLES

// Core
@white:					#FFFFFF;
@black: 				#000000;
@light-grey:			#cccccc;
@transparent:           transparent;

// Body
@bodyText:				#565451;
@bodybackground:		#f5f5f5;
@bodybackground2:		#f0f0f0;
@bodybackground3:		#fcfcfc;
@bodybackground4:		#eaeaea;
@bodytextlight:			#999999;
@bodyTitle:				#383334;
@bodyborder:			#d5d5d5;
@bodyborder2:			#dddddd;
@bodycontrast:			#FFFFFF;
@bodyGradient: 			#EEEEEE;
@bodyBorder: 			#CECBCB;

// Top Section
@topbackground: 		#E8E3DF;
@topbackground2: 		#FFFFFF;

// Backgrounds
@backgroundBrownColor: 	#15130F;
@backgroundBlueColor: 	#1A1B1C;
@backgroundRedColor: 	#150F0F;
@backgroundGreenColor:  #1A1A1A;
@backgroundPurpleColor: #1E1A1D;
@backgroundLightBrownColor: #191414;

// Navigation 
@navText: 				#383435;
@navTextHover: 			#000000;

// Showcase
@showcaseText: 			#FFFFFF;

// Main Body
@mainBodyBackground: 	#FFFFFF;

// Footer ----------------------
@footerbackground:		#eeeeee;
@footertext:			#6e6e6e;

// Buttons
@btnHover: 				#383435;

// Form Feedbacks --------------
@warningText:           #c09853;
@warningBackground:     #fcf8e3;
@warningBorder:         darken(spin(@warningBackground, -10), 3%);

@errorText:             #b94a48;
@errorBackground:       #f2dede;
@errorBorder:           darken(spin(@errorBackground, -10), 3%);

@successText:           #468847;
@successBackground:     #dff0d8;
@successBorder:         darken(spin(@successBackground, -10), 5%);

@infoText:              #3a87ad;
@infoBackground:        #d9edf7;
@infoBorder:            darken(spin(@infoBackground, -10), 7%);

@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

// Articles
@articleIcon: 			#666666;

// RokSprocket
@listsButtons: 			#EBEBEB;

// Joomla Core
@weblinksBackground:    #F9F9F9;

// SIZE VARIABLES
@baseFontSize:			14px;
@baseLineHeight:		20px;
