/**
* @version   $Id: showcase.css 4023 2012-10-01 15:36:18Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Features - Layout Showcase - Core */
.layout-showcase {position: relative;margin: -10px -25px -25px -25px;}
.layout-showcase:after {display: table;content: "";*zoom: 1;clear: both;}
.layout-showcase ul {list-style: none !important;margin: 0;padding: 0;}
.layout-showcase .sprocket-features-container:after {content: '';clear: both;display: table;}

/* Features - Layout Showcase - Content */
.layout-showcase .sprocket-features-content {width: 48%;float: left;}
.layout-showcase .sprocket-features-title {font-size: 350%;font-weight: normal;line-height: 1.2em;display: inline;}
.layout-showcase .sprocket-features-title a {line-height: 1.2em;}
.layout-showcase .sprocket-features-desc {margin: 20px 0;}
.layout-showcase .sprocket-features-desc > span {display: inline-block;}
.layout-showcase .sprocket-features-list {position: relative;padding: 0 !important;-webkit-transform: translateZ(0); -webkit-font-smoothing: subpixel-antialiased;}
.layout-showcase .sprocket-features-list li {position: absolute;top: 0;left: 0;opacity: 0;width: 100%;height: 100%;display: none;}
.layout-showcase .sprocket-features-list li.active {position: static;height: auto;opacity: 1;display: block;}
.layout-showcase .sprocket-features-img-container {width: 50%;float: right;margin-bottom: -5px;}
.layout-showcase .sprocket-features-img-container img {-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
.layout-showcase .sprocket-features-img-container a {font-size: 0;line-height: 0;}
.layout-showcase .sprocket-features-content .readon {text-shadow: none;margin-top: 15px;}

/* Features - Layout Showcase - Navigation */
.layout-showcase .sprocket-features-arrows {position: absolute;right: 58%;bottom: 61px;}
.layout-showcase .sprocket-features-arrows .arrow {position: absolute;display: block;opacity: 0.7;cursor: pointer;z-index: 10;text-align: center;font-size: 2.8em;line-height: 0.5em;}
.layout-showcase .sprocket-features-arrows .arrow:hover {opacity: 1;}
.layout-showcase .sprocket-features-arrows .arrow.next {left: 16px;} 
.arrows-onhover .sprocket-features-arrows .arrow {opacity: 0;}
.sprocket-features.arrows-onhover:hover .sprocket-features-arrows .arrow {opacity: 1;}
.layout-showcase .sprocket-features-pagination {position: absolute;right: 59%;bottom: 25px;z-index: 10;padding: 0 !important;}
.layout-showcase .sprocket-features-pagination-hidden {display: none;}
.layout-showcase .sprocket-features-pagination li {display: inline-block;text-align: center;margin: 0 1px;width: 30px;height: 30px;opacity: 0.7;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;cursor: pointer;vertical-align: middle;}
.layout-showcase .sprocket-features-pagination li.active {opacity: 1;width: 48px;height: 48px;}
.layout-showcase .sprocket-features-pagination li:hover {opacity: 1;}
.layout-showcase .sprocket-features-pagination li.active span {font-size: 1.8em;line-height: 48px;}
.layout-showcase .sprocket-features-pagination li span {font-size: 1em;line-height: 30px;}

/* Features - Layout Showcase - Transitions */
.layout-showcase .sprocket-features-pagination li, .layout-showcase .sprocket-features-arrows .arrow {-webkit-transition: opacity 0.1s ease-in;-moz-transition: opacity 0.1s ease-in;-o-transition: opacity 0.1s ease-in;-ms-transition: opacity 0.1s ease-in;transition: opacity 0.1s ease-in;}